@import "../../node_modules/materialize-css/sass/materialize.scss";
@import "./post.scss";

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$conney-pink: #f60069;

html {
    height: 100vh;
}

body {
}

body:before {
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 65, 161, 0.6) 100%) fixed 0 0 transparent;
    content: " ";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.content-wrap {
    height: auto !important;
    margin: 0rem auto -5rem auto;
    min-height: 100%;
    padding: 0 0 5rem 0;
}

.main-header {
    .main-header-title {
        text-align:center;
        font-family: Lobster;

        a {
            color: $conney-pink;
        }
    }

    .main-header-nav {
        background: transparent;
        box-shadow: none;

        .main-header-nav-list {
            text-align: center;

            .main-header-nav-list-item {
                display: inline;
                float: none;

                .main-header-nav-list-item-link {
                    color: $conney-pink;
                    display: inline-block;
                    font-size: 2rem;

                    &:hover {
                        background: transparent;
                        color: lighten($conney-pink, 20%);
                        text-shadow: lighten($conney-pink, 30%) 1px 0 10px;
                    }
                }
            }
        }
    }
}
