---
title: ":)"
date: 2013/04/19 04:42:29
author: Casie
tumblr_id: 48337028282
tags: corgi, welsh corgi, pembroke welsh corgi, cattle dog, blue heeler, dog, cute, friends, lucy, pals, puppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlhglxkgXx1rbk0gqo3_1280.jpg' }
    %img{ alt: ':)', src: '/uploads/pictures/medium_tumblr_mlhglxkgXx1rbk0gqo3_1280.jpg', title: ':)' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlhglxkgXx1rbk0gqo1_1280.jpg' }
    %img{ alt: ':)', src: '/uploads/pictures/medium_tumblr_mlhglxkgXx1rbk0gqo1_1280.jpg', title: ':)' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlhglxkgXx1rbk0gqo2_1280.jpg' }
    %img{ alt: ':)', src: '/uploads/pictures/medium_tumblr_mlhglxkgXx1rbk0gqo2_1280.jpg', title: ':)' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlhglxkgXx1rbk0gqo4_1280.jpg' }
    %img{ alt: ':)', src: '/uploads/pictures/medium_tumblr_mlhglxkgXx1rbk0gqo4_1280.jpg', title: ':)' }/
%p :)
