---
title: "#1 squirrel chaser (Taken with instagram)"
date: 2012/04/06 20:55:16
author: Casie
tumblr_id: 20609231237
tags: 1, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m22ss5q4fB1r9wamzo1_640.jpg' }
    %img{ alt: '#1 squirrel chaser (Taken with instagram)', src: '/uploads/pictures/medium_tumblr_m22ss5q4fB1r9wamzo1_640.jpg', title: '#1 squirrel chaser (Taken with instagram)' }/
%p
  \#1 squirrel chaser (Taken with
  = succeed ")" do
    %a{ href: 'http://instagr.am' } instagram
