---
title: 2 cute
date: 2012/01/19 04:41:58
author: Casie
tumblr_id: 16101968398
tags: corgi, welsh corgi, pembroke welsh corgi, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ly13pyGxNX1r9wamzo1_1280.jpg' }
    %img{ alt: '2 cute', src: '/uploads/pictures/medium_tumblr_ly13pyGxNX1r9wamzo1_1280.jpg', title: '2 cute' }/
%p 2 cute
