---
title: "2 CUTE #corgi #corgigram #dog #happy"
date: 2013/01/12 00:05:20
author: Casie
tumblr_id: 40290786093
tags: corgi, corgigram, dog, happy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mghk8wZ1FG1r9wamzo1_640.jpg' }
    %img{ alt: '2 CUTE #corgi #corgigram #dog #happy', src: '/uploads/pictures/medium_tumblr_mghk8wZ1FG1r9wamzo1_640.jpg', title: '2 CUTE #corgi #corgigram #dog #happy' }/
%p 2 CUTE #corgi #corgigram #dog #happy
