---
title: "3 day weekend #corgi"
date: 2014/09/02 04:43:50
author: Casie
tumblr_id: 96427906464
tags: corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nb9bt25BLx1r9wamzo1_640.jpg' }
    %img{ alt: '3 day weekend #corgi', src: '/uploads/pictures/medium_tumblr_nb9bt25BLx1r9wamzo1_640.jpg', title: '3 day weekend #corgi' }/
%p 3 day weekend #corgi
