---
title: 90 Corgis in Costumes!!!
date: 2012/10/13 20:09:20
author: Casie
tumblr_id: 33515489745
tags: corgi, welsh corgi, dog, halloween, halloween costume, ginger, space corgi, tumblr
---

%p Ginger is #87!!!
