---
title: A Conney. After being discovered digging in the trash. For bone
date: 2013/05/03 02:09:21
author: Casie
tumblr_id: 49482593143
tags: corgi, welsh corgi, dog, bad dog, guilty, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mm79zlynbz1r9wamzo1_1280.jpg' }
    %img{ alt: 'A Conney. After being discovered digging in the trash. For bone nubs.', src: '/uploads/pictures/medium_tumblr_mm79zlynbz1r9wamzo1_1280.jpg', title: 'A Conney. After being discovered digging in the trash. For bone nubs.' }/
%p A Conney. After being discovered digging in the trash. For bone nubs.
