---
title: A few meetup photos from Saturday.
date: 2014/07/14 23:47:04
author: Casie
tumblr_id: 91792355624
tags: corgi, welsh corgi, pembroke welsh corgi, corgi meetup, dog park, north Texas corgis, north Texas corgi meetup, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo1_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo1_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo2_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo2_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo3_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo3_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo4_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo4_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo5_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo5_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo6_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo6_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo7_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo7_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo8_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo8_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo9_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo9_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8q7egLqP51r9wamzo10_1280.jpg' }
    %img{ alt: 'A few meetup photos from Saturday.', src: '/uploads/pictures/medium_tumblr_n8q7egLqP51r9wamzo10_1280.jpg', title: 'A few meetup photos from Saturday.' }/
%p A few meetup photos from Saturday.
