---
title: A proper corg.
date: 2014/12/28 00:02:22
author: Casie
tumblr_id: 106360082054
tags: corgi, welsh corgi, dog, crossed paws, paws, sophisticated, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nh9mrzKLoT1r9wamzo1_1280.jpg' }
    %img{ alt: 'A proper corg.', src: '/uploads/pictures/medium_tumblr_nh9mrzKLoT1r9wamzo1_1280.jpg', title: 'A proper corg.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nh9mrzKLoT1r9wamzo2_1280.jpg' }
    %img{ alt: 'A proper corg.', src: '/uploads/pictures/medium_tumblr_nh9mrzKLoT1r9wamzo2_1280.jpg', title: 'A proper corg.' }/
%p A proper corg.
