---
title: A sad Conney at an empty dog park.
date: 2012/08/18 00:04:33
author: Casie
tumblr_id: 29653721889
tags: corgi, welsh corgi, dog, dog park, lonely, sad, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m8xc7l355o1r9wamzo1_1280.jpg' }
    %img{ alt: 'A sad Conney at an empty dog park.', src: '/uploads/pictures/medium_tumblr_m8xc7l355o1r9wamzo1_1280.jpg', title: 'A sad Conney at an empty dog park.' }/
%p A sad Conney at an empty dog park.
