---
title: A satisfied Conney. All squirrels have been cleared from the
date: 2014/05/10 22:06:04
author: Casie
tumblr_id: 85355959479
tags: corgi, pembroke welsh corgi, welsh corgi, dog, spring, squirrels, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n5dpe50Dfu1r9wamzo1_1280.jpg' }
    %img{ alt: 'A satisfied Conney. All squirrels have been cleared from the yard.', src: '/uploads/pictures/medium_tumblr_n5dpe50Dfu1r9wamzo1_1280.jpg', title: 'A satisfied Conney. All squirrels have been cleared from the yard.' }/
%p A satisfied Conney. All squirrels have been cleared from the yard.
