---
title: "A skeptical Emma Bean #corgi #corgimeetup"
date: 2014/07/12 17:42:31
author: Casie
tumblr_id: 91563411604
tags: corgi, corgimeetup, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8m16v33ON1r9wamzo1_640.jpg' }
    %img{ alt: 'A skeptical Emma Bean #corgi #corgimeetup', src: '/uploads/pictures/medium_tumblr_n8m16v33ON1r9wamzo1_640.jpg', title: 'A skeptical Emma Bean #corgi #corgimeetup' }/
%p A skeptical Emma Bean #corgi #corgimeetup
