---
title: A sleepy Ginger
date: 2014/03/15 22:22:48
author: Casie
tumblr_id: 79695241364
tags: ginger, corgi, welsh corgi, pembroke welsh corgi, dog, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n2i0u07v5r1r9wamzo1_1280.jpg' }
    %img{ alt: 'A sleepy Ginger', src: '/uploads/pictures/medium_tumblr_n2i0u07v5r1r9wamzo1_1280.jpg', title: 'A sleepy Ginger' }/
%p A sleepy Ginger
