---
title: A summary of this morning's events.
date: 2012/04/27 14:04:47
author: Casie
tumblr_id: 21911907510
tags: tumblr
---

%p
  %a.tumblr_blog{ href: 'http://thefrogman.me/post/21858268290/a-summary-of-this-mornings-events' }> thefrogman
  \:
%blockquote
  %p
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33ncqMf7k1qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33nd2GE2D1qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33nddBit71qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33ndnCx0z1qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33ne42tJv1qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33nej0Nl51qzs6oc.gif' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33neyjG4O1qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33nfbD7az1qzs6oc.jpg' }/
    %img{ src: 'https://66.media.tumblr.com/tumblr_m33nflIAnr1qzs6oc.jpg' }/
