---
title: About a week ago, I was driving down my street and as I
date: 2015/05/07 00:44:27
author: Casie
tumblr_id: 118324669004
tags: adoption, pet adoption, carrollton tx, dallas, dallas tx, north dallas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nnyc0qHwej1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: About a week ago, I was driving down my street and as I approached my house this dog was walking across my drive', src: '/uploads/pictures/medium_tumblr_nnyc0qHwej1r4omsco1_1280.jpg', title: 'emmathebean: About a week ago, I was driving down my street and as I approached my house this dog was walking across my drive' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/118319742435/about-a-week-ago-i-was-driving-down-my-street-and' }> emmathebean
  \:
%blockquote
  %p About a week ago, I was driving down my street and as I approached my house this dog was walking across my drive way. Then into the neighbors.. And into the street.
  %p I parked, almost lost a shoe, and ran into the street after her.
  %p I had to chase her a couple houses down, and then I just sat down. I bowed my head and licked my lips. She slowly walked over and let me pet her. Then, she let out the saddest howl I've ever heard in my life.
  %p My dog.. My dog is spoiled. She wants for nothing. She barks AT MY FACE because we are not moving out the door fast enough. Emma has never made a pain sound in the four years I've had her, and I work TIRELESSLY to make sure she stays that way. But, this dog.. This dog had been on the streets for a couple days as noted my not so concerned neighbors. Who were nice enough to lend me some rope, so I could walk her back home.
  %p We got into the house. I gave her water, a treat and she declined. But she did want pets. And slowly she started to fall asleep on my hand. Maybe she just needed rest and comfort…
  %p What happened next was that I had to call a shelter to come get her. If you know Emma, then you know she's very bossy and very territorial about her things. (Pudge knows. She tried to take off his face once. Okay, several times.) and so I helped coax her out of my house and into an animal control van….
  %p It breaks my heart, guys. 7 days and no one has claimed her. I have messaged rescues and only one has responded to me. They said they only take dogs who have a dedicated foster already. In the corgi community, we all jump at rescues and dogs in need - because we all have a passion for our breed. But, what I'm finding with pitty/staffy mixes is they are just "another dog"…
  %p So, what I'm asking (and thank you if you got this far) - this dog is in Carrollton, Texas. She deserves a home. She deserves people. Please share, please help me find her a place where she belongs.
  %p - Nicole
