---
title: Action shot!
date: 2012/09/08 21:45:46
author: Casie
tumblr_id: 31150408481
tags: corgi, welsh corgi, dog, pool party, swimming, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ma1wgaROVK1r9wamzo1_1280.jpg' }
    %img{ alt: 'Action shot!', src: '/uploads/pictures/medium_tumblr_ma1wgaROVK1r9wamzo1_1280.jpg', title: 'Action shot!' }/
%p Action shot!
