---
title: After work fetch/frap.
date: 2012/08/22 22:56:23
author: Casie
tumblr_id: 29993544507
tags: corgi, welsh corgi, fetch, bunny, toys, dog, frap, play, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m96idzARPx1r9wamzo1_1280.jpg' }
    %img{ alt: 'After work fetch/frap.', src: '/uploads/pictures/medium_tumblr_m96idzARPx1r9wamzo1_1280.jpg', title: 'After work fetch/frap.' }/
%p After work fetch/frap.
