---
title: Always so excited to go upstairs.
date: 2015/02/20 01:12:49
author: Casie
tumblr_id: 111517766194
tags: corgi, welsh corgi, dog, corgi butt, cute, stairs, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nk1q1d6fR31r9wamzo1_1280.jpg' }
    %img{ alt: 'Always so excited to go upstairs.', src: '/uploads/pictures/medium_tumblr_nk1q1d6fR31r9wamzo1_1280.jpg', title: 'Always so excited to go upstairs.' }/
%p Always so excited to go upstairs.
