---
title: Always ready for the possible squirrel invasion.
date: 2015/04/15 23:04:47
author: Casie
tumblr_id: 116504805639
tags: corgi, welsh corgi, dog, squirrel, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nmverz06Yp1r9wamzo1_1280.jpg' }
    %img{ alt: 'Always ready for the possible squirrel invasion.', src: '/uploads/pictures/medium_tumblr_nmverz06Yp1r9wamzo1_1280.jpg', title: 'Always ready for the possible squirrel invasion.' }/
%p Always ready for the possible squirrel invasion.
