---
title: Anatomy of a Corgi run
date: 2012/03/04 20:55:18
author: Casie
tumblr_id: 18747061190
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lznsf1bVSu1qbwakso1_1280.jpg' }
    %img{ alt: 'corgiaddict: Anatomy of a Corgi run', src: '/uploads/pictures/medium_tumblr_lznsf1bVSu1qbwakso1_1280.jpg', title: 'corgiaddict: Anatomy of a Corgi run' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/18737758506' }> corgiaddict
  \:
%blockquote
  %p Anatomy of a Corgi run
