---
title: Another photo of Conney from the day we adopted her. The best
date: 2013/01/02 04:53:04
author: Casie
tumblr_id: 39447400831
tags: corgi, welsh corgi, dog, adoption, pet, welshcorgi, pembroke welsh corgi, cute, snuggles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mfzewgiUS31r9wamzo1_1280.jpg' }
    %img{ alt: 'Another photo of Conney from the day we adopted her. The best dog!', src: '/uploads/pictures/medium_tumblr_mfzewgiUS31r9wamzo1_1280.jpg', title: 'Another photo of Conney from the day we adopted her. The best dog!' }/
%p Another photo of Conney from the day we adopted her. The best dog!
