---
title: Anti-daylight savings Conney.
date: 2014/03/10 13:05:53
author: Casie
tumblr_id: 79160981204
tags: corgi, pembroke welsh corgi, welsh corgi, dog, sleepy, daylight savings, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n281ptkl3T1r9wamzo1_1280.jpg' }
    %img{ alt: 'Anti-daylight savings Conney.', src: '/uploads/pictures/medium_tumblr_n281ptkl3T1r9wamzo1_1280.jpg', title: 'Anti-daylight savings Conney.' }/
%p Anti-daylight savings Conney.
