---
title: awww he looks like a tiny bear!!!
date: 2012/08/14 04:36:22
author: Casie
tumblr_id: 29389058456
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m83od7VEUC1rcfwcvo1_1280.jpg' }
    %img{ alt: 'She said that I look like the Scrooge McDog', src: '/uploads/pictures/medium_tumblr_m83od7VEUC1rcfwcvo1_1280.jpg', title: 'She said that I look like the Scrooge McDog' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m83od7VEUC1rcfwcvo2_1280.jpg' }
    %img{ alt: 'Sneaky Wilson trusts no-one!', src: '/uploads/pictures/medium_tumblr_m83od7VEUC1rcfwcvo2_1280.jpg', title: 'Sneaky Wilson trusts no-one!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m83od7VEUC1rcfwcvo3_1280.jpg' }
    %img{ alt: ':c i can has no noms?', src: '/uploads/pictures/medium_tumblr_m83od7VEUC1rcfwcvo3_1280.jpg', title: ':c i can has no noms?' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m83od7VEUC1rcfwcvo4_1280.jpg' }
    %img{ alt: "I'm dashing around because... screw you thats why!", src: '/uploads/pictures/medium_tumblr_m83od7VEUC1rcfwcvo4_1280.jpg', title: "I'm dashing around because... screw you thats why!" }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/29341978867' }> corgiaddict
  \:
%blockquote
  %p awww he looks like a tiny bear!!!
