---
title: Back at the vet with Conney getting X-rays and blood work. She
date: 2015/08/17 14:04:42
author: Casie
tumblr_id: 126911969079
tags: corgi, vet, tumblr
---

%p Back at the vet with Conney getting X-rays and blood work. She was better for about a week and a half, but in the last few days has not been feeling well. The vet is worried there may be fluid build up or a mass in her digestive area 😢
