---
title: "Bandana! #corgi #corgigram #dog"
date: 2013/04/27 16:01:16
author: Casie
tumblr_id: 49013578985
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlx8i4LU421r9wamzo1_640.jpg' }
    %img{ alt: 'Bandana! #corgi #corgigram #dog', src: '/uploads/pictures/medium_tumblr_mlx8i4LU421r9wamzo1_640.jpg', title: 'Bandana! #corgi #corgigram #dog' }/
%p Bandana! #corgi #corgigram #dog
