---
title: Bark cam!
date: 2014/07/16 00:07:13
author: Casie
tumblr_id: 91895700544
tags: corgi, pembroke welsh corgi, welsh corgi, dog, bark cam, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8s301F2fY1r9wamzo1_640.jpg' }
    %img{ alt: 'Bark cam!', src: '/uploads/pictures/medium_tumblr_n8s301F2fY1r9wamzo1_640.jpg', title: 'Bark cam!' }/
%p Bark cam!
