---
title: "Barky dog #corgi #corgigram #dog"
date: 2013/06/09 16:54:34
author: Casie
tumblr_id: 52554709798
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mo4xmyEtPC1r9wamzo1_640.jpg' }
    %img{ alt: 'Barky dog #corgi #corgigram #dog', src: '/uploads/pictures/medium_tumblr_mo4xmyEtPC1r9wamzo1_640.jpg', title: 'Barky dog #corgi #corgigram #dog' }/
%p Barky dog #corgi #corgigram #dog
