---
title: Best Bully order is here!!! Treats treats treats!!
date: 2012/05/04 22:20:56
author: Casie
tumblr_id: 22404991460
tags: corgi, welsh corgi, treats, dog treats, best bully, bestbullysticks.com, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3irewIDGX1r9wamzo1_1280.png' }
    %img{ alt: 'Best Bully order is here!!! Treats treats treats!!', src: '/uploads/pictures/medium_tumblr_m3irewIDGX1r9wamzo1_1280.png', title: 'Best Bully order is here!!! Treats treats treats!!' }/
%p Best Bully order is here!!! Treats treats treats!!
