---
title: Better get the rake out!
date: 2014/11/28 21:26:27
author: Casie
tumblr_id: 103831817249
tags: corgi, welsh corgi, dog, cute, fall, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfrq83Pa5H1r9wamzo1_1280.jpg' }
    %img{ alt: 'Better get the rake out!', src: '/uploads/pictures/medium_tumblr_nfrq83Pa5H1r9wamzo1_1280.jpg', title: 'Better get the rake out!' }/
%p Better get the rake out!
