---
title: bffs
date: 2013/09/01 17:01:44
author: Casie
tumblr_id: 59986832809
tags: corgi, welsh corgi, blue heeler, corgi mix, bffs, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_msf5dzS7ZF1rbk0gqo2_1280.jpg' }
    %img{ alt: 'leisurelylucy: bffs', src: '/uploads/pictures/medium_tumblr_msf5dzS7ZF1rbk0gqo2_1280.jpg', title: 'leisurelylucy: bffs' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_msf5dzS7ZF1rbk0gqo1_1280.jpg' }
    %img{ alt: 'leisurelylucy: bffs', src: '/uploads/pictures/medium_tumblr_msf5dzS7ZF1rbk0gqo1_1280.jpg', title: 'leisurelylucy: bffs' }/
%p
  %a.tumblr_blog{ href: 'http://leisurelylucy.tumblr.com/post/59911231246/bffs' }> leisurelylucy
  \:
%blockquote
  %p bffs
