---
title: Brand New Look! Same Great Corgi!
date: 2013/01/10 03:37:59
author: Sean
---

%p I finally got around to updating Conney's site! Most of the changes can't really be seen on the public facing side of things. But a few of them can. Hopefully the new layout is a little bit nicer on smaller screens.
%p
  The pictures section is now much closer to how I want it and it actually properly responds to the browser resizing. It's using the ever so snazzy
  = succeed "." do
    %a{ href: 'http://isotope.metafizzy.co/' } Isotope
  = succeed "." do
    %a{ href: 'http://twitter.github.com/bootstrap/' } Twitter Bootstrap
%p
%p
  If you're interested in how Conney's site is made you can check out the source on
  = succeed "." do
    %a{ href: 'https://github.com/seaneshbaugh/corgiblog' } GitHub
%p Enough of the boring stuff, here's some pictures of Conney's first snow:
%p.center
  %img{ alt: "Conney's First Snow!", src: '/images/uploads/pictures/1357787982663675.jpg' }/
%p.center
  %img{ alt: "Conney's First Snow!", src: '/images/uploads/pictures/1357787983147393.jpg' }/
