---
title: "Brrr!! #corgi #cold"
date: 2014/11/13 04:22:27
author: Casie
tumblr_id: 102505807544
tags: corgi, cold, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_neymtg6iXo1r9wamzo1_640.jpg' }
    %img{ alt: 'Brrr!! #corgi #cold', src: '/uploads/pictures/medium_tumblr_neymtg6iXo1r9wamzo1_640.jpg', title: 'Brrr!! #corgi #cold' }/
%p Brrr!! #corgi #cold
