---
title: Buds.
date: 2012/12/03 01:47:39
author: Casie
tumblr_id: 37079854787
tags: corgi, welsh corgi, dog, dogs, puppy, blue heeler, corgi mix, pals, friends, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mefmbflinu1r9wamzo1_1280.jpg' }
    %img{ alt: 'Buds.', src: '/uploads/pictures/medium_tumblr_mefmbflinu1r9wamzo1_1280.jpg', title: 'Buds.' }/
%p Buds.
