---
title: Bunny is hungry&hellip; I is too. Submitted by Liz
date: 2012/10/03 01:15:27
author: Casie
tumblr_id: 32775048272
tags: corgi, floppy, welsh corgi, submission, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mah5hskaT41qbwakso1_1280.jpg' }
    %img{ alt: 'corgiaddict: Bunny is hungry… I is too. Submitted by Liz Hi Conney twin!', src: '/uploads/pictures/medium_tumblr_mah5hskaT41qbwakso1_1280.jpg', title: 'corgiaddict: Bunny is hungry… I is too. Submitted by Liz Hi Conney twin!' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/32738245859' }> corgiaddict
  \:
%blockquote
  %p Bunny is hungry… I is too.
  %p Submitted by Liz
%p Hi Conney twin!
