---
title: But mom...it's almost 10pm. That's 20 minutes past scheduled
date: 2015/08/12 03:00:34
author: Casie
tumblr_id: 126476096064
tags: corgi, dog, welsh corgi, walks, summer, puppy eyes, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nsy8cyFIay1r9wamzo1_1280.jpg' }
    %img{ alt: "But mom…it's almost 10pm. That's 20 minutes past scheduled walk time.", src: '/uploads/pictures/medium_tumblr_nsy8cyFIay1r9wamzo1_1280.jpg', title: "But mom…it's almost 10pm. That's 20 minutes past scheduled walk time." }/
%p But mom…it's almost 10pm. That's 20 minutes past scheduled walk time.
