---
title: Buy a cool corgi fleece hat! Money goes to a registered
date: 2012/02/16 04:24:13
author: Casie
tumblr_id: 17697336186
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzgtdkU3ga1qbwakso1_640.jpg' }
    %img{ alt: 'corgiaddict: Buy a cool corgi fleece hat! Money goes to a registered non-profit, Corgi Pals!', src: '/uploads/pictures/medium_tumblr_lzgtdkU3ga1qbwakso1_640.jpg', title: 'corgiaddict: Buy a cool corgi fleece hat! Money goes to a registered non-profit, Corgi Pals!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzgtdkU3ga1qbwakso2_640.jpg' }
    %img{ alt: 'corgiaddict: Buy a cool corgi fleece hat! Money goes to a registered non-profit, Corgi Pals!', src: '/uploads/pictures/medium_tumblr_lzgtdkU3ga1qbwakso2_640.jpg', title: 'corgiaddict: Buy a cool corgi fleece hat! Money goes to a registered non-profit, Corgi Pals!' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/17692460852' }> corgiaddict
  \:
%blockquote
  %p
    %strong>
      %em
        %a{ href: 'http://www.etsy.com/listing/87202958/adult-fleece-welsh-corgi-hats-corgipals' } Buy a cool corgi fleece hat
    \!
  %p
    Money goes to a registered non-profit,
    = succeed "!" do
      %strong
        %a{ href: 'http://corgipals.org/' } Corgi Pals
