---
title: Calling All Northern Texas Corgi Addicts!!
date: 2014/07/03 16:14:44
author: Casie
tumblr_id: 90666685139
tags: corgi, north texas, corgi rescue, tumblr
---

%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/90663436411' }> corgiaddict
  \:
%blockquote
  %p Hello, Corgi Addicts! A corgi rescue near &amp; dear to the CA heart has hit a bit of a bump in the road and needs corgi addicts to step up and lend a hand!
  %p
    Corgi &amp; Critters North East Texas Rescue, Inc. (
    %a{ href: 'http://www.corgisncritters.org/', target: '_blank' }> http://www.corgisncritters.org/
    ) is losing their regular foster setup due to changes in…
