---
title: "candidcanines asked:"
date: 2012/05/20 06:35:50
author: Casie
tumblr_id: 23400610015
tags: tumblr
---

.question
  %p.asker
    %strong candidcanines
    asked:
  %p.question-text My puppy is very vocal when he plays, and it frightens some other dog owners. The people who know him aren't bothered by it because... Well, they know him! Sometimes it's hard to help other people understand the differences in dog play. They all play differently!
.answer
  %p Conney growls constantly when she's playing! I know it's all just play, but some owners of smaller dogs think she's being aggressive. It's strange because at home she NEVER barks…I mean she barked once today (while playing). She doesn't growl while playing tug of war or anything- it's just around dogs.
