---
title: Cantankerous Conney on the New Couch
date: 2013/10/12 23:19:16
author: Sean
---

%p.center We got a new couch today. Conney pretty much immediately staked her claim to the corner.
%p.center
  %img{ alt: 'Conney on the new couch', src: '/images/uploads/pictures/1381619682274770.jpg' }/
