---
title: Cheez-its! 1
date: 2014/03/20 23:10:24
author: Casie
tumblr_id: 80206520114
tags: corgi, pembroke welsh corgi, welsh corgi, dog, tongue, silly, cute, floppy ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n2rcdcBfoF1r9wamzo1_1280.jpg' }
    %img{ alt: 'Cheez-its!', src: '/uploads/pictures/medium_tumblr_n2rcdcBfoF1r9wamzo1_1280.jpg', title: 'Cheez-its!' }/
%p Cheez-its!
