---
title: Cheez-its!
date: 2016/08/25 02:37:08
author: Casie
tumblr_id: 149443027494
tags: corgi, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n2rcdcBfoF1r9wamzo1_1280.jpg' }
    %img{ alt: 'conneythecorgi: Cheez-its! And my most reblogged post.', src: '/uploads/pictures/medium_tumblr_n2rcdcBfoF1r9wamzo1_1280.jpg', title: 'conneythecorgi: Cheez-its! And my most reblogged post.' }/
%p
  %a.tumblr_blog{ href: 'http://conneythecorgi.tumblr.com/post/80206520114/cheez-its' }> conneythecorgi
  \:
%blockquote
  %p Cheez-its!
%p And my most reblogged post.
