---
title: Christmas corg.
date: 2014/11/30 03:37:27
author: Casie
tumblr_id: 103946113869
tags: corgi, welsh corgi, dog, christmas, holidays, cute, Christmas corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfu22fkExM1r9wamzo1_1280.jpg' }
    %img{ alt: 'Christmas corg.', src: '/uploads/pictures/medium_tumblr_nfu22fkExM1r9wamzo1_1280.jpg', title: 'Christmas corg.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nfu22fkExM1r9wamzo2_1280.jpg' }
    %img{ alt: 'Christmas corg.', src: '/uploads/pictures/medium_tumblr_nfu22fkExM1r9wamzo2_1280.jpg', title: 'Christmas corg.' }/
%p Christmas corg.
