---
title: Christmas came early for this dog.
date: 2014/12/09 00:04:13
author: Casie
tumblr_id: 104712310614
tags: corgi, welsh corgi, spoiled, best bully sticks, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ngag71Tu321r9wamzo1_1280.jpg' }
    %img{ alt: 'Christmas came early for this dog.', src: '/uploads/pictures/medium_tumblr_ngag71Tu321r9wamzo1_1280.jpg', title: 'Christmas came early for this dog.' }/
%p Christmas came early for this dog.
