---
title: Christmas Lucy!
date: 2014/12/22 03:16:40
author: Casie
tumblr_id: 105833538994
tags: corgi mix, blue heeler mix, Lucy, dog, chrsitmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ngyrrsx8lh1r9wamzo1_1280.jpg' }
    %img{ alt: 'Christmas Lucy!', src: '/uploads/pictures/medium_tumblr_ngyrrsx8lh1r9wamzo1_1280.jpg', title: 'Christmas Lucy!' }/
%p Christmas Lucy!
