---
title: Christmas break starts...now!!
date: 2014/12/23 04:19:51
author: Casie
tumblr_id: 105931771759
tags: corgi, welsh corgi, dog, naps, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nh0pd4urIY1r9wamzo1_1280.jpg' }
    %img{ alt: 'Christmas break starts…now!!', src: '/uploads/pictures/medium_tumblr_nh0pd4urIY1r9wamzo1_1280.jpg', title: 'Christmas break starts…now!!' }/
%p Christmas break starts…now!!
