---
title: "Christmas corgi! #Xmas #corgi"
date: 2014/12/07 03:10:50
author: Casie
tumblr_id: 104544547004
tags: corgi, xmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ng6zi2z2EG1r9wamzo1_640.jpg' }
    %img{ alt: 'Christmas corgi! #Xmas #corgi', src: '/uploads/pictures/medium_tumblr_ng6zi2z2EG1r9wamzo1_640.jpg', title: 'Christmas corgi! #Xmas #corgi' }/
%p Christmas corgi! #Xmas #corgi
