---
title: "#christmascorgi"
date: 2013/12/05 04:17:47
author: Casie
tumblr_id: 69045872504
tags: christmascorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mxbfxnZTBJ1r9wamzo1_640.jpg' }
    %img{ alt: '#christmascorgi', src: '/uploads/pictures/medium_tumblr_mxbfxnZTBJ1r9wamzo1_640.jpg', title: '#christmascorgi' }/
%p #christmascorgi
