---
title: Christmas corgis!
date: 2012/12/16 03:35:49
author: Casie
tumblr_id: 38034327762
tags: corgi, welsh corgi, corgi mix, corgis, blue heeler, blue heeler mix, christmas, merry christmas, holidays, christmas corgis, cute, cute christmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mf3troGGgY1rbk0gqo1_1280.jpg' }
    %img{ alt: 'Christmas corgis!', src: '/uploads/pictures/medium_tumblr_mf3troGGgY1rbk0gqo1_1280.jpg', title: 'Christmas corgis!' }/
%p Christmas corgis!
