---
title: Christmas with Ginger... (derp).
date: 2012/12/23 22:16:00
author: Casie
tumblr_id: 38658441303
tags: corgi, welsh corgi, welshcorgi, pembroke welsh corgi, ginger, christmas, christmas corgi, corgi christmas, merry christmas, holidays, cute, bow, christmascorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mfi8j671Ad1r9wamzo1_1280.jpg' }
    %img{ alt: 'Christmas with Ginger… (derp).', src: '/uploads/pictures/medium_tumblr_mfi8j671Ad1r9wamzo1_1280.jpg', title: 'Christmas with Ginger… (derp).' }/
%p Christmas with Ginger… (derp).
