---
title: "Clean &amp; fluffy Conney #corgi #cute 1"
date: 2014/04/20 22:21:50
author: Casie
tumblr_id: 83346024340
tags: corgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n4cosfc3Wc1r9wamzo1_640.jpg' }
    %img{ alt: 'Clean &amp; fluffy Conney #corgi #cute', src: '/uploads/pictures/medium_tumblr_n4cosfc3Wc1r9wamzo1_640.jpg', title: 'Clean &amp; fluffy Conney #corgi #cute' }/
%p Clean &amp; fluffy Conney #corgi #cute
