---
title: "Cold front! #knitting #knit #scarf #brrr (Taken with Instagram)"
date: 2012/10/06 02:31:27
author: Casie
tumblr_id: 32980428379
tags: knit, knitting, brrr, scarf, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mbg9ofVsfe1r9wamzo1_640.jpg' }
    %img{ alt: 'Cold front! #knitting #knit #scarf #brrr (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_mbg9ofVsfe1r9wamzo1_640.jpg', title: 'Cold front! #knitting #knit #scarf #brrr (Taken with Instagram)' }/
%p
  Cold front! #knitting #knit #scarf #brrr (Taken with
  = succeed ")" do
    %a{ href: 'http://instagram.com' } Instagram
