---
title: Cold weather corgi snuggles
date: 2013/11/23 02:59:20
author: Casie
tumblr_id: 67810185351
tags: corgi, pembroke welsh corgi, dog, snuggles, welsh corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mwp4ax8Ysp1r9wamzo1_1280.jpg' }
    %img{ alt: 'Cold weather corgi snuggles', src: '/uploads/pictures/medium_tumblr_mwp4ax8Ysp1r9wamzo1_1280.jpg', title: 'Cold weather corgi snuggles' }/
%p Cold weather corgi snuggles
