---
title: Comfy Conney!
date: 2013/03/25 04:01:03
author: Casie
tumblr_id: 46226576729
tags: corgi, welsh corgi, pembroke welsh corgi, dog, cute, sleepy, sleepy dog, comfy corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mk775rKv4a1r9wamzo1_1280.jpg' }
    %img{ alt: 'Comfy Conney!', src: '/uploads/pictures/medium_tumblr_mk775rKv4a1r9wamzo1_1280.jpg', title: 'Comfy Conney!' }/
%p Comfy Conney!
