---
title: Conney Butt
date: 2012/01/17 03:57:00
author: Sean
---

%p.center
  %img{ alt: 'Conney Butt', src: '/uploads/pictures/1326772524116094.jpg', title: 'Conney Butt' }/
%p.center
  %a{ href: 'https://twitter.com/#!/search/%23corgibutt' } #corgibutt
