---
title: Conney's a Little Upset Because She Got a Bath
date: 2012/04/24 03:57:12
author: Sean
---

%p.center
  %img{ alt: "But I don't want a bath!", src: '/images/uploads/pictures/1335239721672760.jpg', title: "But I don't want a bath!" }/
%p.center She's nice and clean now, but boy is she pouty.
