---
title: Conney sleeps in the weirdest positions
date: 2012/02/05 18:06:43
author: Casie
tumblr_id: 17101535545
tags: corgi, naps, sleepy, welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lyxmb71fKP1r9wamzo1_1280.png' }
    %img{ alt: 'Conney sleeps in the weirdest positions', src: '/uploads/pictures/medium_tumblr_lyxmb71fKP1r9wamzo1_1280.png', title: 'Conney sleeps in the weirdest positions' }/
%p Conney sleeps in the weirdest positions
