---
title: Conney's silent protest for more hang outs with emmathebean
date: 2014/08/18 23:25:56
author: Casie
tumblr_id: 95137752104
tags: corgi, welsh corgi, mud, muddy paws, dirty, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_naizr8F3mg1r9wamzo1_1280.jpg' }
    %img{ alt: "Conney's silent protest for more hang outs with emmathebean", src: '/uploads/pictures/medium_tumblr_naizr8F3mg1r9wamzo1_1280.jpg', title: "Conney's silent protest for more hang outs with emmathebean" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_naizr8F3mg1r9wamzo2_1280.jpg' }
    %img{ alt: "Conney's silent protest for more hang outs with emmathebean", src: '/uploads/pictures/medium_tumblr_naizr8F3mg1r9wamzo2_1280.jpg', title: "Conney's silent protest for more hang outs with emmathebean" }/
%p
  Conney's silent protest for more hang outs with
  %a.tumblelog{ href: 'http://tmblr.co/mioXbsKR0pwcJJfWwzoES2w' } emmathebean
