---
title: Conney swims (walks until her chest gets wet). And gets very
date: 2014/09/09 01:18:24
author: Casie
tumblr_id: 97017925229
tags: corgi, welsh corgi, corgi meetup, pool party, swimming corgi, cute, party hat, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nbm0yoUdZf1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.', src: '/uploads/pictures/medium_tumblr_nbm0yoUdZf1r9wamzo1_1280.jpg', title: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbm0yoUdZf1r9wamzo2_1280.jpg' }
    %img{ alt: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.', src: '/uploads/pictures/medium_tumblr_nbm0yoUdZf1r9wamzo2_1280.jpg', title: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbm0yoUdZf1r9wamzo3_1280.jpg' }
    %img{ alt: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.', src: '/uploads/pictures/medium_tumblr_nbm0yoUdZf1r9wamzo3_1280.jpg', title: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbm0yoUdZf1r9wamzo4_1280.jpg' }
    %img{ alt: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.', src: '/uploads/pictures/medium_tumblr_nbm0yoUdZf1r9wamzo4_1280.jpg', title: 'Conney swims (walks until her chest gets wet). And gets very huffy and barky.' }/
%p Conney swims (walks until her chest gets wet). And gets very huffy and barky.
