---
title: Conney came to visit Lucy again!
date: 2012/07/23 23:42:00
author: Casie
tumblr_id: 27868413255
tags: corgi, welsh corgi, dog, blue heeler, puppy, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m7lieeDutd1rbk0gqo2_1280.jpg' }
    %img{ alt: "leisurelylucy: Conney came to visit Lucy again! Derp… Now that I'm actually on my computer…ya'll should follow my brother's blog", src: '/uploads/pictures/medium_tumblr_m7lieeDutd1rbk0gqo2_1280.jpg', title: "leisurelylucy: Conney came to visit Lucy again! Derp… Now that I'm actually on my computer…ya'll should follow my brother's blog" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m7lieeDutd1rbk0gqo1_r1_1280.jpg' }
    %img{ alt: "leisurelylucy: Conney came to visit Lucy again! Derp… Now that I'm actually on my computer…ya'll should follow my brother's blog", src: '/uploads/pictures/medium_tumblr_m7lieeDutd1rbk0gqo1_r1_1280.jpg', title: "leisurelylucy: Conney came to visit Lucy again! Derp… Now that I'm actually on my computer…ya'll should follow my brother's blog" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m7lieeDutd1rbk0gqo3_r1_1280.jpg' }
    %img{ alt: "leisurelylucy: Conney came to visit Lucy again! Derp… Now that I'm actually on my computer…ya'll should follow my brother's blog", src: '/uploads/pictures/medium_tumblr_m7lieeDutd1rbk0gqo3_r1_1280.jpg', title: "leisurelylucy: Conney came to visit Lucy again! Derp… Now that I'm actually on my computer…ya'll should follow my brother's blog" }/
%p
  %a.tumblr_blog{ href: 'http://leisurelylucy.tumblr.com/post/27812165809/conney-came-to-visit-lucy-again' }> leisurelylucy
  \:
%blockquote
  %p
    %a{ href: 'http://conneythecorgi.tumblr.com/' } Conney
    came to visit Lucy again!
%p Derp…
%p
  Now that I'm actually on my computer…ya'll should follow my brother's blog for his
  = succeed "." do
    %a{ href: 'http://leisurelylucy.tumblr.com/' } recently adopted puppy Lucy
