---
title: Conney at Maximum Derp.
date: 2012/05/27 17:47:34
author: Casie
tumblr_id: 23872693147
tags: corgi, welsh corgi, dog, dog park, derp, tongue, silly, derpy, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4ov45NSCp1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Conney at Maximum Derp. I love my dog.', src: '/uploads/pictures/medium_tumblr_m4ov45NSCp1r4omsco1_1280.jpg', title: 'emmathebean: Conney at Maximum Derp. I love my dog.' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/23866491967/conney-at-maximum-derp' }> emmathebean
  \:
%blockquote
  %p
    %a{ href: 'http://conneythecorgi.tumblr.com' } Conney
    at Maximum Derp.
%p I love my dog.
