---
title: Conney's opinion of the icy cold weather.
date: 2015/02/23 01:21:04
author: Casie
tumblr_id: 111814204269
tags: corgi, welsh corgi, dog, snow day, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nk7af4LdQv1r9wamzo1_1280.jpg' }
    %img{ alt: "Conney's opinion of the icy cold weather.", src: '/uploads/pictures/medium_tumblr_nk7af4LdQv1r9wamzo1_1280.jpg', title: "Conney's opinion of the icy cold weather." }/
%p Conney's opinion of the icy cold weather.
