---
title: Conney yesterday morning vs this afternoon. Had a pretty bad day
date: 2015/07/26 22:53:08
author: Casie
tumblr_id: 125118165494
tags: corgi, welsh corgi, sick, sad puppy, vet, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ns4a8k50y11r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney yesterday morning vs this afternoon. Had a pretty bad day Friday and Saturday. Conney threw up a bunch and was very', src: '/uploads/pictures/medium_tumblr_ns4a8k50y11r9wamzo1_1280.jpg', title: 'Conney yesterday morning vs this afternoon. Had a pretty bad day Friday and Saturday. Conney threw up a bunch and was very' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_ns4a8k50y11r9wamzo2_1280.jpg' }
    %img{ alt: 'Conney yesterday morning vs this afternoon. Had a pretty bad day Friday and Saturday. Conney threw up a bunch and was very', src: '/uploads/pictures/medium_tumblr_ns4a8k50y11r9wamzo2_1280.jpg', title: 'Conney yesterday morning vs this afternoon. Had a pretty bad day Friday and Saturday. Conney threw up a bunch and was very' }/
%p Conney yesterday morning vs this afternoon.
%p Had a pretty bad day Friday and Saturday. Conney threw up a bunch and was very lethargic. We were worried about something being blocked as her stomach was very bloated and tight. May have to take her back for more blood work. She had low hormone levels so we are crossing our fingers it's nothing bad. She's definitely doing better today. She's able to go up and down the stairs, chased a squirrel, and ate lots of rice.
