---
title: Conney is trying to use mind control to attempt to get half of
date: 2015/08/01 19:38:53
author: Casie
tumblr_id: 125614700314
tags: corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nsf58ulrHD1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney is trying to use mind control to attempt to get half of my sandwich. #corgi', src: '/uploads/pictures/medium_tumblr_nsf58ulrHD1r9wamzo1_1280.jpg', title: 'Conney is trying to use mind control to attempt to get half of my sandwich. #corgi' }/
%p Conney is trying to use mind control to attempt to get half of my sandwich. #corgi
