---
title: Connie the Cardigan Welsh Corgi and his magnificently large
date: 2014/08/28 23:17:05
author: Casie
tumblr_id: 96037057704
tags: corgi, Connie the corgi, name twin, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_naz2xoBrjr1qbwakso1_1280.jpg' }
    %img{ alt: 'conniethecorgi: corgiaddict: Connie the Cardigan Welsh Corgi and his magnificently large ears. Watch him grow at', src: '/uploads/pictures/medium_tumblr_naz2xoBrjr1qbwakso1_1280.jpg', title: 'conniethecorgi: corgiaddict: Connie the Cardigan Welsh Corgi and his magnificently large ears. Watch him grow at' }/
%p
  %a.tumblr_blog{ href: 'http://conniethecorgi.tumblr.com/post/96017514284/corgiaddict-connie-the-cardigan-welsh-corgi-and' }> conniethecorgi
  \:
%blockquote
  %p
    %a.tumblr_blog{ href: 'http://corgiaddict.com/post/96015707418' }> corgiaddict
    \:
  %blockquote
    %p Connie the Cardigan Welsh Corgi and his magnificently large ears.
    %p
      Watch him grow at
      %a{ href: 'http://instagram.com/conniethecorgi' } http://instagram.com/conniethecorgi
  %p Connie got posted on Corgi Addict today!!
%p Aww another Connie the corgi!
