---
title: Conney showing off her Itsy Bitsy Gatsby It's the Great Pumpkin
date: 2013/10/12 17:14:11
author: Casie
tumblr_id: 63835784448
tags: "corgi, welsh corgi, dog, fall, halloween, itsy bitsy gatsby, It&#x27;s the great pumpkin charlie brown, tumblr"
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mukfvnd7Mv1r9wamzo1_1280.jpg' }
    %img{ alt: "Conney showing off her Itsy Bitsy Gatsby It's the Great Pumpkin Charlie Brown bandana! I looooooooooove it!", src: '/uploads/pictures/medium_tumblr_mukfvnd7Mv1r9wamzo1_1280.jpg', title: "Conney showing off her Itsy Bitsy Gatsby It's the Great Pumpkin Charlie Brown bandana! I looooooooooove it!" }/
%p
  Conney showing off her
  %a{ href: 'http://www.etsy.com/shop/ItsyBitsyGatsby' } Itsy Bitsy Gatsby
  It's the Great Pumpkin Charlie Brown bandana! I looooooooooove it!
