---
title: Conney is a bit intimidated by her lamb bone.
date: 2012/02/03 00:21:09
author: Casie
tumblr_id: 16946226826
tags: corgi, welsh corgi, dog, treats, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lysjn9wXAo1r9wamzo1_1280.png' }
    %img{ alt: 'Conney is a bit intimidated by her lamb bone.', src: '/uploads/pictures/medium_tumblr_lysjn9wXAo1r9wamzo1_1280.png', title: 'Conney is a bit intimidated by her lamb bone.' }/
%p Conney is a bit intimidated by her lamb bone.
