---
title: Conney Tests Out Her New IQ Toy
date: 2012/02/16 04:07:23
author: Casie
---

%p
  I have been looking for toys that will help keep Conney entertained during the week while Sean and I are at work. Lately, she's been getting a bit mischievous: walking around on the coffee table and flinging magazines across the room (weird), tossing my shoes all over, moving anything from the dining table to the floor, etc. I've been debating treat and food dispensing toys and reading online reviews. I first decided to try out the
  = succeed "." do
    %a{ href: 'http://www.amazon.com/Ourpets-DT-10504-Smarter-Toys-Inches/dp/B003ARUKTG/ref=sr_1_1?ie=UTF8&qid=1329365053&sr=8-1' } IQ ball toy
%p.center
  %img{ alt: 'IQ Ball', src: '/uploads/pictures/1329365226192329.jpg', title: 'IQ Ball' }/
/ more
%p.center
  %img{ alt: 'IQ Ball', src: '/uploads/pictures/1329365226291460.jpg', title: 'IQ Ball' }/
%p.center
  %img{ alt: 'IQ Ball', src: '/uploads/pictures/1329365226547865.jpg', title: 'IQ Ball' }/
%p.center
  %img{ alt: 'IQ Ball', src: '/uploads/pictures/1329365226647331.jpg', title: 'IQ Ball' }/
%p.center
  %img{ alt: 'IQ Ball', src: '/uploads/pictures/1329365226850612.jpg', title: 'IQ Ball' }/
%p.center
  %img{ alt: 'IQ Ball', src: '/uploads/pictures/1329365227513800.jpg', title: 'IQ Ball' }/
%p And a video:
%p.center
  %iframe{ allowfullscreen: "", frameborder: '0', height: '480', src: 'http://www.youtube.com/embed/2K5UecHwqNE?rel=0', width: '853' }
