---
title: Conney + Emma
date: 2012/03/13 03:02:01
author: Casie
tumblr_id: 19218306421
tags: corgi, welsh corgi, dog park, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0sz3d0Akw1r9wamzo1_1280.png' }
    %img{ alt: 'Conney + Emma', src: '/uploads/pictures/medium_tumblr_m0sz3d0Akw1r9wamzo1_1280.png', title: 'Conney + Emma' }/
%p Conney + Emma
