---
title: Conney & Emma!
date: 2012/01/04 01:04:57
author: Casie
---

%p{ style: 'text-align: center;' }
  %img{ src: '/images/uploads/pictures/1325639053967959.jpg' }/
%p
  Conney met a new friend today!
  %a{ href: 'http://emmathebean.tumblr.com/' } Emma!
