---
title: Conney always steals my spot.
date: 2012/11/13 06:13:12
author: Casie
tumblr_id: 35622972893
tags: corgi, welsh corgi, dog, bed, sleepy, zzzz, that conney agenda, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mdexa0MY8Q1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney always steals my spot.', src: '/uploads/pictures/medium_tumblr_mdexa0MY8Q1r9wamzo1_1280.jpg', title: 'Conney always steals my spot.' }/
%p Conney always steals my spot.
