---
title: Conney after jumping in the lake at the dog park (and regretting
date: 2012/05/04 03:18:21
author: Casie
tumblr_id: 22364916226
tags: corgi, welsh corgi, dog park, lake, swimming, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3hailwhFE1r9wamzo1_1280.png' }
    %img{ alt: 'Conney after jumping in the lake at the dog park (and regretting it).', src: '/uploads/pictures/medium_tumblr_m3hailwhFE1r9wamzo1_1280.png', title: 'Conney after jumping in the lake at the dog park (and regretting it).' }/
%p Conney after jumping in the lake at the dog park (and regretting it).
