---
title: Conney. Lamb bone hoarder.
date: 2013/01/30 02:22:09
author: Casie
tumblr_id: 41833183359
tags: corgi, welsh corgi, pembroke welsh corgi, dog, treats, dog bones, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mhf2kxGGii1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney. Lamb bone hoarder.', src: '/uploads/pictures/medium_tumblr_mhf2kxGGii1r9wamzo1_1280.jpg', title: 'Conney. Lamb bone hoarder.' }/
%p Conney. Lamb bone hoarder.
