---
title: Conney has herself plopped in front of the fan.
date: 2012/07/29 22:10:21
author: Casie
tumblr_id: 28289874365
tags: corgi, hot, summer, gross, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m7y099sids1r9wamzo1_640.jpg' }
    %img{ alt: 'Conney has herself plopped in front of the fan.', src: '/uploads/pictures/medium_tumblr_m7y099sids1r9wamzo1_640.jpg', title: 'Conney has herself plopped in front of the fan.' }/
%p Conney has herself plopped in front of the fan.
