---
title: Conney &amp; Emma!
date: 2012/01/05 00:38:48
author: Casie
tumblr_id: 15318418968
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxav4oGTBm1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney &amp; Emma!', src: '/uploads/pictures/medium_tumblr_lxav4oGTBm1r9wamzo1_1280.jpg', title: 'Conney &amp; Emma!' }/
%p
  Conney &amp;
  = succeed "!" do
    %a{ href: 'http://emmathebean.tumblr.com/' } Emma
