---
title: Conney Loves Yarn
date: 2012/03/15 03:51:14
author: Sean
---

%p You'd think that as much as Conney dislikes cats she wouldn't much act like one. Well a couple of weeks ago she got into Casie's knitting yarn and had a ball.
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783078827205.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783078938781.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783564284956.jpg', title: 'Conney playing with yarn' }/
/ more
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783078711982.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783079555220.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783082161220.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783082116368.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783082220868.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783081668275.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783081770920.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783081917240.jpg', title: 'Conney playing with yarn' }/
%p.center
  %img{ alt: 'Conney playing with yarn', src: '/uploads/pictures/1331783078558264.jpg', title: 'Conney playing with yarn' }/
%p These are from February 24th. I've got more photos on my phone I need to upload. I'll probably do it tomorrow.
