---
title: Conney likes my yarn.
date: 2012/02/25 05:18:53
author: Casie
tumblr_id: 18234435206
tags: corgi, welsh corgi, dog, yarn, knitting, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzxo3hyevj1r9wamzo1_1280.png' }
    %img{ alt: 'Conney likes my yarn.', src: '/uploads/pictures/medium_tumblr_lzxo3hyevj1r9wamzo1_1280.png', title: 'Conney likes my yarn.' }/
%p Conney likes my yarn.
