---
title: Conney got a new bed in my office (aka treat eating room) since
date: 2015/02/13 22:49:53
author: Casie
tumblr_id: 110932342804
tags: corgi, welsh corgi, dog, dog bed, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_njqff54A691r9wamzo1_1280.jpg' }
    %img{ alt: "Conney got a new bed in my office (aka treat eating room) since she's in here so much. Reluctantly was picked up and put in.", src: '/uploads/pictures/medium_tumblr_njqff54A691r9wamzo1_1280.jpg', title: "Conney got a new bed in my office (aka treat eating room) since she's in here so much. Reluctantly was picked up and put in." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_njqff54A691r9wamzo2_1280.jpg' }
    %img{ alt: "Conney got a new bed in my office (aka treat eating room) since she's in here so much. Reluctantly was picked up and put in.", src: '/uploads/pictures/medium_tumblr_njqff54A691r9wamzo2_1280.jpg', title: "Conney got a new bed in my office (aka treat eating room) since she's in here so much. Reluctantly was picked up and put in." }/
%p Conney got a new bed in my office (aka treat eating room) since she's in here so much. Reluctantly was picked up and put in. Then got out to lay on the floor next to it.
