---
title: Conney. In the middle of the football field in the Cotton Bowl
date: 2013/04/07 22:52:29
author: Casie
tumblr_id: 47406937687
tags: corgi, dallas, corgigram, dog, cottonbowl, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mkwq7iii0X1r9wamzo1_640.jpg' }
    %img{ alt: 'Conney. In the middle of the football field in the Cotton Bowl stadium. #corgi #corgigram #dog #cottonbowl #dallas (at Cotton', src: '/uploads/pictures/medium_tumblr_mkwq7iii0X1r9wamzo1_640.jpg', title: 'Conney. In the middle of the football field in the Cotton Bowl stadium. #corgi #corgigram #dog #cottonbowl #dallas (at Cotton' }/
%p Conney. In the middle of the football field in the Cotton Bowl stadium. #corgi #corgigram #dog #cottonbowl #dallas (at Cotton Bowl)
