---
title: Conney at the Dog Park
date: 2012/01/14 05:27:38
author: Sean
---

.center.video-container
  %iframe{ allowfullscreen: "", frameborder: '0', height: '480', src: 'http://www.youtube.com/embed/nRDh3l0_Xis', width: '640' }
