---
title: Conney accepts any and all pets. Even those awkward ones with a
date: 2014/04/29 01:59:59
author: Casie
tumblr_id: 84183741959
tags: corgi, welsh corgi, dog, broken hand, pets, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n4rs7zRS811r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney accepts any and all pets. Even those awkward ones with a splint.', src: '/uploads/pictures/medium_tumblr_n4rs7zRS811r9wamzo1_1280.jpg', title: 'Conney accepts any and all pets. Even those awkward ones with a splint.' }/
%p Conney accepts any and all pets. Even those awkward ones with a splint.
