---
title: Conney is excited I have a 4 day weekend and am working on
date: 2012/05/17 20:50:34
author: Casie
tumblr_id: 23245817018
tags: corgi, welsh corgi, dog, spring cleaning, cleaning, outside, summer, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m46pwbTFcf1r9wamzo1_1280.png' }
    %img{ alt: 'Conney is excited I have a 4 day weekend and am working on cleaning the patio. She was very popular at Home Depot!', src: '/uploads/pictures/medium_tumblr_m46pwbTFcf1r9wamzo1_1280.png', title: 'Conney is excited I have a 4 day weekend and am working on cleaning the patio. She was very popular at Home Depot!' }/
%p Conney is excited I have a 4 day weekend and am working on cleaning the patio. She was very popular at Home Depot!
