---
title: Conney Doesn't Like Cats
date: 2012/01/11 00:41:19
author: Casie
---

%p.center
  %img{ alt: 'Conney Searching for Cats', src: '/images/uploads/pictures/1326242384556247.jpg', title: 'Conney Searching for Cats' }/
/ more
%p.center
  %img{ alt: 'Conney Searching for Cats', src: '/images/uploads/pictures/1326242384665919.jpg', title: 'Conney Searching for Cats' }/
%p.center
  %img{ alt: 'Conney Searching for Cats', src: '/images/uploads/pictures/1326242384786208.jpg', title: 'Conney Searching for Cats' }/
%p Conney is determined that under every car is a cat waiting to be chased.
