---
title: Conney's first bath!
date: 2012/01/08 23:48:52
author: Casie
---

%p It's been a week since we got Conney and what a stinky week it's been. We didn't want to give Conney a bath right away because she needed some time to adjust. Today though, she got her first bath! Now she smells like mangos (with just a hint of that usual dog scent).
%p We didn't get any pictures of her in the bath, for obvious reasons, but here's some of her going crazy while she dries off
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066053542627.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066053644677.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066053794149.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066053895012.jpg', title: "Conney's first bath!" }/
/ more
%p And here's Conney getting brushed. She actually seems to like it!
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066053997101.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066054987070.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066054266600.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066054366926.jpg', title: "Conney's first bath!" }/
%p.center
  %img{ alt: "Conney's first bath!", src: '/images/uploads/pictures/1326066054467344.jpg', title: "Conney's first bath!" }/
