---
title: Conney Keeping Me Company
date: 2015/08/23 21:39:39
author: Sean
---

%p Casie just left to go to the store. I stayed to keep Conney company. It feels more like it's the other way around.
%p.center
  %a{ href: '/images/uploads/pictures/1440365547187860.jpg' }
    %img{ src: '/images/uploads/pictures/1440365547187860.jpg' }/
