---
title: Conney can't help but be cute all the time.
date: 2012/09/25 23:58:00
author: Casie
tumblr_id: 32293710764
tags: corgi, welsh corgi, dog, cute, dog park, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mavqs3BJj21r4omsco3_1280.jpg' }
    %img{ alt: "emmathebean: Conney can't help but be cute all the time.", src: '/uploads/pictures/medium_tumblr_mavqs3BJj21r4omsco3_1280.jpg', title: "emmathebean: Conney can't help but be cute all the time." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mavqs3BJj21r4omsco1_1280.jpg' }
    %img{ alt: "emmathebean: Conney can't help but be cute all the time.", src: '/uploads/pictures/medium_tumblr_mavqs3BJj21r4omsco1_1280.jpg', title: "emmathebean: Conney can't help but be cute all the time." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mavqs3BJj21r4omsco2_1280.jpg' }
    %img{ alt: "emmathebean: Conney can't help but be cute all the time.", src: '/uploads/pictures/medium_tumblr_mavqs3BJj21r4omsco2_1280.jpg', title: "emmathebean: Conney can't help but be cute all the time." }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/32263249509/conney-cant-help-but-be-cute-all-the-time' }> emmathebean
  \:
%blockquote
  %p
    %a{ href: 'http://conneythecorgi.tumblr.com' } Conney
    can't help but be cute all the time.
