---
title: Conney + Kyle
date: 2012/02/14 05:13:51
author: Casie
tumblr_id: 17595116724
tags: corgi, welsh corgi, dog, brother, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzdaj4CCSK1r9wamzo1_1280.png' }
    %img{ alt: 'Conney + Kyle', src: '/uploads/pictures/medium_tumblr_lzdaj4CCSK1r9wamzo1_1280.png', title: 'Conney + Kyle' }/
%p Conney + Kyle
