---
title: Conney had a rough evening with all the storms. She was already
date: 2012/06/07 04:37:45
author: Casie
tumblr_id: 24591265964
tags: corgi, welsh corgi, dog, thunder, thunderstorm, scared, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m58cux18dE1r9wamzo1_1280.png' }
    %img{ alt: 'Conney had a rough evening with all the storms. She was already in bed while I was in the living room watching tv!', src: '/uploads/pictures/medium_tumblr_m58cux18dE1r9wamzo1_1280.png', title: 'Conney had a rough evening with all the storms. She was already in bed while I was in the living room watching tv!' }/
%p Conney had a rough evening with all the storms. She was already in bed while I was in the living room watching tv!
