---
title: Conney and Pickles
date: 2012/04/07 00:38:36
author: Casie
tumblr_id: 20621422761
tags: corgi, welsh corgi, dog park, 2 corgis, dogs, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2334cDzma1r9wamzo1_1280.png' }
    %img{ alt: 'Conney and Pickles', src: '/uploads/pictures/medium_tumblr_m2334cDzma1r9wamzo1_1280.png', title: 'Conney and Pickles' }/
%p Conney and Pickles
