---
title: Conney eating her first doggy sno cone from Sugar Mountain in
date: 2015/06/14 21:22:58
author: Casie
tumblr_id: 121535129504
tags: corgi, welsh corgi, sno cone, hot, summer, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_npye2ajaag1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!', src: '/uploads/pictures/medium_tumblr_npye2ajaag1r9wamzo1_1280.jpg', title: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_npye2ajaag1r9wamzo2_1280.jpg' }
    %img{ alt: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!', src: '/uploads/pictures/medium_tumblr_npye2ajaag1r9wamzo2_1280.jpg', title: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_npye2ajaag1r9wamzo3_1280.jpg' }
    %img{ alt: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!', src: '/uploads/pictures/medium_tumblr_npye2ajaag1r9wamzo3_1280.jpg', title: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_npye2ajaag1r9wamzo4_1280.jpg' }
    %img{ alt: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!', src: '/uploads/pictures/medium_tumblr_npye2ajaag1r9wamzo4_1280.jpg', title: 'Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!' }/
%p Conney eating her first doggy sno cone from Sugar Mountain in Plano. Peanut butter and banana flavor. She snarfed it down!
