---
title: Conney got a cookie dropped on her, and ended up with frosting
date: 2012/05/20 22:05:45
author: Casie
tumblr_id: 23441148944
tags: corgi, welsh corgi, dog, baking, cooking, frosting, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4cddlBXTM1r9wamzo1_1280.png' }
    %img{ alt: 'Conney got a cookie dropped on her, and ended up with frosting on her nose!', src: '/uploads/pictures/medium_tumblr_m4cddlBXTM1r9wamzo1_1280.png', title: 'Conney got a cookie dropped on her, and ended up with frosting on her nose!' }/
%p Conney got a cookie dropped on her, and ended up with frosting on her nose!
