---
title: Conney at Dirty Dawgz
date: 2012/02/19 00:48:49
author: Sean
---

%p
  Today at
  %a{ href: 'http://www.dirtydawgz.net/' } Dirty Dawgz
  the fine people from
  %a{ href: 'http://www.operationkindness.org/index.php' } Operation Kindness
  were offering cheap dog baths with complementary nail clippings.
%p
  Casie wasn't to sure if she wanted to go since it's raining. Conney
  %strong hates
  the rain. She's not a big fan of baths either. I insisted we take her since Conney really needed her nails clipped and neither of us has any idea how to do it.
%p Fortunately the Operation Kindness volunteers had clearly clipped many dog paws before. And Conney didn't seem to mind the bath too much.
%p.center
  %img{ alt: 'Conney at Dirty Dawgz', src: '/uploads/pictures/1329610491254740.jpg', title: 'Conney at Dirty Dawgz' }/
%p.center
  %img{ alt: 'Conney at Dirty Dawgz', src: '/uploads/pictures/1329610491121768.jpg', title: 'Conney at Dirty Dawgz' }/
%p.center
  %img{ alt: 'Conney at Dirty Dawgz', src: '/uploads/pictures/1329610491216823.jpg', title: 'Conney at Dirty Dawgz' }/
%p Now she's all clean and her claws are nice and short!
