---
title: Conney post thanksgiving bath stink eye.
date: 2014/11/27 02:46:54
author: Casie
tumblr_id: 103689219094
tags: corgi, welsh corgi, dog, thanksgiving, bath, grumpy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfofq6i1go1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney post thanksgiving bath stink eye.', src: '/uploads/pictures/medium_tumblr_nfofq6i1go1r9wamzo1_1280.jpg', title: 'Conney post thanksgiving bath stink eye.' }/
%p Conney post thanksgiving bath stink eye.
