---
title: Conney tries to punish me for making her wear a costume. By
date: 2012/11/01 04:01:12
author: Casie
tumblr_id: 34743074275
tags: corgi, costume, halloween, dog, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mcsj612zL31r9wamzo1_640.jpg' }
    %img{ alt: 'Conney tries to punish me for making her wear a costume. By sitting on my feet. #corgi #welshcorgi #dog #halloween #costume', src: '/uploads/pictures/medium_tumblr_mcsj612zL31r9wamzo1_640.jpg', title: 'Conney tries to punish me for making her wear a costume. By sitting on my feet. #corgi #welshcorgi #dog #halloween #costume' }/
%p Conney tries to punish me for making her wear a costume. By sitting on my feet. #corgi #welshcorgi #dog #halloween #costume
