---
title: Conney + Emma = Corgi BFFs. See part 2 of the photos from the
date: 2012/03/21 02:41:27
author: Casie
tumblr_id: 19662090871
tags: corgi, welsh corgi, dog, puppy, corgi meetup, dog park, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m17rh38GHK1r9wamzo3_1280.jpg' }
    %img{ alt: 'Conney + Emma = Corgi BFFs. See part 2 of the photos from the corgi meetup here.', src: '/uploads/pictures/medium_tumblr_m17rh38GHK1r9wamzo3_1280.jpg', title: 'Conney + Emma = Corgi BFFs. See part 2 of the photos from the corgi meetup here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m17rh38GHK1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney + Emma = Corgi BFFs. See part 2 of the photos from the corgi meetup here.', src: '/uploads/pictures/medium_tumblr_m17rh38GHK1r9wamzo1_1280.jpg', title: 'Conney + Emma = Corgi BFFs. See part 2 of the photos from the corgi meetup here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m17rh38GHK1r9wamzo2_1280.jpg' }
    %img{ alt: 'Conney + Emma = Corgi BFFs. See part 2 of the photos from the corgi meetup here.', src: '/uploads/pictures/medium_tumblr_m17rh38GHK1r9wamzo2_1280.jpg', title: 'Conney + Emma = Corgi BFFs. See part 2 of the photos from the corgi meetup here.' }/
%p
  %a{ href: 'http://conneythecorgi.com' } Conney
  +
  %a{ href: 'http://emmathebean.com' } Emma
  \= Corgi BFFs. See part 2 of the photos from the corgi meetup
  = succeed "." do
    %a{ href: 'http://conneythecorgi.com/posts/march-17-corgi-meetup-part-2' } here
