---
title: Conney smirk.
date: 2014/08/14 02:26:25
author: Casie
tumblr_id: 94685555744
tags: corgi, pembroke welsh corgi, welsh corgi, dog, floppy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_na9ys1FHLU1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney smirk.', src: '/uploads/pictures/medium_tumblr_na9ys1FHLU1r9wamzo1_1280.jpg', title: 'Conney smirk.' }/
%p Conney smirk.
