---
title: Conney spent all afternoon helping us work on the yard. Time for
date: 2015/06/07 00:35:15
author: Casie
tumblr_id: 120894131149
tags: corgi, welsh corgi, dog, summer, hot, hot dog, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_npjtmrqh9F1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney spent all afternoon helping us work on the yard. Time for a much deserved nap.', src: '/uploads/pictures/medium_tumblr_npjtmrqh9F1r9wamzo1_1280.jpg', title: 'Conney spent all afternoon helping us work on the yard. Time for a much deserved nap.' }/
%p Conney spent all afternoon helping us work on the yard. Time for a much deserved nap.
