---
title: Conney in a Box
date: 2015/03/09 19:43:02
author: Sean
---

%p.center
  %img{ alt: "", src: '/uploads/pictures/1425930117226858.jpg' }/
%p.center Conney was not okay with being put in a box.
