---
title: Conney werkin' it.
date: 2012/05/01 01:55:16
author: Casie
tumblr_id: 22165567545
tags: corgi, welsh corgi, butt, corgi butt, jiggle, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3bm4yNibC1r4omsco1_250.gif' }
    %img{ alt: "emmathebean: Conney werkin' it. This is the most amazing thing EVER.", src: '/uploads/pictures/medium_tumblr_m3bm4yNibC1r4omsco1_250.gif', title: "emmathebean: Conney werkin' it. This is the most amazing thing EVER." }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/22164610119/conney-werkin-it' }> emmathebean
  \:
%blockquote
  %p
    Conney
    = succeed "'" do
      %em werkin
%p This is the most amazing thing EVER.
