---
title: Conney and her new toy
date: 2012/01/09 04:52:50
author: Casie
tumblr_id: 15553047509
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxiljfanhA1r9wamzo1_1280.png' }
    %img{ alt: 'Conney and her new toy', src: '/uploads/pictures/medium_tumblr_lxiljfanhA1r9wamzo1_1280.png', title: 'Conney and her new toy' }/
%p Conney and her new toy
