---
title: Conney's new tag.
date: 2015/05/27 22:57:52
author: Casie
tumblr_id: 120056428984
tags: corgi, welsh corgi, squirrel, squirr patrol, etsy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_np16ggTq1T1r9wamzo1_1280.jpg' }
    %img{ alt: "Conney's new tag.", src: '/uploads/pictures/medium_tumblr_np16ggTq1T1r9wamzo1_1280.jpg', title: "Conney's new tag." }/
%p Conney's new tag.
