---
title: Conney is annoyed we didn't go out and take a picture on our
date: 2015/07/28 02:33:17
author: Casie
tumblr_id: 125221835659
tags: corgi, welsh corgi, dog, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ns6f3hDYTB1r9wamzo1_1280.jpg' }
    %img{ alt: "Conney is annoyed we didn't go out and take a picture on our neighbor's stump.", src: '/uploads/pictures/medium_tumblr_ns6f3hDYTB1r9wamzo1_1280.jpg', title: "Conney is annoyed we didn't go out and take a picture on our neighbor's stump." }/
%p Conney is annoyed we didn't go out and take a picture on our neighbor's stump.
