---
title: Conney has the most serious worried face.
date: 2014/07/03 16:12:29
author: Casie
tumblr_id: 90666518149
tags: corgi, pembroke welsh corgi, welsh corgi, dog, worry, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8590tpd591r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney has the most serious worried face.', src: '/uploads/pictures/medium_tumblr_n8590tpd591r9wamzo1_1280.jpg', title: 'Conney has the most serious worried face.' }/
%p Conney has the most serious worried face.
