---
title: Conney is not impressed with this pivotal Cowboys victory.
date: 2014/12/15 04:40:44
author: Casie
tumblr_id: 105241470349
tags: corgi, welsh corgi, dog, naps, cowboys, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nglwzxjqhb1r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney is not impressed with this pivotal Cowboys victory.', src: '/uploads/pictures/medium_tumblr_nglwzxjqhb1r9wamzo1_1280.jpg', title: 'Conney is not impressed with this pivotal Cowboys victory.' }/
%p Conney is not impressed with this pivotal Cowboys victory.
