---
title: Conney did her first 2.5 mile hike tonight. She did great!
date: 2012/04/05 02:02:43
author: Casie
tumblr_id: 20503320987
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m1zhojv8Cv1r9wamzo1_640.jpg' }
    %img{ alt: 'Conney did her first 2.5 mile hike tonight. She did great! (Taken with Instagram at Arbor Hills Nature Preserve)', src: '/uploads/pictures/medium_tumblr_m1zhojv8Cv1r9wamzo1_640.jpg', title: 'Conney did her first 2.5 mile hike tonight. She did great! (Taken with Instagram at Arbor Hills Nature Preserve)' }/
%p
  Conney did her first 2.5 mile hike tonight. She did great! (Taken with
  %a{ href: 'http://instagr.am' } Instagram
  at Arbor Hills Nature Preserve)
