---
title: Conney makes a nice foot warmer.
date: 2012/01/25 00:12:46
author: Casie
tumblr_id: 16433735776
tags: corgi, welsh corgi, pembroke welsh corgi, dog, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lybv9aMM5l1r9wamzo1_1280.png' }
    %img{ alt: 'Conney makes a nice foot warmer.', src: '/uploads/pictures/medium_tumblr_lybv9aMM5l1r9wamzo1_1280.png', title: 'Conney makes a nice foot warmer.' }/
%p Conney makes a nice foot warmer.
