---
title: Conney got some bacon with her dinner tonight...
date: 2014/05/06 02:37:29
author: Casie
tumblr_id: 84886752904
tags: corgi, pembroke welsh corgi, welsh corgi, dog, naps, bacon, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n54smh2yD61r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney got some bacon with her dinner tonight…', src: '/uploads/pictures/medium_tumblr_n54smh2yD61r9wamzo1_1280.jpg', title: 'Conney got some bacon with her dinner tonight…' }/
%p Conney got some bacon with her dinner tonight…
