---
title: "Conney: professional squirrel hunter #waitingtopounce #tricked"
date: 2013/08/11 21:04:47
author: Casie
tumblr_id: 57994732374
tags: tricked, waitingtopounce, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mrdx80bIWV1r9wamzo1_640.jpg' }
    %img{ alt: 'Conney: professional squirrel hunter #waitingtopounce #tricked', src: '/uploads/pictures/medium_tumblr_mrdx80bIWV1r9wamzo1_640.jpg', title: 'Conney: professional squirrel hunter #waitingtopounce #tricked' }/
%p Conney: professional squirrel hunter #waitingtopounce #tricked
