---
title: Conney decided she could climb up on my desk all on her own. And
date: 2012/06/26 00:04:27
author: Casie
tumblr_id: 25888846726
tags: corgi, welsh corgi, dog, desk, corgis, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m676vfCAk71r9wamzo1_1280.jpg' }
    %img{ alt: 'Conney decided she could climb up on my desk all on her own. And yes, I have a Ginger mousepad and many other corgi related', src: '/uploads/pictures/medium_tumblr_m676vfCAk71r9wamzo1_1280.jpg', title: 'Conney decided she could climb up on my desk all on her own. And yes, I have a Ginger mousepad and many other corgi related' }/
%p Conney decided she could climb up on my desk all on her own. And yes, I have a Ginger mousepad and many other corgi related items on my desk.
