---
title: "Content #corgi #sleepy"
date: 2014/04/01 03:39:15
author: Casie
tumblr_id: 81358502562
tags: corgi, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n3c25fyFMR1r9wamzo1_640.jpg' }
    %img{ alt: 'Content #corgi #sleepy', src: '/uploads/pictures/medium_tumblr_n3c25fyFMR1r9wamzo1_640.jpg', title: 'Content #corgi #sleepy' }/
%p Content #corgi #sleepy
