---
title: "Content to nap in the 105 degree sun. #corgi #hotdog"
date: 2013/08/03 20:36:18
author: Casie
tumblr_id: 57271237153
tags: corgi, hotdog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mqz2kihHzO1r9wamzo1_640.jpg' }
    %img{ alt: 'Content to nap in the 105 degree sun. #corgi #hotdog', src: '/uploads/pictures/medium_tumblr_mqz2kihHzO1r9wamzo1_640.jpg', title: 'Content to nap in the 105 degree sun. #corgi #hotdog' }/
%p Content to nap in the 105 degree sun. #corgi #hotdog
