---
title: Content.
date: 2014/12/18 05:16:18
author: Casie
tumblr_id: 105501455754
tags: corgi, welsh corgi, dog, cute, goodnight, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ngrin6dU0N1r9wamzo1_1280.jpg' }
    %img{ alt: 'Content.', src: '/uploads/pictures/medium_tumblr_ngrin6dU0N1r9wamzo1_1280.jpg', title: 'Content.' }/
%p Content.
