---
title: Corgi Hats!
date: 2012/02/16 04:30:51
author: Sean
---

%p.center
  %a{ href: 'http://www.etsy.com/listing/87202958/adult-fleece-welsh-corgi-hats-corgipals' }
    %img{ alt: 'Fleece Welsh Corgi Hats - CorgiPals', src: 'http://img3.etsystatic.com/il_fullxfull.312358651.jpg' }/
%p
  This is just too cute to not post here.
  %a{ href: 'http://www.etsy.com/shop/CorgiPals' } CorgiPals on Etsy
  has adorable fleece corgi hats for a good cause.
