---
title: Corgi butt
date: 2012/02/12 04:32:34
author: Casie
tumblr_id: 17469691855
tags: corgi, welsh corgi, corgi butt, zzzz, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lz9jabmY8U1r9wamzo1_1280.png' }
    %img{ alt: 'Corgi butt', src: '/uploads/pictures/medium_tumblr_lz9jabmY8U1r9wamzo1_1280.png', title: 'Corgi butt' }/
%p Corgi butt
