---
title: Corgi meetup!
date: 2012/01/22 21:33:23
author: Casie
tumblr_id: 16310457555
tags: corgi, welsh corgi, dog, dfw, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ly7yjn9hvQ1r9wamzo1_1280.png' }
    %img{ alt: 'Corgi meetup!', src: '/uploads/pictures/medium_tumblr_ly7yjn9hvQ1r9wamzo1_1280.png', title: 'Corgi meetup!' }/
%p Corgi meetup!
