---
title: CORGPEDO! (Emma dive bombs into Conney at the dog park.)
date: 2012/03/16 15:26:02
author: Casie
tumblr_id: 19398619774
tags: corgi, welsh corgi, puppy, dog, dog park, CORGI BATTLE, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0yf79sRRo1r4omsco1_1280.jpg' }
    %img{ alt: "emmathebean: CORGPEDO! (Emma dive bombs into Conney at the dog park.) Don't let this picture fool you. CONNEY WINS ALL THESE", src: '/uploads/pictures/medium_tumblr_m0yf79sRRo1r4omsco1_1280.jpg', title: "emmathebean: CORGPEDO! (Emma dive bombs into Conney at the dog park.) Don't let this picture fool you. CONNEY WINS ALL THESE" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m0yf79sRRo1r4omsco2_1280.jpg' }
    %img{ alt: "emmathebean: CORGPEDO! (Emma dive bombs into Conney at the dog park.) Don't let this picture fool you. CONNEY WINS ALL THESE", src: '/uploads/pictures/medium_tumblr_m0yf79sRRo1r4omsco2_1280.jpg', title: "emmathebean: CORGPEDO! (Emma dive bombs into Conney at the dog park.) Don't let this picture fool you. CONNEY WINS ALL THESE" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/19397981781/corgpedo-emma-dive-bombs-into-conney-at-the' }> emmathebean
  \:
%blockquote
  %p CORGPEDO!
  %p
    (Emma dive bombs into
    %a{ href: 'http://www.conneythecorgi.com' } Conney
    at the dog park.)
%p Don't let this picture fool you. CONNEY WINS ALL THESE BATTLES.
