---
title: "#corgi #snuggles"
date: 2013/01/27 01:31:33
author: Casie
tumblr_id: 41568527364
tags: corgi, snuggles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mh9g8lJCNJ1r9wamzo1_640.jpg' }
    %img{ alt: '#corgi #snuggles', src: '/uploads/pictures/medium_tumblr_mh9g8lJCNJ1r9wamzo1_640.jpg', title: '#corgi #snuggles' }/
%p #corgi #snuggles
