---
title: Corgi need booster seat Submitted by Rosie's Aunt
date: 2012/08/14 23:16:01
author: Casie
tumblr_id: 29439134675
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m8ghk2NKwk1qbwakso1_1280.jpg' }
    %img{ alt: "corgiaddict: Corgi need booster seat Submitted by Rosie's Aunt Conney identical twin!!!!!!", src: '/uploads/pictures/medium_tumblr_m8ghk2NKwk1qbwakso1_1280.jpg', title: "corgiaddict: Corgi need booster seat Submitted by Rosie's Aunt Conney identical twin!!!!!!" }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/29411529640' }> corgiaddict
  \:
%blockquote
  %p Corgi need booster seat
  %p Submitted by Rosie's Aunt
%p Conney identical twin!!!!!!
