---
title: "#corgi"
date: 2014/08/09 19:22:44
author: Casie
tumblr_id: 94269116304
tags: corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_na20hwvslu1r9wamzo1_640.jpg' }
    %img{ alt: '#corgi', src: '/uploads/pictures/medium_tumblr_na20hwvslu1r9wamzo1_640.jpg', title: '#corgi' }/
%p #corgi
