---
title: Corgi puppy Milo! (Taken with instagram)
date: 2012/04/29 03:26:03
author: Casie
tumblr_id: 22025220683
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m381jg7X6T1r9wamzo1_640.jpg' }
    %img{ alt: 'Corgi puppy Milo! (Taken with instagram)', src: '/uploads/pictures/medium_tumblr_m381jg7X6T1r9wamzo1_640.jpg', title: 'Corgi puppy Milo! (Taken with instagram)' }/
%p
  Corgi puppy Milo! (Taken with
  = succeed ")" do
    %a{ href: 'http://instagr.am' } instagram
