---
title: Corgi cookies!
date: 2014/02/02 04:25:35
author: Casie
tumblr_id: 75329654158
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n0cpmpalcx1r9wamzo1_640.jpg' }
    %img{ alt: 'Corgi cookies!', src: '/uploads/pictures/medium_tumblr_n0cpmpalcx1r9wamzo1_640.jpg', title: 'Corgi cookies!' }/
%p Corgi cookies!
