---
title: Corgi cocoon!!
date: 2013/01/15 04:09:58
author: Casie
tumblr_id: 40577628219
tags: corgi, welsh corgi, dog, blankets, cuddles, cold, cocoon, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mgnfkm1hUd1r9wamzo1_1280.jpg' }
    %img{ alt: 'Corgi cocoon!!', src: '/uploads/pictures/medium_tumblr_mgnfkm1hUd1r9wamzo1_1280.jpg', title: 'Corgi cocoon!!' }/
%p Corgi cocoon!!
