---
title: Corgi meetup pictures soon!
date: 2012/03/18 00:06:16
author: Casie
tumblr_id: 19481012155
tags: corgi, welsh corgi, dog park, corgi meetup, dogs, puppy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m120agQbkv1r9wamzo1_1280.jpg' }
    %img{ alt: 'Corgi meetup pictures soon!', src: '/uploads/pictures/medium_tumblr_m120agQbkv1r9wamzo1_1280.jpg', title: 'Corgi meetup pictures soon!' }/
%p Corgi meetup pictures soon!
