---
title: "#corgi #cute"
date: 2013/09/03 03:06:31
author: Casie
tumblr_id: 60144086790
tags: corgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_msj4mw6L551r9wamzo1_640.jpg' }
    %img{ alt: '#corgi #cute', src: '/uploads/pictures/medium_tumblr_msj4mw6L551r9wamzo1_640.jpg', title: '#corgi #cute' }/
%p #corgi #cute
