---
title: "#corgi #corgigram #dog"
date: 2013/02/05 01:04:10
author: Casie
tumblr_id: 42315830679
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mhq2yyFJ1f1r9wamzo1_640.jpg' }
    %img{ alt: '#corgi #corgigram #dog', src: '/uploads/pictures/medium_tumblr_mhq2yyFJ1f1r9wamzo1_640.jpg', title: '#corgi #corgigram #dog' }/
%p #corgi #corgigram #dog
