---
title: Corgum Night (Monday) at the Dog Park!
date: 2012/08/21 23:29:43
author: Casie
tumblr_id: 29927561299
tags: corgi, corgis, dog, dogs, dog park, corgi night, corgi mix, corgum, northbark, north bark, north bark dog park, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m933r6xFa01r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Corgum Night (Monday) at the Dog Park!', src: '/uploads/pictures/medium_tumblr_m933r6xFa01r4omsco1_1280.jpg', title: 'emmathebean: Corgum Night (Monday) at the Dog Park!' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/29896998419/corgum-night-monday-at-the-dog-park' }> emmathebean
  \:
%blockquote
  %p Corgum Night (Monday) at the Dog Park!
