---
title: Corgi snuggles with Lucy.
date: 2014/03/17 01:41:33
author: Casie
tumblr_id: 79825141408
tags: corgi, welsh corgi, pembroke welsh corgi, dog, snuggles, blue heeler, corgi mix, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n2k4p94ZR31r9wamzo1_1280.jpg' }
    %img{ alt: 'Corgi snuggles with Lucy.', src: '/uploads/pictures/medium_tumblr_n2k4p94ZR31r9wamzo1_1280.jpg', title: 'Corgi snuggles with Lucy.' }/
%p Corgi snuggles with Lucy.
