---
title: Couple more from the Fourth of July.
date: 2014/07/12 02:15:25
author: Casie
tumblr_id: 91508230219
tags: corgi, pembroke welsh corgi, hardtner ks, hardtner, kansas, fourth of july, welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8ku9pjxFy1r9wamzo1_1280.jpg' }
    %img{ alt: 'Couple more from the Fourth of July.', src: '/uploads/pictures/medium_tumblr_n8ku9pjxFy1r9wamzo1_1280.jpg', title: 'Couple more from the Fourth of July.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n8ku9pjxFy1r9wamzo2_1280.jpg' }
    %img{ alt: 'Couple more from the Fourth of July.', src: '/uploads/pictures/medium_tumblr_n8ku9pjxFy1r9wamzo2_1280.jpg', title: 'Couple more from the Fourth of July.' }/
%p Couple more from the Fourth of July.
