---
title: Couple pounds lighter and a few degrees cooler!
date: 2014/06/22 19:56:48
author: Casie
tumblr_id: 89580402594
tags: corgi, welsh corgi, shedding, furminator, dog hair everywhere, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n7l62ovO1M1r9wamzo1_1280.jpg' }
    %img{ alt: 'Couple pounds lighter and a few degrees cooler!', src: '/uploads/pictures/medium_tumblr_n7l62ovO1M1r9wamzo1_1280.jpg', title: 'Couple pounds lighter and a few degrees cooler!' }/
%p Couple pounds lighter and a few degrees cooler!
