---
title: Cuddley dog.
date: 2015/03/01 01:42:32
author: Casie
tumblr_id: 112367154269
tags: corgi, welsh corgi, dog, snuggles, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkifewOtGh1r9wamzo1_1280.jpg' }
    %img{ alt: 'Cuddley dog.', src: '/uploads/pictures/medium_tumblr_nkifewOtGh1r9wamzo1_1280.jpg', title: 'Cuddley dog.' }/
%p Cuddley dog.
