---
title: "Curled up Conney #corgi #corgigram #dog #nap #cute"
date: 2012/11/14 05:39:36
author: Casie
tumblr_id: 35690792380
tags: corgi, nap, corgigram, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mdgqe0vZhF1r9wamzo1_640.jpg' }
    %img{ alt: 'Curled up Conney #corgi #corgigram #dog #nap #cute', src: '/uploads/pictures/medium_tumblr_mdgqe0vZhF1r9wamzo1_640.jpg', title: 'Curled up Conney #corgi #corgigram #dog #nap #cute' }/
%p Curled up Conney #corgi #corgigram #dog #nap #cute
