---
title: Current screenshot of the fitbit challenge I am doing with
date: 2015/05/15 23:52:25
author: Casie
tumblr_id: 119063861674
tags: fitbit challenge, the worst, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_noek0iy7Yf1upsblgo1_1280.png' }
    %img{ alt: 'emmathebean: faerielandcorgipersonal: Current screenshot of the fitbit challenge I am doing with storythecorgi and emmathebean.', src: '/uploads/pictures/medium_tumblr_noek0iy7Yf1upsblgo1_1280.png', title: 'emmathebean: faerielandcorgipersonal: Current screenshot of the fitbit challenge I am doing with storythecorgi and emmathebean.' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/119045666905/faerielandcorgipersonal-current-screenshot-of' }> emmathebean
  \:
%blockquote
  %p
    %a.tumblr_blog{ href: 'http://faerielandcorgipersonal.tumblr.com/post/119039503741/current-screenshot-of-the-fitbit-challenge-i-am' }> faerielandcorgipersonal
    \:
  %blockquote
    %p
      Current screenshot of the fitbit challenge I am doing with
      %a{ href: 'http://tmblr.co/mWK_Nw24fknLR0kbufTGgdQ' } storythecorgi
      and
      = succeed "." do
        %a{ href: 'http://tmblr.co/mioXbsKR0pwcJJfWwzoES2w' } emmathebean
  %p I even went to the mall and walked around in an effort to "not walk later"… I'm all mid-table Crystal Palace now.
%p I'd like everyone to know I'm now actually 2nd to last :)
