---
title: Currently, under my desk.
date: 2015/01/31 00:36:13
author: Casie
tumblr_id: 109624727124
tags: corgi, welsh corgi, hiding, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nj0n0drnZa1r9wamzo1_1280.jpg' }
    %img{ alt: 'Currently, under my desk.', src: '/uploads/pictures/medium_tumblr_nj0n0drnZa1r9wamzo1_1280.jpg', title: 'Currently, under my desk.' }/
%p Currently, under my desk.
