---
title: "Day 5: Future Corgi. Definitely another rescue! All corgi mixes."
date: 2013/06/06 01:29:00
author: Casie
tumblr_id: 52265275203
tags: corgi, welsh corgi, corgi mix, CorgiPals, Photo Challenge, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mny6t5GVk21r9wamzo1_r1_400.jpg' }
    %img{ alt: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.', src: '/uploads/pictures/medium_tumblr_mny6t5GVk21r9wamzo1_r1_400.jpg', title: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mny6t5GVk21r9wamzo2_r1_250.jpg' }
    %img{ alt: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.', src: '/uploads/pictures/medium_tumblr_mny6t5GVk21r9wamzo2_r1_250.jpg', title: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mny6t5GVk21r9wamzo3_r1_250.jpg' }
    %img{ alt: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.', src: '/uploads/pictures/medium_tumblr_mny6t5GVk21r9wamzo3_r1_250.jpg', title: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mny6t5GVk21r9wamzo4_r1_400.jpg' }
    %img{ alt: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.', src: '/uploads/pictures/medium_tumblr_mny6t5GVk21r9wamzo4_r1_400.jpg', title: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mny6t5GVk21r9wamzo5_r1_400.jpg' }
    %img{ alt: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.', src: '/uploads/pictures/medium_tumblr_mny6t5GVk21r9wamzo5_r1_400.jpg', title: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mny6t5GVk21r9wamzo6_r1_400.jpg' }
    %img{ alt: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.', src: '/uploads/pictures/medium_tumblr_mny6t5GVk21r9wamzo6_r1_400.jpg', title: 'Day 5: Future Corgi. Definitely another rescue! All corgi mixes. 1. http://www.petfinder.com/petdetail/24881585 2.' }/
%p
  %strong Day 5: Future Corgi.
%p Definitely another rescue! All corgi mixes.
%p
  1.
  %a{ href: 'http://www.petfinder.com/petdetail/24881585' } http://www.petfinder.com/petdetail/24881585
%p
  2.
  %a{ href: 'http://www.petfinder.com/petdetail/26296977' } http://www.petfinder.com/petdetail/26296977
%p
  3.
  %a{ href: 'http://www.petfinder.com/petdetail/25773318' } http://www.petfinder.com/petdetail/25773318
%p
  4.
  %a{ href: 'http://www.petfinder.com/petdetail/26230231' } http://www.petfinder.com/petdetail/26230231
%p
  5.
  %a{ href: 'http://www.petfinder.com/petdetail/25495070' } http://www.petfinder.com/petdetail/25495070
%p
  6.
  %a{ href: 'http://www.petfinder.com/petdetail/26276835' } http://www.petfinder.com/petdetail/26276835
