---
title: "Day 3 of Corgiapalooza: Conney gets her own post, because she's"
date: 2013/05/23 00:12:28
author: Casie
tumblr_id: 51108395905
tags: corgi, welsh corgi, dog, dog park, Fort Woof, corgi meetup, floppy, floppy ears, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mn2qbvMMeM1r4omsco1_1280.jpg' }
    %img{ alt: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We", src: '/uploads/pictures/medium_tumblr_mn2qbvMMeM1r4omsco1_1280.jpg', title: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn2qbvMMeM1r4omsco2_1280.jpg' }
    %img{ alt: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We", src: '/uploads/pictures/medium_tumblr_mn2qbvMMeM1r4omsco2_1280.jpg', title: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn2qbvMMeM1r4omsco3_1280.jpg' }
    %img{ alt: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We", src: '/uploads/pictures/medium_tumblr_mn2qbvMMeM1r4omsco3_1280.jpg', title: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn2qbvMMeM1r4omsco4_1280.jpg' }
    %img{ alt: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We", src: '/uploads/pictures/medium_tumblr_mn2qbvMMeM1r4omsco4_1280.jpg', title: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn2qbvMMeM1r4omsco5_1280.jpg' }
    %img{ alt: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We", src: '/uploads/pictures/medium_tumblr_mn2qbvMMeM1r4omsco5_1280.jpg', title: "emmathebean: Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss. Yay! Thanks for the pictures of Conney. We" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/51069419774/day-3-of-corgiapalooza-conney-gets-her-own-post' }> emmathebean
  \:
%blockquote
  %p Day 3 of Corgiapalooza: Conney gets her own post, because she's a Boss.
%p Yay! Thanks for the pictures of Conney. We need more floppy corgis at our meetups!
