---
title: "Day 1: My first corgi. This is Ginger. My family got her when I"
date: 2013/06/01 20:55:53
author: Casie
tumblr_id: 51910055595
tags: corgi, welsh corgi, pembroke welsh corgi, dog, ginger, cute, corgipals, photo challenge, corgi photo challenge, best dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo3_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo3_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo4_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo4_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo2_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo2_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo5_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo5_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo7_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo7_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo6_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo6_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo1_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo1_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo10_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo10_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo9_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo9_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mnqfh5JaZG1r9wamzo8_1280.jpg' }
    %img{ alt: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.', src: '/uploads/pictures/medium_tumblr_mnqfh5JaZG1r9wamzo8_1280.jpg', title: 'Day 1: My first corgi. This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.' }/
%p
  %strong Day 1: My first corgi.
%p This is Ginger. My family got her when I was 10 in 1995. The most bossy/ornery corgi to ever live.
