---
title: "Day 14: Corgi Derp featuring Conney #conney #corgipals #corgi"
date: 2013/06/14 23:36:12
author: Casie
tumblr_id: 52981815199
tags: corgi, welsh corgi, pembroke welsh corgi, derp, derpy, cute, dog, photo challenge, corgipals, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_modxatRHqu1r4omsco1_640.jpg' }
    %img{ alt: "emmathebean: Day 14: Corgi Derp featuring Conney #conney #corgipals #corgi #corgistagram I'VE DONE A TERRIBLE JOB WITH THIS", src: '/uploads/pictures/medium_tumblr_modxatRHqu1r4omsco1_640.jpg', title: "emmathebean: Day 14: Corgi Derp featuring Conney #conney #corgipals #corgi #corgistagram I'VE DONE A TERRIBLE JOB WITH THIS" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/52944746217/day-14-corgi-derp-featuring-conney-conney' }> emmathebean
  \:
%blockquote
  %p Day 14: Corgi Derp featuring Conney #conney #corgipals #corgi #corgistagram
%p I'VE DONE A TERRIBLE JOB WITH THIS CHALLENGE. BUT HERE IS CONNEY BEING SUPER DERPY.
