---
title: "Day 17: Birthday Corgi! Emma and her Friends during her 1st"
date: 2013/06/21 04:37:57
author: Casie
tumblr_id: 53494119943
tags: corgi, welsh corgi, dog, party, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mojjlbX1BA1r4omsco1_640.jpg' }
    %img{ alt: 'corgiaddict: emmathebean: Day 17: Birthday Corgi! Emma and her Friends during her 1st Birthday #Moldiv #corgi #corgistagram', src: '/uploads/pictures/medium_tumblr_mojjlbX1BA1r4omsco1_640.jpg', title: 'corgiaddict: emmathebean: Day 17: Birthday Corgi! Emma and her Friends during her 1st Birthday #Moldiv #corgi #corgistagram' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/53401389387' }> corgiaddict
  \:
%blockquote
  %p
    %a.tumblr_blog{ href: 'http://emmathebean.com/post/53195484567/day-17-birthday-corgi-emma-and-her-friends' }> emmathebean
    \:
  %blockquote
    %p Day 17: Birthday Corgi! Emma and her Friends during her 1st Birthday #Moldiv #corgi #corgistagram #corgipals
  %p Hey Emma? You do realize a pug crashed your birthday party? PUG PARTY CRASHER!
