---
title: "Demonizing pit bulls: Breed ban bad approach to dog-bite deaths"
date: 2012/02/08 15:12:00
author: Casie
tumblr_id: 17265093514
tags: dogs, pit bulls, texas congress, tumblr
---

%p Grits for Breakfast is one of my favorite blogs. If you live in Texas, you should definitely read it.
