---
title: "Derp #lucy #corgi #corgigram #blueheeler #corgimix (Taken with"
date: 2012/09/10 00:47:14
author: Casie
tumblr_id: 31240034911
tags: corgi, corgigram, lucy, corgimix, blueheeler, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ma3ziq5x9x1r9wamzo1_640.jpg' }
    %img{ alt: 'Derp #lucy #corgi #corgigram #blueheeler #corgimix (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_ma3ziq5x9x1r9wamzo1_640.jpg', title: 'Derp #lucy #corgi #corgigram #blueheeler #corgimix (Taken with Instagram)' }/
%p
  Derp #lucy #corgi #corgigram #blueheeler #corgimix (Taken with
  = succeed ")" do
    %a{ href: 'http://instagram.com' } Instagram
