---
title: Derp!
date: 2014/12/06 03:29:15
author: Casie
tumblr_id: 104459843514
tags: corgi, welsh corgi, dog, teeth, cute, derp, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ng55orEnwz1r9wamzo1_1280.jpg' }
    %img{ alt: 'Derp!', src: '/uploads/pictures/medium_tumblr_ng55orEnwz1r9wamzo1_1280.jpg', title: 'Derp!' }/
%p Derp!
