---
title: "Derps at the dog park #corgi #corgigram #welshcorgi #dog"
date: 2012/10/11 00:33:43
author: Casie
tumblr_id: 33332648743
tags: welshcorgi, corgigram, floppy, dog, dogpark, belly, corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mbpdk7GyKR1r9wamzo1_640.jpg' }
    %img{ alt: 'Derps at the dog park #corgi #corgigram #welshcorgi #dog #dogpark #floppy #belly (Taken with Instagram at Lewisville Dog Park)', src: '/uploads/pictures/medium_tumblr_mbpdk7GyKR1r9wamzo1_640.jpg', title: 'Derps at the dog park #corgi #corgigram #welshcorgi #dog #dogpark #floppy #belly (Taken with Instagram at Lewisville Dog Park)' }/
%p
  Derps at the dog park #corgi #corgigram #welshcorgi #dog #dogpark #floppy #belly (Taken with
  %a{ href: 'http://instagram.com' } Instagram
  at Lewisville Dog Park)
