---
title: Determined this blog could use more Ginger.
date: 2012/12/29 22:51:03
author: Casie
tumblr_id: 39161371209
tags: ginger, corgi, welsh corgi, welshcorgi, pembroke welsh corgi, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mfte2zOneQ1r9wamzo3_1280.jpg' }
    %img{ alt: 'Determined this blog could use more Ginger.', src: '/uploads/pictures/medium_tumblr_mfte2zOneQ1r9wamzo3_1280.jpg', title: 'Determined this blog could use more Ginger.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mfte2zOneQ1r9wamzo4_1280.jpg' }
    %img{ alt: 'Determined this blog could use more Ginger.', src: '/uploads/pictures/medium_tumblr_mfte2zOneQ1r9wamzo4_1280.jpg', title: 'Determined this blog could use more Ginger.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mfte2zOneQ1r9wamzo5_1280.jpg' }
    %img{ alt: 'Determined this blog could use more Ginger.', src: '/uploads/pictures/medium_tumblr_mfte2zOneQ1r9wamzo5_1280.jpg', title: 'Determined this blog could use more Ginger.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mfte2zOneQ1r9wamzo6_1280.jpg' }
    %img{ alt: 'Determined this blog could use more Ginger.', src: '/uploads/pictures/medium_tumblr_mfte2zOneQ1r9wamzo6_1280.jpg', title: 'Determined this blog could use more Ginger.' }/
%p Determined this blog could use more Ginger.
