---
title: Didn't you miss me all day?!
date: 2012/04/02 23:14:01
author: Casie
tumblr_id: 20374224888
tags: corgi, welsh corgi, dog, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m1vkjdWVwO1r9wamzo1_500.png' }
    %img{ alt: "Didn't you miss me all day?!", src: '/uploads/pictures/medium_tumblr_m1vkjdWVwO1r9wamzo1_500.png', title: "Didn't you miss me all day?!" }/
%p Didn't you miss me all day?!
