---
title: Disapproving Conney.
date: 2015/04/21 23:20:59
author: Casie
tumblr_id: 117036843744
tags: corgi, welsh corgi, dog, disapproval, grumpy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nn6jizAyOB1r9wamzo1_1280.jpg' }
    %img{ alt: 'Disapproving Conney.', src: '/uploads/pictures/medium_tumblr_nn6jizAyOB1r9wamzo1_1280.jpg', title: 'Disapproving Conney.' }/
%p Disapproving Conney.
