---
title: Do not be fooled by this face.
date: 2012/03/28 23:01:40
author: Casie
tumblr_id: 20084608565
tags: corgi, welsh corgi, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m1mamsme3H1r9wamzo1_1280.png' }
    %img{ alt: 'Do not be fooled by this face.', src: '/uploads/pictures/medium_tumblr_m1mamsme3H1r9wamzo1_1280.png', title: 'Do not be fooled by this face.' }/
%p Do not be fooled by this face.
