---
title: "Do not be fooled by this face #corgi #cute"
date: 2015/01/08 00:28:12
author: Casie
tumblr_id: 107453228614
tags: corgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nhu1b08hfJ1r9wamzo1_640.jpg' }
    %img{ alt: 'Do not be fooled by this face #corgi #cute', src: '/uploads/pictures/medium_tumblr_nhu1b08hfJ1r9wamzo1_640.jpg', title: 'Do not be fooled by this face #corgi #cute' }/
%p Do not be fooled by this face #corgi #cute
