---
title: Do not be fooled by any of this.
date: 2015/07/03 23:50:04
author: Casie
tumblr_id: 123155217044
tags: crazy dogs, corgi, bffs, hardtner ks, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqxrjgL8TJ1r9wamzo1_1280.jpg' }
    %img{ alt: 'Do not be fooled by any of this.', src: '/uploads/pictures/medium_tumblr_nqxrjgL8TJ1r9wamzo1_1280.jpg', title: 'Do not be fooled by any of this.' }/
%p Do not be fooled by any of this.
