---
title: "Dog park rainbow #dog #corgi #corgigram (Taken with Instagram at"
date: 2012/08/31 00:16:28
author: Casie
tumblr_id: 30552882574
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9lffgkeF41r9wamzo1_640.jpg' }
    %img{ alt: 'Dog park rainbow #dog #corgi #corgigram (Taken with Instagram at NorthBark Dog Park)', src: '/uploads/pictures/medium_tumblr_m9lffgkeF41r9wamzo1_640.jpg', title: 'Dog park rainbow #dog #corgi #corgigram (Taken with Instagram at NorthBark Dog Park)' }/
%p
  Dog park rainbow #dog #corgi #corgigram (Taken with
  %a{ href: 'http://instagram.com' } Instagram
  at NorthBark Dog Park)
