---
title: Dog park earlier today.
date: 2012/04/15 02:20:39
author: Casie
tumblr_id: 21121549082
tags: corgi, welsh corgi, dog, dog park, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2i16fcbix1r9wamzo1_1280.png' }
    %img{ alt: 'Dog park earlier today.', src: '/uploads/pictures/medium_tumblr_m2i16fcbix1r9wamzo1_1280.png', title: 'Dog park earlier today.' }/
%p Dog park earlier today.
