---
title: Dog Park.
date: 2012/01/17 01:14:58
author: Casie
tumblr_id: 15981259263
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxx4syFSkH1r9wamzo1_1280.jpg' }
    %img{ alt: 'Dog Park.', src: '/uploads/pictures/medium_tumblr_lxx4syFSkH1r9wamzo1_1280.jpg', title: 'Dog Park.' }/
%p Dog Park.
