---
title: Dog Park Friends!
date: 2012/04/14 16:06:32
author: Casie
tumblr_id: 21087646621
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco1_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco2_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco2_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco3_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco3_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco4_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco4_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco5_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco5_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco6_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco6_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2h6gb2b1K1r4omsco7_1280.jpg' }
    %img{ alt: 'emmathebean: Dog Park Friends!', src: '/uploads/pictures/medium_tumblr_m2h6gb2b1K1r4omsco7_1280.jpg', title: 'emmathebean: Dog Park Friends!' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/21085232799/dog-park-friends' }> emmathebean
  \:
%blockquote
  %p Dog Park Friends!
