---
title: Doggy snuggles.
date: 2012/11/24 03:11:47
author: Casie
tumblr_id: 36400595044
tags: corgi, welsh corgi, blue heeler, corgi mix, dog, cuddles, snuggles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mdz27niQYx1r9wamzo1_1280.jpg' }
    %img{ alt: 'Doggy snuggles.', src: '/uploads/pictures/medium_tumblr_mdz27niQYx1r9wamzo1_1280.jpg', title: 'Doggy snuggles.' }/
%p Doggy snuggles.
