---
title: "Doggy splash day in Richardson #corgi #summer"
date: 2014/08/16 20:55:41
author: Casie
tumblr_id: 94937324549
tags: corgi, summer, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_naf3gtxLyw1r9wamzo1_640.jpg' }
    %img{ alt: 'Doggy splash day in Richardson #corgi #summer', src: '/uploads/pictures/medium_tumblr_naf3gtxLyw1r9wamzo1_640.jpg', title: 'Doggy splash day in Richardson #corgi #summer' }/
%p Doggy splash day in Richardson #corgi #summer
