---
title: Don't go to the dog park too early in the day on a weekday. All
date: 2012/03/02 22:41:47
author: Casie
tumblr_id: 18625475178
tags: corgi, welsh corgi, dogs, dog park, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0a4dnuuRQ1r9wamzo1_1280.png' }
    %img{ alt: "Don't go to the dog park too early in the day on a weekday. All old people and their fluffy dogs who don't take to kindly to", src: '/uploads/pictures/medium_tumblr_m0a4dnuuRQ1r9wamzo1_1280.png', title: "Don't go to the dog park too early in the day on a weekday. All old people and their fluffy dogs who don't take to kindly to" }/
%p Don't go to the dog park too early in the day on a weekday. All old people and their fluffy dogs who don't take to kindly to being t boned at top corgi speed.
