---
title: Don't you think about trying to put me in that Halloween costume
date: 2013/11/01 01:45:48
author: Casie
tumblr_id: 65659175307
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mvjx8sougV1rbk0gqo1_1280.jpg' }
    %img{ alt: "leisurelylucy: Don't you think about trying to put me in that Halloween costume again! Fierce!!", src: '/uploads/pictures/medium_tumblr_mvjx8sougV1rbk0gqo1_1280.jpg', title: "leisurelylucy: Don't you think about trying to put me in that Halloween costume again! Fierce!!" }/
%p
  %a.tumblr_blog{ href: 'http://leisurelylucy.tumblr.com/post/65638780183/dont-you-think-about-trying-to-put-me-in-that' }> leisurelylucy
  \:
%blockquote
  %p{ dir: 'ltr' } Don't you think about trying to put me in that Halloween costume again!
%p Fierce!!
