---
title: Don't tell Emma, but my favorite/better photos at the end of the
date: 2012/05/13 01:00:54
author: Casie
tumblr_id: 22938283100
tags: corgi, welsh corgi, dog, floppy ears, cute, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3xc6uya6H1r4omsco1_1280.jpg' }
    %img{ alt: "emmathebean: Don't tell Emma, but my favorite/better photos at the end of the day always come from Conney. Mainly, because she", src: '/uploads/pictures/medium_tumblr_m3xc6uya6H1r4omsco1_1280.jpg', title: "emmathebean: Don't tell Emma, but my favorite/better photos at the end of the day always come from Conney. Mainly, because she" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/22918527515/dont-tell-emma-but-my-favorite-better-photos-at' }> emmathebean
  \:
%blockquote
  %p
    Don't tell Emma, but my favorite/better photos at the end of the day always come from
    = succeed "." do
      %a{ href: 'http://conneythecorgi.tumblr.com/' } Conney
  %p Mainly, because she holds still.
%p It's the floppy ears.
