---
title: During a tornado watch, the only safe place to be is between
date: 2015/04/25 00:26:17
author: Casie
tumblr_id: 117292773404
tags: corgi, welsh corgi, dog, thunderstorm, tornado watch, worried, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nnc6jtCesz1r9wamzo1_1280.jpg' }
    %img{ alt: 'During a tornado watch, the only safe place to be is between your humans on the couch.', src: '/uploads/pictures/medium_tumblr_nnc6jtCesz1r9wamzo1_1280.jpg', title: 'During a tornado watch, the only safe place to be is between your humans on the couch.' }/
%p During a tornado watch, the only safe place to be is between your humans on the couch.
