---
title: Early morning Conney, rainy day edition.
date: 2013/10/30 13:10:53
author: Casie
tumblr_id: 65520277778
tags: corgi, welsh corgi, dog, cute, naps, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mvhgm6EE6H1r9wamzo1_1280.jpg' }
    %img{ alt: 'Early morning Conney, rainy day edition.', src: '/uploads/pictures/medium_tumblr_mvhgm6EE6H1r9wamzo1_1280.jpg', title: 'Early morning Conney, rainy day edition.' }/
%p Early morning Conney, rainy day edition.
