---
title: Early morning Conney.
date: 2013/10/17 00:42:27
author: Casie
tumblr_id: 64254007420
tags: corgi, welsh corgi, dog, sleepy, bed time, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_musfarg1PE1r9wamzo1_1280.jpg' }
    %img{ alt: 'Early morning Conney.', src: '/uploads/pictures/medium_tumblr_musfarg1PE1r9wamzo1_1280.jpg', title: 'Early morning Conney.' }/
%p Early morning Conney.
