---
title: "Eat 'em up, eat 'em up! #kstate #beatauburn #corgi"
date: 2014/09/18 21:50:57
author: Casie
tumblr_id: 97838666729
tags: kstate, corgi, beatauburn, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nc4a0xEghC1r9wamzo1_640.jpg' }
    %img{ alt: "Eat 'em up, eat 'em up! #kstate #beatauburn #corgi", src: '/uploads/pictures/medium_tumblr_nc4a0xEghC1r9wamzo1_640.jpg', title: "Eat 'em up, eat 'em up! #kstate #beatauburn #corgi" }/
%p Eat 'em up, eat 'em up! #kstate #beatauburn #corgi
