---
title: "emmathebean asked:"
date: 2012/05/19 18:05:19
author: Casie
tumblr_id: 23360924757
tags: tumblr
---

.question
  %p.asker
    %strong emmathebean
    asked:
  %p.question-text Serious question here. Why is Conney so mean to Emma? (lol)
.answer
  %p She's not mean! Just growl-y. Look, here's proof!
  %p
    %img{ src: 'https://66.media.tumblr.com/tumblr_m4a7ixG9WJ1r56i54.jpg' }/
