---
title: Emma &amp; Conney 2
date: 2012/03/16 01:59:01
author: Casie
tumblr_id: 19376870870
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0yffbLSAi1r4omsco3_1280.jpg' }
    %img{ alt: 'emmathebean: Emma &amp; Conney Yes!!', src: '/uploads/pictures/medium_tumblr_m0yffbLSAi1r4omsco3_1280.jpg', title: 'emmathebean: Emma &amp; Conney Yes!!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m0yffbLSAi1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Emma &amp; Conney Yes!!', src: '/uploads/pictures/medium_tumblr_m0yffbLSAi1r4omsco1_1280.jpg', title: 'emmathebean: Emma &amp; Conney Yes!!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m0yffbLSAi1r4omsco2_1280.jpg' }
    %img{ alt: 'emmathebean: Emma &amp; Conney Yes!!', src: '/uploads/pictures/medium_tumblr_m0yffbLSAi1r4omsco2_1280.jpg', title: 'emmathebean: Emma &amp; Conney Yes!!' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/19375897832/emma-conney' }> emmathebean
  \:
%blockquote
  %p
    Emma &amp;
    %a{ href: 'http://www.conneythecorgi.com' } Conney
%p Yes!!
