---
title: Enjoy your cubicles today, humans.
date: 2014/07/02 13:06:17
author: Casie
tumblr_id: 90553103979
tags: corgi, pembroke welsh corgi, welsh corgi, dog, cute, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n835qhXThL1r9wamzo1_1280.jpg' }
    %img{ alt: 'Enjoy your cubicles today, humans.', src: '/uploads/pictures/medium_tumblr_n835qhXThL1r9wamzo1_1280.jpg', title: 'Enjoy your cubicles today, humans.' }/
%p Enjoy your cubicles today, humans.
