---
title: "Fact: A lot of Huffing and Grumpy Growling was taking place when"
date: 2012/04/26 02:52:58
author: Casie
tumblr_id: 21828177514
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2uzo82TFW1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Fact: A lot of Huffing and Grumpy Growling was taking place when this picture was taken.', src: '/uploads/pictures/medium_tumblr_m2uzo82TFW1r4omsco1_1280.jpg', title: 'emmathebean: Fact: A lot of Huffing and Grumpy Growling was taking place when this picture was taken.' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/21791483681/fact-a-lot-of-huffing-and-grumpy-growling-was' }> emmathebean
  \:
%blockquote
  %p Fact: A lot of Huffing and Grumpy Growling was taking place when this picture was taken.
