---
title: Finally got her own yard!
date: 2013/06/21 23:08:44
author: Casie
tumblr_id: 53550315533
tags: corgi, welsh corgi, dog, new house, backyard, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mormyldmgr1r9wamzo1_1280.jpg' }
    %img{ alt: 'Finally got her own yard!', src: '/uploads/pictures/medium_tumblr_mormyldmgr1r9wamzo1_1280.jpg', title: 'Finally got her own yard!' }/
%p Finally got her own yard!
