---
title: Finally learning to beg/sit pretty.
date: 2015/05/29 22:54:50
author: Casie
tumblr_id: 120220017559
tags: corgi, welsh corgi, dog, dog tricks, pineapple, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_np4vnek52a1r9wamzo1_1280.jpg' }
    %img{ alt: 'Finally learning to beg/sit pretty.', src: '/uploads/pictures/medium_tumblr_np4vnek52a1r9wamzo1_1280.jpg', title: 'Finally learning to beg/sit pretty.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_np4vnek52a1r9wamzo2_1280.jpg' }
    %img{ alt: 'Finally learning to beg/sit pretty.', src: '/uploads/pictures/medium_tumblr_np4vnek52a1r9wamzo2_1280.jpg', title: 'Finally learning to beg/sit pretty.' }/
%p Finally learning to beg/sit pretty.
