---
title: "Finished Cowboy's blanket. Now he's camouflaged! #knitting"
date: 2016/01/27 03:26:49
author: Casie
tumblr_id: 138127299774
tags: miniheeler, knitting, acd, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o1ldkpKNzx1r9wamzo1_1280.jpg' }
    %img{ alt: "Finished Cowboy's blanket. Now he's camouflaged! #knitting #miniheeler #acd", src: '/uploads/pictures/medium_tumblr_o1ldkpKNzx1r9wamzo1_1280.jpg', title: "Finished Cowboy's blanket. Now he's camouflaged! #knitting #miniheeler #acd" }/
%p Finished Cowboy's blanket. Now he's camouflaged! #knitting #miniheeler #acd
