---
title: First official Conney nip injury.
date: 2012/02/22 00:57:16
author: Casie
tumblr_id: 18041140024
tags: corgi, welsh corgi, dog, dog bite, corgi injury, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzrrzgKOvY1r9wamzo1_1280.png' }
    %img{ alt: 'First official Conney nip injury.', src: '/uploads/pictures/medium_tumblr_lzrrzgKOvY1r9wamzo1_1280.png', title: 'First official Conney nip injury.' }/
%p First official Conney nip injury.
