---
title: For those of us in favor of marriage equality AND corgis. (I saw
date: 2013/03/28 04:07:54
author: Casie
tumblr_id: 46482058277
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mkbzb3GAxA1qbwakso1_500.jpg' }
    %img{ alt: "corgiaddict: For those of us in favor of marriage equality AND corgis. (I saw them on David Nguyen's Facebook page.)", src: '/uploads/pictures/medium_tumblr_mkbzb3GAxA1qbwakso1_500.jpg', title: "corgiaddict: For those of us in favor of marriage equality AND corgis. (I saw them on David Nguyen's Facebook page.)" }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/46438252030' }> corgiaddict
  \:
%blockquote
  %p For those of us in favor of marriage equality AND corgis.
  %p
    (I saw them on
    = succeed ".)" do
      %a{ href: 'http://www.facebook.com/photo.php?fbid=10101806182542509&set=a.10100547671593539.2873127.800540&type=3&theater' } David Nguyen's Facebook page
