---
title: (Forgive me if I posted this before. One of my favorite photos.
date: 2012/08/30 03:33:16
author: Casie
tumblr_id: 30500084641
tags: corgi, welsh corgi, dog, dog park, corgis, cute, derpy, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9jpakczl31r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: (Forgive me if I posted this before. One of my favorite photos. ) Please note Emma in the back getting beat up on,', src: '/uploads/pictures/medium_tumblr_m9jpakczl31r4omsco1_1280.jpg', title: 'emmathebean: (Forgive me if I posted this before. One of my favorite photos. ) Please note Emma in the back getting beat up on,' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/30493390555/forgive-me-if-i-posted-this-before-one-of-my' }> emmathebean
  \:
%blockquote
  %p (Forgive me if I posted this before. One of my favorite photos. )
  %p Please note Emma in the back getting beat up on, while Conney poses for the Camera.
%p Probably post-Conney cheap shot t-bone.
