---
title: Freshly groomed with pig tails
date: 2012/07/21 18:26:22
author: Casie
tumblr_id: 27708161152
tags: corgi, welsh corgi, dog, grooming, bath, corgi tails, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m7iwjyu9ld1r9wamzo1_1280.jpg' }
    %img{ alt: 'Freshly groomed with pig tails', src: '/uploads/pictures/medium_tumblr_m7iwjyu9ld1r9wamzo1_1280.jpg', title: 'Freshly groomed with pig tails' }/
%p Freshly groomed with pig tails
