---
title: Friday!!
date: 2015/06/19 22:23:49
author: Casie
tumblr_id: 121951669889
tags: corgi, welsh corgi, happy, dog, smile, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nq7q7pz8X91r9wamzo1_1280.jpg' }
    %img{ alt: 'Friday!!', src: '/uploads/pictures/medium_tumblr_nq7q7pz8X91r9wamzo1_1280.jpg', title: 'Friday!!' }/
%p Friday!!
