---
title: From this morning when I was about to leave for work. NOT a
date: 2014/09/23 03:38:19
author: Casie
tumblr_id: 98201335879
tags: corgi, welsh corgi, sleepy, nap time, too early, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ncc4rvdtS81r9wamzo1_1280.jpg' }
    %img{ alt: 'From this morning when I was about to leave for work. NOT a morning dog.', src: '/uploads/pictures/medium_tumblr_ncc4rvdtS81r9wamzo1_1280.jpg', title: 'From this morning when I was about to leave for work. NOT a morning dog.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_ncc4rvdtS81r9wamzo2_1280.jpg' }
    %img{ alt: 'From this morning when I was about to leave for work. NOT a morning dog.', src: '/uploads/pictures/medium_tumblr_ncc4rvdtS81r9wamzo2_1280.jpg', title: 'From this morning when I was about to leave for work. NOT a morning dog.' }/
%p From this morning when I was about to leave for work. NOT a morning dog.
