---
title: From our morning at the SPCA Strut Your Mutt 5k/3k
date: 2013/04/27 21:06:41
author: Casie
tumblr_id: 49035333082
tags: corgi, pembroke welsh corgi, welsh corgi, fair park, dallas, strut your mutt, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlxk8yJaBR1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!', src: '/uploads/pictures/medium_tumblr_mlxk8yJaBR1r4omsco1_1280.jpg', title: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlxk8yJaBR1r4omsco2_1280.jpg' }
    %img{ alt: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!', src: '/uploads/pictures/medium_tumblr_mlxk8yJaBR1r4omsco2_1280.jpg', title: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlxk8yJaBR1r4omsco3_1280.jpg' }
    %img{ alt: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!', src: '/uploads/pictures/medium_tumblr_mlxk8yJaBR1r4omsco3_1280.jpg', title: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlxk8yJaBR1r4omsco6_1280.jpg' }
    %img{ alt: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!', src: '/uploads/pictures/medium_tumblr_mlxk8yJaBR1r4omsco6_1280.jpg', title: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlxk8yJaBR1r4omsco4_1280.jpg' }
    %img{ alt: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!', src: '/uploads/pictures/medium_tumblr_mlxk8yJaBR1r4omsco4_1280.jpg', title: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlxk8yJaBR1r4omsco5_1280.jpg' }
    %img{ alt: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!', src: '/uploads/pictures/medium_tumblr_mlxk8yJaBR1r4omsco5_1280.jpg', title: 'emmathebean: From our morning at the SPCA Strut Your Mutt 5k/3k Corgi friends!' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/49031638766/from-our-morning-at-the-spca-strut-your-mutt-5k-3k' }> emmathebean
  \:
%blockquote
  %p From our morning at the SPCA Strut Your Mutt 5k/3k
%p Corgi friends!
