---
title: GAME TIME! Go frogs! Beat KSU!
date: 2015/10/10 23:33:27
author: Casie
tumblr_id: 130910505134
tags: kstate, kstate football, bill snyder, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nw12ofTKpP1srno26o1_1280.jpg' }
    %img{ alt: 'napoleonbone-apartthecorgi: GAME TIME! Go frogs! Beat KSU! WRONG TEAM NAPPY! Go state!!!!', src: '/uploads/pictures/medium_tumblr_nw12ofTKpP1srno26o1_1280.jpg', title: 'napoleonbone-apartthecorgi: GAME TIME! Go frogs! Beat KSU! WRONG TEAM NAPPY! Go state!!!!' }/
%p
  %a.tumblr_blog{ href: 'http://napoleonbone-apartthecorgi.tumblr.com/post/130910407294/game-time-go-frogs-beat-ksu' }> napoleonbone-apartthecorgi
  \:
%blockquote
  %p GAME TIME! Go frogs! Beat KSU!
%p WRONG TEAM NAPPY! Go state!!!!
