---
title: Gangnam style
date: 2012/08/29 02:32:37
author: Casie
tumblr_id: 30429485475
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9hbpdSJIX1qhy6c9o1_400.gif' }
    %img{ alt: 'pusheen: Gangnam style', src: '/uploads/pictures/medium_tumblr_m9hbpdSJIX1qhy6c9o1_400.gif', title: 'pusheen: Gangnam style' }/
%p
  %a.tumblr_blog{ href: 'http://pusheen.com/post/30399380187' }> pusheen
  \:
%blockquote
  %p
    %a{ href: 'http://www.youtube.com/watch?v=9bZkp7q19f0' } Gangnam style
