---
title: Get off the internet, I need pets.
date: 2014/01/11 04:28:16
author: Casie
tumblr_id: 72940227709
tags: corgi, welsh corgi, pets, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mz7z34WhAO1r9wamzo1_1280.jpg' }
    %img{ alt: 'Get off the internet, I need pets.', src: '/uploads/pictures/medium_tumblr_mz7z34WhAO1r9wamzo1_1280.jpg', title: 'Get off the internet, I need pets.' }/
%p Get off the internet, I need pets.
