---
title: Gimme that Cane's
date: 2012/05/25 02:17:38
author: Casie
tumblr_id: 23710550830
tags: corgi, welsh corgi, dog, fried chicken, raising canes, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4k3peW7SA1r9wamzo1_1280.png' }
    %img{ alt: "Gimme that Cane's", src: '/uploads/pictures/medium_tumblr_m4k3peW7SA1r9wamzo1_1280.png', title: "Gimme that Cane's" }/
%p Gimme that Cane's
