---
title: "Gimme that turkey! #corgi #thanksgiving"
date: 2013/11/28 23:29:21
author: Casie
tumblr_id: 68408710087
tags: corgi, thanksgiving, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mwzykxyNyI1r9wamzo1_640.jpg' }
    %img{ alt: 'Gimme that turkey! #corgi #thanksgiving', src: '/uploads/pictures/medium_tumblr_mwzykxyNyI1r9wamzo1_640.jpg', title: 'Gimme that turkey! #corgi #thanksgiving' }/
%p Gimme that turkey! #corgi #thanksgiving
