---
title: Ginger vs. Conney 1
date: 2012/02/18 05:24:09
author: Casie
tumblr_id: 17808264211
tags: corgi, welsh corgi, dog, sleepy, naps, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkpoa3QPb1r9wamzo1_640.jpg' }
    %img{ alt: 'Ginger vs. Conney', src: '/uploads/pictures/medium_tumblr_lzkpoa3QPb1r9wamzo1_640.jpg', title: 'Ginger vs. Conney' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkpoa3QPb1r9wamzo2_640.jpg' }
    %img{ alt: 'Ginger vs. Conney', src: '/uploads/pictures/medium_tumblr_lzkpoa3QPb1r9wamzo2_640.jpg', title: 'Ginger vs. Conney' }/
%p Ginger vs. Conney
