---
title: Ginger vs. Conney
date: 2012/02/18 05:21:40
author: Casie
---

%p.center
  %img{ alt: 'Ginger Blue Blanket', src: '/images/uploads/pictures/1329542444213884.jpg', title: 'Ginger Blue Blanket' }/
%p.center
  %img{ alt: 'Conney Blue Blanket', src: '/images/uploads/pictures/1329542428589264.jpg', title: 'Conney Blue Blanket' }/
