---
title: Ginger Puppy - 1995
date: 2012/02/18 05:28:29
author: Casie
tumblr_id: 17808447936
tags: corgi, puppy, welsh corgi, dog, corgi puppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkpvhTcxN1r9wamzo1_1280.jpg' }
    %img{ alt: 'Ginger Puppy - 1995', src: '/uploads/pictures/medium_tumblr_lzkpvhTcxN1r9wamzo1_1280.jpg', title: 'Ginger Puppy - 1995' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkpvhTcxN1r9wamzo2_1280.jpg' }
    %img{ alt: 'Ginger Puppy - 1995', src: '/uploads/pictures/medium_tumblr_lzkpvhTcxN1r9wamzo2_1280.jpg', title: 'Ginger Puppy - 1995' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkpvhTcxN1r9wamzo3_1280.jpg' }
    %img{ alt: 'Ginger Puppy - 1995', src: '/uploads/pictures/medium_tumblr_lzkpvhTcxN1r9wamzo3_1280.jpg', title: 'Ginger Puppy - 1995' }/
%p Ginger Puppy - 1995
