---
title: Ginger! 1
date: 2012/06/10 23:16:13
author: Casie
tumblr_id: 24845735702
tags: corgi, welsh corgi, ginger, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5fcn2jL9W1r9wamzo1_1280.jpg' }
    %img{ alt: 'Ginger!', src: '/uploads/pictures/medium_tumblr_m5fcn2jL9W1r9wamzo1_1280.jpg', title: 'Ginger!' }/
%p Ginger!
