---
title: Give me pets.
date: 2013/10/18 02:13:49
author: Casie
tumblr_id: 64351929605
tags: corgi, welsh corgi, dog, cute, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_muue72bzNR1r9wamzo1_1280.jpg' }
    %img{ alt: 'Give me pets.', src: '/uploads/pictures/medium_tumblr_muue72bzNR1r9wamzo1_1280.jpg', title: 'Give me pets.' }/
%p Give me pets.
