---
title: Going, Going, Gone
date: 2012/02/22 22:10:18
author: Casie
---

%p.center 1.
%p.center
  %img{ alt: 'Falling Asleep', src: '/images/uploads/pictures/1329948522780133.jpg', title: 'Falling Asleep' }/
%p.center 2.
%p.center
  %img{ alt: 'Falling Asleep', src: '/images/uploads/pictures/1329948522847423.jpg', title: 'Falling Asleep' }/
%p.center 3.
%p.center
  %img{ alt: 'Falling Asleep', src: '/images/uploads/pictures/1329948522974313.jpg', title: 'Falling Asleep' }/
