---
title: Goodbye Wiggle Butt
date: 2015/08/25 01:51:18
author: Sean
---

%p.center
  %img{ src: '/images/uploads/pictures/1440457202935443.gif', title: 'Go Conney! Go!' }/
%p On the afternoon of Sunday January 1st, 2012 Conney the Pembroke Welsh Corgi came into our lives with the wiggliest wiggle butt ever. 1331 days later on Monday August 24th, 2015 at 2:55 PM she gave us one last wiggle.
%p This is the hardest thing I've ever had to write. But I feel like I need to do it anyways. I want everyone to know how wonderful Conney was. She was the best dog in the whole world. She meant the world to Casie and I, and I know everyone, human or dog, who ever met her came to love her.
%p Not long after I moved in with Casie in early 2011 she started to bug me at least once a week about getting a corgi. She had lost her corgi Ginger — who had been with her for 15 years — the year before. It was rough. Ginger was a character, and even though she wasn't my dog it was still hard for me too. I was reluctant. Corgis can be a handful. They're little dogs, but don't tell them that, they're too stubborn to realize it.
%p Casie sent me dozens of links to very adorable, very adoptable dogs on Petfinder and elsewhere. Every time I just shook my head and reminded her that I didn't want a dog. Sometime towards the end of the year (probably late November or early December) Casie made a list; a list of all of the pros and even some cons of getting a corgi. I wasn't terribly convinced, but she did make lots of valid points. I'm so glad I relented and finally said okay.
%p
  It wasn't until the last week of the year when Casie made me look at a very adorable corgi up for adoption from
  %a{ href: 'http://www.ohar.org/' } Oak Hill Animal Rescue
  that my resistance truly broke down. Her name was Conney and she needed a new home. And she was
  = succeed "." do
    %em adorable
%p I'll never forget just how much her butt wiggled when she hopped out of the back of the truck. She was so timid, but so excited. After we got her into our apartment she ran around sniffing everything. And then she flopped on her back and demanded belly rubs. She never ever stopped demanding belly rubs. Betty asked us all sorts of questions and I was honestly a little worried that we wouldn't be allowed to keep her. Finally she asked us what would happen to Conney if something were to happen to us. Casie and I both misinterpreted the question and assumed she meant what would happen if we both died and said she'd probably go to Casie's parents. I think she got a kick out of that. By this time I was already certain Conney was the dog for us. She was just too floppy and too cute to turn away.
%p We were heartbroken to hear about how she had come into the care of Oak Hill Animal Rescue. Apparently Conney had been rescued by the SPCA from "a family with a large number of children and lots of animals"; some sort of animal hoarding situation. After that she was adopted by a family but was returned after a month because she was "disobedient". Even though we'd only known her for an hour at that point we couldn't believe it. She was so calm, so cute, and so well behaved. Did I mention she was floppy?
%p.center
  %a{ href: 'http://conneythecorgi.com/uploads/pictures/1440457848825130.jpg' }
    %img{ src: '/images/uploads/pictures/1440457849296207.jpg', title: 'So floppy.' }/
  %br/
  %span{ style: 'font-size: 10px; font-style: italic;' } Conney on her first walk with her new humans.
%p It didn't take long for her to make her way into our hearts. Conney's cuteness was infectious. We couldn't take her anywhere without someone making a comment about how cute she is. My response was always "I know." What else can you say when someone states the obvious? Over the last the last three years and eight months the importance of Conney in our lives only grew.
%p.center
  %a{ href: "" }
    %img{ src: '/images/uploads/pictures/1440458648154154.jpg' }/
  %br/
  %span{ style: 'font-size: 10px; font-style: italic;' } Conney taking one last walk around the block.
%p She was with us all the time and now that she's not here the house seems so much emptier. It's only been a few hours and the squirrels have already started to take over the yard. I keep expecting Conney to come running down the stairs. Her claws making a soft pitter patter on the wood floor as she heads over to the kitchen to scout for food.
%p She was wiggle butt, snarf snarf (really more of us imitating the noise she made than something we called her), pokey puppy, floppy dog, little baby, poor puppy, the true ultimate piggy, and most importantly she was our Conney dog.
%p.center
  %a{ href: 'http://conneythecorgi.com/uploads/pictures/1440452753375297.jpg' }
    %img{ src: '/images/uploads/pictures/1440452751891971.jpg' }/
  %br/
  %span{ style: 'font-size: 10px; font-style: italic;' } Casie's Corgi Pro and Con List
%p If I were making a list of the pros and cons of Conney now the pros would include everything about her, even all of the hair, and the only con would be something my step-mom Nancy said, "They take a piece of your heart with them that you never get back..."
%p.center
  %a{ href: 'http://conneythecorgi.com/uploads/pictures/1440469632306311.jpg' }
    %img{ src: '/images/uploads/pictures/1440469712461889.jpg' }/
