---
title: Goodnight! 2
date: 2014/02/03 05:37:37
author: Casie
tumblr_id: 75455203615
tags: corgi, pembroke welsh corgi, welsh corgi, dog, cute, sleep, sleepy, silly, floppy, floppy dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n0enmpLPEi1r9wamzo1_1280.jpg' }
    %img{ alt: 'Goodnight!', src: '/uploads/pictures/medium_tumblr_n0enmpLPEi1r9wamzo1_1280.jpg', title: 'Goodnight!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n0enmpLPEi1r9wamzo2_1280.jpg' }
    %img{ alt: 'Goodnight!', src: '/uploads/pictures/medium_tumblr_n0enmpLPEi1r9wamzo2_1280.jpg', title: 'Goodnight!' }/
%p Goodnight!
