---
title: Good morning!
date: 2015/04/25 17:14:42
author: Casie
tumblr_id: 117348647719
tags: corgi, welsh corgi, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nndh8inoSk1r9wamzo1_1280.jpg' }
    %img{ alt: 'Good morning!', src: '/uploads/pictures/medium_tumblr_nndh8inoSk1r9wamzo1_1280.jpg', title: 'Good morning!' }/
%p Good morning!
