---
title: Goodnight! 1
date: 2014/12/01 05:12:07
author: Casie
tumblr_id: 104050333904
tags: corgi, welsh corgi, dog, bedtime, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfw147jlCq1r9wamzo1_1280.jpg' }
    %img{ alt: 'Goodnight!', src: '/uploads/pictures/medium_tumblr_nfw147jlCq1r9wamzo1_1280.jpg', title: 'Goodnight!' }/
%p Goodnight!
