---
title: Goodnight!
date: 2012/02/13 05:25:36
author: Casie
---

%p.center
  %img{ alt: 'Conney in Bed', src: '/uploads/pictures/1329110618148826.jpg', style: 'width: 800px;', title: 'Conney in Bed' }/
/ more
%p.center
  %img{ alt: 'Conney in Bed', src: '/uploads/pictures/1329110619826340.jpg', style: 'width: 800px;', title: 'Conney in Bed' }/
%p.center
  %img{ alt: 'Conney in Bed', src: '/uploads/pictures/1329110620540490.jpg', style: 'width: 600px;', title: 'Conney in Bed' }/
%p.center
  %img{ alt: 'Conney in Bed', src: '/uploads/pictures/1329110621217510.jpg', style: 'width: 600px;', title: 'Conney in Bed' }/
