---
title: Got Conney a new squirrel themed collar!
date: 2014/04/01 01:36:05
author: Casie
tumblr_id: 81346786820
tags: corgi, collar, dog collar, squirrel, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n3bwg5Mgup1r9wamzo1_1280.jpg' }
    %img{ alt: 'Got Conney a new squirrel themed collar!', src: '/uploads/pictures/medium_tumblr_n3bwg5Mgup1r9wamzo1_1280.jpg', title: 'Got Conney a new squirrel themed collar!' }/
%p Got Conney a new squirrel themed collar!
