---
title: Granola Bars (Taken with instagram)
date: 2012/02/24 01:21:11
author: Casie
tumblr_id: 18161053215
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzvifcVA0N1r9wamzo1_640.jpg' }
    %img{ alt: 'Granola Bars (Taken with instagram)', src: '/uploads/pictures/medium_tumblr_lzvifcVA0N1r9wamzo1_640.jpg', title: 'Granola Bars (Taken with instagram)' }/
%p
  Granola Bars (Taken with
  = succeed ")" do
    %a{ href: 'http://instagr.am' } instagram
