---
title: "Growlies #corgi #cute"
date: 2014/11/10 03:17:59
author: Casie
tumblr_id: 102243556129
tags: corgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_neszu1RPJK1r9wamzo1_640.jpg' }
    %img{ alt: 'Growlies #corgi #cute', src: '/uploads/pictures/medium_tumblr_neszu1RPJK1r9wamzo1_640.jpg', title: 'Growlies #corgi #cute' }/
%p Growlies #corgi #cute
