---
title: "Grumpy Conney has taken over my blanket. #corgi #knitting"
date: 2014/03/18 03:33:47
author: Casie
tumblr_id: 79938331477
tags: corgi, knitting, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n2m4kbAFFU1r9wamzo1_640.jpg' }
    %img{ alt: 'Grumpy Conney has taken over my blanket. #corgi #knitting', src: '/uploads/pictures/medium_tumblr_n2m4kbAFFU1r9wamzo1_640.jpg', title: 'Grumpy Conney has taken over my blanket. #corgi #knitting' }/
%p Grumpy Conney has taken over my blanket. #corgi #knitting
