---
title: "Guard dog #corgi"
date: 2014/10/17 00:03:37
author: Casie
tumblr_id: 100197930599
tags: corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ndkau2INX61r9wamzo1_640.jpg' }
    %img{ alt: 'Guard dog #corgi', src: '/uploads/pictures/medium_tumblr_ndkau2INX61r9wamzo1_640.jpg', title: 'Guard dog #corgi' }/
%p Guard dog #corgi
