---
title: Guys...it's bed time.
date: 2012/02/12 06:28:42
author: Casie
tumblr_id: 17475240104
tags: corgi, welsh corgi, zzzz, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lz9onuXSDk1r9wamzo1_1280.png' }
    %img{ alt: "Guys…it's bed time.", src: '/uploads/pictures/medium_tumblr_lz9onuXSDk1r9wamzo1_1280.png', title: "Guys…it's bed time." }/
%p Guys…it's bed time.
