---
title: "Half up, half down #corgi #corgigram #welshcorgi #cute"
date: 2013/05/21 02:39:22
author: Casie
tumblr_id: 50959610166
tags: corgi, corgigram, cute, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mn4ndntRQe1r9wamzo1_640.jpg' }
    %img{ alt: 'Half up, half down #corgi #corgigram #welshcorgi #cute', src: '/uploads/pictures/medium_tumblr_mn4ndntRQe1r9wamzo1_640.jpg', title: 'Half up, half down #corgi #corgigram #welshcorgi #cute' }/
%p Half up, half down #corgi #corgigram #welshcorgi #cute
