---
title: Hanging out with my bff.
date: 2015/07/12 02:53:18
author: Casie
tumblr_id: 123856136519
tags: pembroke welsh corgi, corgi, welsh corgi, dog, happy puppy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nrctcuXu2B1r9wamzo1_1280.jpg' }
    %img{ alt: 'Hanging out with my bff.', src: '/uploads/pictures/medium_tumblr_nrctcuXu2B1r9wamzo1_1280.jpg', title: 'Hanging out with my bff.' }/
%p Hanging out with my bff.
