---
title: "Happy floppy dog #corgi #welshcorgi #corgigram #cute"
date: 2013/03/27 00:31:43
author: Casie
tumblr_id: 46379826461
tags: corgi, corgigram, cute, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mkamsvsV1X1r9wamzo1_640.jpg' }
    %img{ alt: 'Happy floppy dog #corgi #welshcorgi #corgigram #cute', src: '/uploads/pictures/medium_tumblr_mkamsvsV1X1r9wamzo1_640.jpg', title: 'Happy floppy dog #corgi #welshcorgi #corgigram #cute' }/
%p Happy floppy dog #corgi #welshcorgi #corgigram #cute
