---
title: "Happy Halloween! #corgi #welshcorgi #Halloween"
date: 2013/11/01 01:30:52
author: Casie
tumblr_id: 65658100082
tags: corgi, halloween, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mvk9jgcEpA1r9wamzo1_640.jpg' }
    %img{ alt: 'Happy Halloween! #corgi #welshcorgi #Halloween', src: '/uploads/pictures/medium_tumblr_mvk9jgcEpA1r9wamzo1_640.jpg', title: 'Happy Halloween! #corgi #welshcorgi #Halloween' }/
%p Happy Halloween! #corgi #welshcorgi #Halloween
