---
title: Happy 5 day weekend!
date: 2015/05/21 14:37:06
author: Casie
tumblr_id: 119524577204
tags: corgi, welsh corgi, vacation, naps, memorial day, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nopf9uoAbp1r9wamzo1_1280.jpg' }
    %img{ alt: 'Happy 5 day weekend!', src: '/uploads/pictures/medium_tumblr_nopf9uoAbp1r9wamzo1_1280.jpg', title: 'Happy 5 day weekend!' }/
%p Happy 5 day weekend!
