---
title: Happy dogs at the park!
date: 2013/03/04 00:44:14
author: Casie
tumblr_id: 44501658215
tags: corgi, welsh corgi, dog, dogs, blue heeler, dog park, puppy, play time, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mj421qdhKN1r9wamzo1_1280.jpg' }
    %img{ alt: 'Happy dogs at the park!', src: '/uploads/pictures/medium_tumblr_mj421qdhKN1r9wamzo1_1280.jpg', title: 'Happy dogs at the park!' }/
%p Happy dogs at the park!
