---
title: Happy!
date: 2012/01/05 03:32:28
author: Casie
tumblr_id: 15327771217
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxb364qymp1r9wamzo1_1280.png' }
    %img{ alt: 'Happy!', src: '/uploads/pictures/medium_tumblr_lxb364qymp1r9wamzo1_1280.png', title: 'Happy!' }/
%p Happy!
