---
title: "Happy 4th! #hardtnerks #fourthofjuly #patriotic #corgi (at City"
date: 2014/07/04 15:44:48
author: Casie
tumblr_id: 90764165974
tags: patriotic, corgi, hardtnerks, fourthofjuly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n872eontKF1r9wamzo1_640.jpg' }
    %img{ alt: 'Happy 4th! #hardtnerks #fourthofjuly #patriotic #corgi (at City of Hardtner)', src: '/uploads/pictures/medium_tumblr_n872eontKF1r9wamzo1_640.jpg', title: 'Happy 4th! #hardtnerks #fourthofjuly #patriotic #corgi (at City of Hardtner)' }/
%p Happy 4th! #hardtnerks #fourthofjuly #patriotic #corgi (at City of Hardtner)
