---
title: Hardtner, Kansas, only 172 people left in this town.
date: 2014/07/12 02:17:56
author: Casie
tumblr_id: 91508421844
tags: hardtner, hardtner ks, kansas, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo1_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo1_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo2_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo2_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo3_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo3_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo4_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo4_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo5_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo5_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo6_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo6_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo7_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo7_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo8_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo8_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo9_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo9_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lkaofbC0DB1qchs1zo10_1280.jpg' }
    %img{ alt: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small', src: '/uploads/pictures/medium_tumblr_lkaofbC0DB1qchs1zo10_1280.jpg', title: 'dtxmcclain: Hardtner, Kansas, only 172 people left in this town. Definitely less than that. These are great photos…3rd small' }/
%p
  %a.tumblr_blog{ href: 'http://dtxmcclain.tumblr.com/post/4977599788/hardtner-kansas-only-172-people-left-in-this' }> dtxmcclain
  \:
%blockquote
  %p Hardtner, Kansas, only 172 people left in this town.
%p Definitely less than that.
%p These are great photos…3rd small photo on the right is my grandpa's gas station :)
