---
title: Have these treats chilling in the refrigerator for Conney since
date: 2012/03/04 20:54:27
author: Casie
tumblr_id: 18747009320
tags: corgi, welsh corgi, dog treats, dog food, peanut butter, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0doqrVvEx1r9wamzo1_640.jpg' }
    %img{ alt: "Have these treats chilling in the refrigerator for Conney since it's her birthday! Only made a half batch since this seemed like", src: '/uploads/pictures/medium_tumblr_m0doqrVvEx1r9wamzo1_640.jpg', title: "Have these treats chilling in the refrigerator for Conney since it's her birthday! Only made a half batch since this seemed like" }/
%p
  Have
  %a{ href: 'http://www.bestbullysticks.com/blog/best-bully-news/weekly-drool-recipe-3-ingredient-no-bake-puppy-peanut-butter-balls/' } these treats
  chilling in the refrigerator for Conney since it's her birthday! Only made a half batch since this seemed like a lot. Gave her the bowl to lick after I was done, and she carried it around for 15 minutes. I think that means she likes them :)
