---
title: "Hello Cowboy!! #corgimix #heelermix #redheeler #cute"
date: 2015/10/17 19:11:39
author: Casie
tumblr_id: 131365571439
tags: cute, alittlefloppy, rescue, heelermix, newdog, corgimix, redheeler, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nwdpbfRVDJ1r9wamzo1_1280.jpg' }
    %img{ alt: 'Hello Cowboy!! #corgimix #heelermix #redheeler #cute #alittlefloppy #newdog #rescue', src: '/uploads/pictures/medium_tumblr_nwdpbfRVDJ1r9wamzo1_1280.jpg', title: 'Hello Cowboy!! #corgimix #heelermix #redheeler #cute #alittlefloppy #newdog #rescue' }/
%p Hello Cowboy!! #corgimix #heelermix #redheeler #cute #alittlefloppy #newdog #rescue
