---
title: Here's a group shot from today's meetup of the &quot;Corgi Nation&quot; at
date: 2013/04/21 15:50:12
author: Casie
tumblr_id: 48530923548
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mll4urI9CZ1qbwakso1_1280.jpg' }
    %img{ alt: "corgiaddict: Here's a group shot from today's meetup of the \"Corgi Nation\" at the Huntington Dog Beach in Huntington Beach,", src: '/uploads/pictures/medium_tumblr_mll4urI9CZ1qbwakso1_1280.jpg', title: "corgiaddict: Here's a group shot from today's meetup of the \"Corgi Nation\" at the Huntington Dog Beach in Huntington Beach," }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/48493172066' }> corgiaddict
  \:
%blockquote
  %p Here's a group shot from today's meetup of the "Corgi Nation" at the Huntington Dog Beach in Huntington Beach, California. Red heads, sables, red-head tris, black-head tris, pemmies with tails, cardis, blue merles, and fluffies were all represented. An awesome day by the sea! Woof!
  %p
    %em I counted more than 49 corgis! HOLY CORGASBORG! THAT IS A LOTTA CORG!!!
%p I bet there are more corgis in DFW than Southern California. But how do we get them all together?! And where?! Nicole &amp; Emma- how do we make this happen?
