---
title: "HI! #corgi #corgigram #dog #welshcorgi #cute (Taken with"
date: 2012/07/21 02:55:42
author: Casie
tumblr_id: 27671062600
tags: corgi, corgigram, dog, cute, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m7hpguYy4M1r9wamzo1_640.jpg' }
    %img{ alt: 'HI! #corgi #corgigram #dog #welshcorgi #cute (Taken with Instagram at Carrollton, TX)', src: '/uploads/pictures/medium_tumblr_m7hpguYy4M1r9wamzo1_640.jpg', title: 'HI! #corgi #corgigram #dog #welshcorgi #cute (Taken with Instagram at Carrollton, TX)' }/
%p
  HI! #corgi #corgigram #dog #welshcorgi #cute (Taken with
  %a{ href: 'http://instagram.com' } Instagram
  at Carrollton, TX)
