---
title: Hi guys! 1
date: 2012/01/03 20:30:00
author: Casie
tumblr_id: 15253291832
tags: corgi, welsh corgi, pembroke welsh corgi, pembroke, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lx8oyfDa521r9wamzo1_1280.jpg' }
    %img{ alt: 'Hi guys!', src: '/uploads/pictures/medium_tumblr_lx8oyfDa521r9wamzo1_1280.jpg', title: 'Hi guys!' }/
%p Hi guys!
