---
title: Hi guys!
date: 2015/08/22 15:57:39
author: Casie
tumblr_id: 127320226504
tags: corgi, first post, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lx8oyfDa521r9wamzo1_1280.jpg' }
    %img{ alt: 'conneythecorgi: Hi guys! Conney, 3 days after her adoption.', src: '/uploads/pictures/medium_tumblr_lx8oyfDa521r9wamzo1_1280.jpg', title: 'conneythecorgi: Hi guys! Conney, 3 days after her adoption.' }/
%p
  %a.tumblr_blog{ href: 'http://conneythecorgi.tumblr.com/post/15253291832' }> conneythecorgi
  \:
%blockquote
  %p Hi guys!
%p Conney, 3 days after her adoption.
