---
title: Hi!
date: 2012/03/13 03:03:41
author: Casie
tumblr_id: 19218399380
tags: corgi, welsh corgi, dog park, cute, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0sz65Mm0R1r9wamzo1_1280.png' }
    %img{ alt: 'Hi!', src: '/uploads/pictures/medium_tumblr_m0sz65Mm0R1r9wamzo1_1280.png', title: 'Hi!' }/
%p Hi!
