---
title: Hmph!!!!
date: 2014/10/29 03:12:18
author: Casie
tumblr_id: 101228288719
tags: corgi, welsh corgi, hmph, grumpy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ne6rkiYwPH1r9wamzo1_1280.jpg' }
    %img{ alt: 'Hmph!!!!', src: '/uploads/pictures/medium_tumblr_ne6rkiYwPH1r9wamzo1_1280.jpg', title: 'Hmph!!!!' }/
%p Hmph!!!!
