---
title: "&quot;Ho Ho Ho, very funny Mom, very funny.&quot; #chompersthecorgi"
date: 2014/06/23 23:30:56
author: Casie
tumblr_id: 89701780244
tags: corgi, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n7myceQeOH1svm4dgo1_640.jpg' }
    %img{ alt: "chompersthecorgi: \"Ho Ho Ho, very funny Mom, very funny.\" #chompersthecorgi #chompersthehoho #imhungry #thankgoditstimeforlunch", src: '/uploads/pictures/medium_tumblr_n7myceQeOH1svm4dgo1_640.jpg', title: "chompersthecorgi: \"Ho Ho Ho, very funny Mom, very funny.\" #chompersthecorgi #chompersthehoho #imhungry #thankgoditstimeforlunch" }/
%p
  %a.tumblr_blog{ href: 'http://chompersthecorgi.tumblr.com/post/89678548222/ho-ho-ho-very-funny-mom-very-funny' }> chompersthecorgi
  \:
%blockquote
  %p "Ho Ho Ho, very funny Mom, very funny." #chompersthecorgi #chompersthehoho #imhungry #thankgoditstimeforlunch
%p Magical.
