---
title: How can something so small take up so much space?
date: 2014/09/19 03:31:37
author: Casie
tumblr_id: 97862653224
tags: corgi, welsh corgi, sleepy, bed time, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nc4psprYbn1r9wamzo1_1280.jpg' }
    %img{ alt: 'How can something so small take up so much space?', src: '/uploads/pictures/medium_tumblr_nc4psprYbn1r9wamzo1_1280.jpg', title: 'How can something so small take up so much space?' }/
%p How can something so small take up so much space?
