---
title: How can you say no to this face?
date: 2012/01/08 07:39:10
author: Sean
---

%p.center
  %img{ alt: 'How can you say no to this face?', src: '/uploads/pictures/1326008303509291.jpg', title: 'How can you say no to this face?' }/
