---
title: "How I also feel on Mondays. #corgi #corgisofinstagram #cute"
date: 2015/06/23 00:17:44
author: Casie
tumblr_id: 122208134714
tags: corgi, corgisofinstagram, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqdfhlCeyv1r9wamzo1_640.jpg' }
    %img{ alt: 'How I also feel on Mondays. #corgi #corgisofinstagram #cute', src: '/uploads/pictures/medium_tumblr_nqdfhlCeyv1r9wamzo1_640.jpg', title: 'How I also feel on Mondays. #corgi #corgisofinstagram #cute' }/
%p How I also feel on Mondays. #corgi #corgisofinstagram #cute
