---
title: "https://www.indiegogo.com/projects/our-fur-baby-boudreaux-needs-"
date: 2014/11/04 02:52:27
author: Casie
tumblr_id: 101726686239
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nehnr4h2Wp1sarevfo1_1280.jpg' }
    %img{ alt: 'emmathebean: sherlock-thecorgi: https://www.indiegogo.com/projects/our-fur-baby-boudreaux-needs-surgery-today-help Boudreaux is', src: '/uploads/pictures/medium_tumblr_nehnr4h2Wp1sarevfo1_1280.jpg', title: 'emmathebean: sherlock-thecorgi: https://www.indiegogo.com/projects/our-fur-baby-boudreaux-needs-surgery-today-help Boudreaux is' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/101721984590/sherlock-thecorgi' }> emmathebean
  \:
%blockquote
  %p
    %a.tumblr_blog{ href: 'http://sherlock-thecorgi.tumblr.com/post/101714863204/https-www-indiegogo-com-projects-our-fur-baby-bou' }> sherlock-thecorgi
    \:
  %blockquote
    %p
      %a{ href: 'https://www.indiegogo.com/projects/our-fur-baby-boudreaux-needs-surgery-today-help' } https://www.indiegogo.com/projects/our-fur-baby-boudreaux-needs-surgery-today-help
    %p Boudreaux is a North Texas Corgi in Fort Worth. They took Boudreaux to the vet in Petsmart and misdiagnosed him with pancreatitis. After not getting better for about a week, they took him to another vet and found out that there is something stuck in his intestines. Now Boudreaux needs emergency surgery and the family needs our help! Can Corgi Nation share this to help this sweet furbaby?
  %p This little guy is in our North Texas Corgi group, and he could use some love &amp; support.
