---
title: Human! You're home!
date: 2014/08/30 00:57:57
author: Casie
tumblr_id: 96129723664
tags: corgi, welsh corgi, dog, welcome home, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nb3hcmwDlK1r9wamzo1_1280.png' }
    %img{ alt: "Human! You're home!", src: '/uploads/pictures/medium_tumblr_nb3hcmwDlK1r9wamzo1_1280.png', title: "Human! You're home!" }/
%p Human! You're home!
