---
title: Hurry up and get in the house. It's dinner time!
date: 2014/06/14 00:52:50
author: Casie
tumblr_id: 88715432929
tags: corgi, welsh corgi, dog, dinner, doggy door, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n74vs29Jpk1r9wamzo1_1280.jpg' }
    %img{ alt: "Hurry up and get in the house. It's dinner time!", src: '/uploads/pictures/medium_tumblr_n74vs29Jpk1r9wamzo1_1280.jpg', title: "Hurry up and get in the house. It's dinner time!" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n74vs29Jpk1r9wamzo2_1280.jpg' }
    %img{ alt: "Hurry up and get in the house. It's dinner time!", src: '/uploads/pictures/medium_tumblr_n74vs29Jpk1r9wamzo2_1280.jpg', title: "Hurry up and get in the house. It's dinner time!" }/
%p Hurry up and get in the house. It's dinner time!
