---
title: Hurry up, human.
date: 2012/02/11 00:31:37
author: Casie
tumblr_id: 17396427073
tags: corgi, welsh corgi, dog, pembroke welsh corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lz7dgpHQHj1r9wamzo1_1280.png' }
    %img{ alt: 'Hurry up, human.', src: '/uploads/pictures/medium_tumblr_lz7dgpHQHj1r9wamzo1_1280.png', title: 'Hurry up, human.' }/
%p Hurry up, human.
