---
title: I always jokingly say Conney is turning into my first corgi,
date: 2015/01/22 01:00:57
author: Casie
tumblr_id: 108781431794
tags: corgi, welsh corgi, dog, ginger, ginger is the doggy, cute, best dog, food, demands, hunger, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo5_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo5_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo7_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo7_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo1_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo1_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo2_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo2_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo3_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo3_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo6_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo6_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo4_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo4_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nik05lDxQf1r9wamzo8_1280.jpg' }
    %img{ alt: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her', src: '/uploads/pictures/medium_tumblr_nik05lDxQf1r9wamzo8_1280.jpg', title: 'I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her' }/
%p I always jokingly say Conney is turning into my first corgi, Ginger. But today, it happened. I told Conney it was time for her dinner, and she herded me over to the kitchen and barked to demand her kibble! This is the first time she's ever barked at me for food…compared to the dog pictured above who would bark and demand/order her meals be served promptly when we got home.
