---
title: I can't believe you guys gave me a bath.
date: 2012/04/24 02:41:55
author: Casie
tumblr_id: 21693567730
tags: corgi, welsh corgi, dog, bath, clean, frap, shedding, cute, super cute, floppy ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2yq5vpheH1r9wamzo1_1280.png' }
    %img{ alt: "I can't believe you guys gave me a bath.", src: '/uploads/pictures/medium_tumblr_m2yq5vpheH1r9wamzo1_1280.png', title: "I can't believe you guys gave me a bath." }/
%p I can't believe you guys gave me a bath.
