---
title: I dare you to find a better sad/pathetic/manipulating/how could 1
date: 2015/04/15 23:43:38
author: Casie
tumblr_id: 116507765959
tags: corgi, welsh corgi, dog, sad face, puppy eyes, how could you, why me, muddy paws, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nmvgkqjruI1r9wamzo1_1280.jpg' }
    %img{ alt: 'I dare you to find a better sad/pathetic/manipulating/how could you face than this.', src: '/uploads/pictures/medium_tumblr_nmvgkqjruI1r9wamzo1_1280.jpg', title: 'I dare you to find a better sad/pathetic/manipulating/how could you face than this.' }/
%p I dare you to find a better sad/pathetic/manipulating/how could you face than this.
