---
title: I dare you to find a better sad/pathetic/manipulating/how could
date: 2016/08/24 13:39:13
author: Casie
tumblr_id: 149414542274
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nmvgkqjruI1r9wamzo1_1280.jpg' }
    %img{ alt: 'conneythecorgi: I dare you to find a better sad/pathetic/manipulating/how could you face than this.', src: '/uploads/pictures/medium_tumblr_nmvgkqjruI1r9wamzo1_1280.jpg', title: 'conneythecorgi: I dare you to find a better sad/pathetic/manipulating/how could you face than this.' }/
%p
  %a.tumblr_blog{ href: 'http://conneythecorgi.tumblr.com/post/116507765959/i-dare-you-to-find-a-better' }> conneythecorgi
  \:
%blockquote
  %p I dare you to find a better sad/pathetic/manipulating/how could you face than this.
