---
title: I don't know what that is, but I'd like a sample please.
date: 2015/07/19 19:02:16
author: Casie
tumblr_id: 124506350349
tags: corgi, welsh corgi, dog, beggar dog, hungry, cute, floppy ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nrr0vs3gkY1r9wamzo1_1280.jpg' }
    %img{ alt: "I don't know what that is, but I'd like a sample please.", src: '/uploads/pictures/medium_tumblr_nrr0vs3gkY1r9wamzo1_1280.jpg', title: "I don't know what that is, but I'd like a sample please." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nrr0vs3gkY1r9wamzo2_1280.jpg' }
    %img{ alt: "I don't know what that is, but I'd like a sample please.", src: '/uploads/pictures/medium_tumblr_nrr0vs3gkY1r9wamzo2_1280.jpg', title: "I don't know what that is, but I'd like a sample please." }/
%p I don't know what that is, but I'd like a sample please.
