---
title: I don't think I've posted this one yet... Conney attack! Taken
date: 2012/06/08 03:16:00
author: Casie
tumblr_id: 24656732795
tags: corgi, welsh corgi, dog, dog park, play, puppy, fun, attack, cute, derp, corgis, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5a3qwES0A1r9wamzo1_1280.jpg' }
    %img{ alt: "I don't think I've posted this one yet… Conney attack! Taken by Nicole.", src: '/uploads/pictures/medium_tumblr_m5a3qwES0A1r9wamzo1_1280.jpg', title: "I don't think I've posted this one yet… Conney attack! Taken by Nicole." }/
%p
  I don't think I've posted this one yet… Conney attack! Taken by
  = succeed "." do
    %a{ href: 'http://emmathebean.com' } Nicole
