---
title: I had a new person start on my team today at work, and he has a
date: 2014/02/11 00:17:33
author: Casie
tumblr_id: 76270511335
tags: corgi, welsh corgi, work, corgi discussions, tumblr
---

%p I had a new person start on my team today at work, and he has a corgi! So basically, we discussed our dogs for half an hour. Normal?
