---
title: I know my converse are like 10 yrs old (why I use them when
date: 2012/02/14 23:56:41
author: Casie
tumblr_id: 17628552018
tags: corgi, welsh corgi, chewing, bad dog, tumblr
---

%p I know my converse are like 10 yrs old (why I use them when walking Conney), but she chewed the rubber out of the back of the right one today. Ornery dog. Good news is I should get her IQ toy by Thursday so she can have something new.
