---
title: I Love Infomercials for Pillows
date: 2012/02/19 00:36:20
author: Sean
---

%p
  I'm pretty bad about remembering to upload pictures I take with my phone. Sooner or later Casie and I are going to get a nice DSLR (we were thinking a
  = succeed ")," do
    %a{ href: 'http://www.amazon.com/Canon-Digital-Imaging-18-135mm-Standard/dp/B004MN00C4/ref=sr_1_3?ie=UTF8&qid=1329611404&sr=8-3' } Canon T3i with an 18-135mm lens
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329610489299406.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329611890150376.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329610490490335.jpg', title: 'Conney the Corgi!' }/
/ more
%p.center
  %img{ alt: 'Conney and Kyle', src: '/uploads/pictures/1329610489201267.jpg', title: 'Conney and Kyle' }/
%p.center
  Conney and
  = succeed "!" do
    %a{ href: 'https://twitter.com/#!/kiznyle' } Kyle
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329610490586291.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329610490684000.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329610490777314.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1329610490870580.jpg', title: 'Conney the Corgi!' }/
