---
title: I loooove my new toy!
date: 2012/02/02 02:14:17
author: Casie
tumblr_id: 16897971874
tags: dog, chew toys, corgi, welsh corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lyqu7uFspx1r9wamzo1_1280.png' }
    %img{ alt: 'I loooove my new toy!', src: '/uploads/pictures/medium_tumblr_lyqu7uFspx1r9wamzo1_1280.png', title: 'I loooove my new toy!' }/
%p I loooove my new toy!
