---
title: I see you have cheese.
date: 2014/12/03 03:17:10
author: Casie
tumblr_id: 104212925194
tags: corgi, welsh corgi, dog, cute, cheese, beggar dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfzl4mEazy1r9wamzo1_1280.jpg' }
    %img{ alt: 'I see you have cheese.', src: '/uploads/pictures/medium_tumblr_nfzl4mEazy1r9wamzo1_1280.jpg', title: 'I see you have cheese.' }/
%p I see you have cheese.
