---
title: I see you. 1
date: 2013/09/15 19:34:25
author: Casie
tumblr_id: 61333415743
tags: corgi, welsh corgi, dog, couch, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mt6mddLdCJ1r9wamzo1_1280.jpg' }
    %img{ alt: 'I see you.', src: '/uploads/pictures/medium_tumblr_mt6mddLdCJ1r9wamzo1_1280.jpg', title: 'I see you.' }/
%p I see you.
