---
title: I see you.
date: 2015/05/09 19:10:16
author: Casie
tumblr_id: 118543735934
tags: corgi, welsh corgi, dog, squirrel, backyard, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_no3jx4Wzsf1r9wamzo1_1280.jpg' }
    %img{ alt: 'I see you.', src: '/uploads/pictures/medium_tumblr_no3jx4Wzsf1r9wamzo1_1280.jpg', title: 'I see you.' }/
%p I see you.
