---
title: I swear. My paws aren't covered in mud. Why don't you believe
date: 2015/06/27 15:54:29
author: Casie
tumblr_id: 122597297359
tags: corgi, welsh corgi, sad dog, muddy paws, blame the squirrels, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqm1itKCnw1r9wamzo1_1280.jpg' }
    %img{ alt: "I swear. My paws aren't covered in mud. Why don't you believe me?", src: '/uploads/pictures/medium_tumblr_nqm1itKCnw1r9wamzo1_1280.jpg', title: "I swear. My paws aren't covered in mud. Why don't you believe me?" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nqm1itKCnw1r9wamzo2_1280.jpg' }
    %img{ alt: "I swear. My paws aren't covered in mud. Why don't you believe me?", src: '/uploads/pictures/medium_tumblr_nqm1itKCnw1r9wamzo2_1280.jpg', title: "I swear. My paws aren't covered in mud. Why don't you believe me?" }/
%p I swear. My paws aren't covered in mud. Why don't you believe me?
