---
title: I swear. I don't know how this happened to my new toy.
date: 2015/01/15 04:20:24
author: Casie
tumblr_id: 108138762914
tags: corgi, welsh corgi, dog, dog toys, stuffing, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ni7aq0aEje1r9wamzo1_1280.jpg' }
    %img{ alt: "I swear. I don't know how this happened to my new toy.", src: '/uploads/pictures/medium_tumblr_ni7aq0aEje1r9wamzo1_1280.jpg', title: "I swear. I don't know how this happened to my new toy." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_ni7aq0aEje1r9wamzo2_1280.jpg' }
    %img{ alt: "I swear. I don't know how this happened to my new toy.", src: '/uploads/pictures/medium_tumblr_ni7aq0aEje1r9wamzo2_1280.jpg', title: "I swear. I don't know how this happened to my new toy." }/
%p I swear. I don't know how this happened to my new toy.
