---
title: I take my belly rubs however I can get them.
date: 2012/01/05 03:36:53
author: Casie
tumblr_id: 15328006523
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxb3dhspEo1r9wamzo1_1280.png' }
    %img{ alt: 'I take my belly rubs however I can get them.', src: '/uploads/pictures/medium_tumblr_lxb3dhspEo1r9wamzo1_1280.png', title: 'I take my belly rubs however I can get them.' }/
%p I take my belly rubs however I can get them.
