---
title: I think Conney forgot what 80 degrees felt like.
date: 2014/03/01 22:00:03
author: Casie
tumblr_id: 78249784020
tags: hot dog, corgi, dog, welsh corgi, spring, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n1s2g4tM8n1r9wamzo1_1280.jpg' }
    %img{ alt: 'I think Conney forgot what 80 degrees felt like.', src: '/uploads/pictures/medium_tumblr_n1s2g4tM8n1r9wamzo1_1280.jpg', title: 'I think Conney forgot what 80 degrees felt like.' }/
%p I think Conney forgot what 80 degrees felt like.
