---
title: I tried to get Conney to model her new bandana for the 4th of
date: 2014/06/28 23:18:30
author: Casie
tumblr_id: 90197245754
tags: corgi, pembroke welsh corgi, welsh corgi, dog, fourth of july, floppy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n7wjeu5XsH1r9wamzo1_1280.jpg' }
    %img{ alt: 'I tried to get Conney to model her new bandana for the 4th of July, and this was the result.', src: '/uploads/pictures/medium_tumblr_n7wjeu5XsH1r9wamzo1_1280.jpg', title: 'I tried to get Conney to model her new bandana for the 4th of July, and this was the result.' }/
%p I tried to get Conney to model her new bandana for the 4th of July, and this was the result.
