---
title: "Icy house with corgi #icepocalypse2013"
date: 2013/12/07 00:50:29
author: Casie
tumblr_id: 69218648542
tags: icepocalypse2013, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mxevo5niGn1r9wamzo1_640.jpg' }
    %img{ alt: 'Icy house with corgi #icepocalypse2013', src: '/uploads/pictures/medium_tumblr_mxevo5niGn1r9wamzo1_640.jpg', title: 'Icy house with corgi #icepocalypse2013' }/
%p Icy house with corgi #icepocalypse2013
