---
title: If you could hear these snores...
date: 2015/02/28 03:52:06
author: Casie
tumblr_id: 112281897079
tags: corgi, welsh corgi, dog, snuggles, snores, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkgqqu94g31r9wamzo1_1280.jpg' }
    %img{ alt: 'If you could hear these snores…', src: '/uploads/pictures/medium_tumblr_nkgqqu94g31r9wamzo1_1280.jpg', title: 'If you could hear these snores…' }/
%p If you could hear these snores…
