---
title: I'm a real corgi! Ears!!!
date: 2014/08/27 23:06:37
author: Casie
tumblr_id: 95949325439
tags: corgi, pembroke welsh corgi, welsh corgi, dog, corgi ears, cute, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nazmv1VMcm1r9wamzo1_1280.png' }
    %img{ alt: "I'm a real corgi! Ears!!!", src: '/uploads/pictures/medium_tumblr_nazmv1VMcm1r9wamzo1_1280.png', title: "I'm a real corgi! Ears!!!" }/
%p I'm a real corgi! Ears!!!
