---
title: I'm in love.
date: 2012/03/07 03:37:09
author: Casie
tumblr_id: 18885020855
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0htzv9oYt1rqc0vqo1_1280.jpg' }
    %img{ alt: "emmathebean: I'm in love. Omg.", src: '/uploads/pictures/medium_tumblr_m0htzv9oYt1rqc0vqo1_1280.jpg', title: "emmathebean: I'm in love. Omg." }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.tumblr.com/post/18881794237/im-in-love' }> emmathebean
  \:
%blockquote
  %p I'm in love.
%p Omg.
