---
title: I'm not too short to man the grill.
date: 2015/03/19 02:06:15
author: Casie
tumblr_id: 114010180859
tags: corgi, welsh corgi, dog, grilling, springtime, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nlfsifqRWI1r9wamzo1_1280.jpg' }
    %img{ alt: "I'm not too short to man the grill.", src: '/uploads/pictures/medium_tumblr_nlfsifqRWI1r9wamzo1_1280.jpg', title: "I'm not too short to man the grill." }/
%p I'm not too short to man the grill.
