---
title: "Impromptu storm &#x1f625;"
date: 2015/05/22 19:19:27
author: Casie
tumblr_id: 119620099094
tags: corgi, welsh corgi, dog, hiding place, west elm, thunderstorm, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_norn0fP8Ok1r9wamzo1_1280.jpg' }
    %img{ alt: 'Impromptu storm 😥', src: '/uploads/pictures/medium_tumblr_norn0fP8Ok1r9wamzo1_1280.jpg', title: 'Impromptu storm 😥' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_norn0fP8Ok1r9wamzo2_1280.jpg' }
    %img{ alt: 'Impromptu storm 😥', src: '/uploads/pictures/medium_tumblr_norn0fP8Ok1r9wamzo2_1280.jpg', title: 'Impromptu storm 😥' }/
%p Impromptu storm 😥
