---
title: In the middle of knitting a blanket. Of course, when I get up,
date: 2014/01/20 05:21:01
author: Casie
tumblr_id: 73918026917
tags: corgi, pembroke welsh corgi, welsh corgi, dog, knit, knitting, blanket, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mzopj2TAXb1r9wamzo1_1280.jpg' }
    %img{ alt: 'In the middle of knitting a blanket. Of course, when I get up, Conney immediately snuggles up on top of it.', src: '/uploads/pictures/medium_tumblr_mzopj2TAXb1r9wamzo1_1280.jpg', title: 'In the middle of knitting a blanket. Of course, when I get up, Conney immediately snuggles up on top of it.' }/
%p In the middle of knitting a blanket. Of course, when I get up, Conney immediately snuggles up on top of it.
