---
title: Indian Lake, OH (Taken with Instagram at Indian Lake)
date: 2012/06/17 16:53:20
author: Casie
tumblr_id: 25299486005
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5rtkw988M1r9wamzo1_640.jpg' }
    %img{ alt: 'Indian Lake, OH (Taken with Instagram at Indian Lake)', src: '/uploads/pictures/medium_tumblr_m5rtkw988M1r9wamzo1_640.jpg', title: 'Indian Lake, OH (Taken with Instagram at Indian Lake)' }/
%p
  Indian Lake, OH (Taken with
  %a{ href: 'http://instagr.am' } Instagram
  at Indian Lake)
