---
title: "It may be 103 degrees, but Conney doesn't mind. #corgi #hotdog"
date: 2014/08/10 19:39:12
author: Casie
tumblr_id: 94361998134
tags: corgi, hotdog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_na3vxdtyR51r9wamzo1_640.jpg' }
    %img{ alt: "It may be 103 degrees, but Conney doesn't mind. #corgi #hotdog", src: '/uploads/pictures/medium_tumblr_na3vxdtyR51r9wamzo1_640.jpg', title: "It may be 103 degrees, but Conney doesn't mind. #corgi #hotdog" }/
%p It may be 103 degrees, but Conney doesn't mind. #corgi #hotdog
