---
title: "It's hard to say no when they are this cute.. #takeallmyfries"
date: 2014/11/03 01:58:28
author: Casie
tumblr_id: 101638781874
tags: corgi, welsh corgi, emma, dog, begging, cute, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nefsouHxnn1r4omsco1_640.jpg' }
    %img{ alt: "emmathebean: It's hard to say no when they are this cute.. #takeallmyfries #emma #conney #corgi #leeharveys Where's our side of", src: '/uploads/pictures/medium_tumblr_nefsouHxnn1r4omsco1_640.jpg', title: "emmathebean: It's hard to say no when they are this cute.. #takeallmyfries #emma #conney #corgi #leeharveys Where's our side of" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/101630394915/its-hard-to-say-no-when-they-are-this-cute' }> emmathebean
  \:
%blockquote
  %p It's hard to say no when they are this cute.. #takeallmyfries #emma #conney #corgi #leeharveys
%p Where's our side of bacon?
