---
title: It's like the dog version of Maru!
date: 2012/04/23 01:47:16
author: Casie
tumblr_id: 21620634724
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m1fhcyQArL1qdszopo1_250.gif' }
    %img{ alt: "samantha-vas-ictomi: sparklygreyellipses: It's like the dog version of Maru! Maru likes jumping into boxes. Sophie doesn't", src: '/uploads/pictures/medium_tumblr_m1fhcyQArL1qdszopo1_250.gif', title: "samantha-vas-ictomi: sparklygreyellipses: It's like the dog version of Maru! Maru likes jumping into boxes. Sophie doesn't" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m1fhcyQArL1qdszopo2_250.gif' }
    %img{ alt: "samantha-vas-ictomi: sparklygreyellipses: It's like the dog version of Maru! Maru likes jumping into boxes. Sophie doesn't", src: '/uploads/pictures/medium_tumblr_m1fhcyQArL1qdszopo2_250.gif', title: "samantha-vas-ictomi: sparklygreyellipses: It's like the dog version of Maru! Maru likes jumping into boxes. Sophie doesn't" }/
%p
  %a.tumblr_blog{ href: 'http://samantha-vas-ictomi.tumblr.com/post/21603935428/sparklygreyellipses-its-like-the-dog-version' }> samantha-vas-ictomi
  \:
%blockquote
  %p
    %a.tumblr_blog{ href: 'http://sparklygreyellipses.tumblr.com/post/21597117304/its-like-the-dog-version-of-maru' }> sparklygreyellipses
    \:
  %blockquote
    %p It's like the dog version of Maru!
  %p Maru likes jumping into boxes.
  %p Sophie doesn't really do that
  %p
    %img{ src: 'https://66.media.tumblr.com/tumblr_m2wiv1zaFX1qcksaf.jpg' }/
%p Hahahahaha
