---
title: It's Conney's Birthday!
date: 2012/03/04 20:53:52
author: Casie
---

%p
  Have
  %a{ href: 'http://www.bestbullysticks.com/blog/best-bully-news/weekly-drool-recipe-3-ingredient-no-bake-puppy-peanut-butter-balls/' } these treats
  chilling in the refrigerator for Conney since it's her birthday!  Only made a half batch since this seemed like a lot.  Gave her the bowl to lick after I was done, and she carried it around for 15 minutes.  I think that means she likes them :)
