---
title: It's Corgi Time
date: 2012/01/02 11:39:33
---

%p Hi! My name is Sean and this is a blog dedicated to chronicling the adventures our newly adopted corgi named Conney. She's a little under three years old and is the sweetest most well behaved dog you'll ever meet.
%p The site itself is a work in progress so check soon if everything looks to be a mess. I'll be updating the layout over the coming week. I promise there will be tons of pictures very soon.
