---
title: It's our 1 year corgi-versary! First pic I took of her.
date: 2013/01/01 19:04:35
author: Casie
tumblr_id: 39397321874
tags: corgi, welsh corgi, welshcorgi, dog, cute, anniversary, pembroke welsh corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mfynnnsM2d1r9wamzo1_1280.jpg' }
    %img{ alt: "It's our 1 year corgi-versary! First pic I took of her.", src: '/uploads/pictures/medium_tumblr_mfynnnsM2d1r9wamzo1_1280.jpg', title: "It's our 1 year corgi-versary! First pic I took of her." }/
%p It's our 1 year corgi-versary! First pic I took of her.
