---
title: It's thundering! Conney has wedged herself behind the side
date: 2012/07/15 19:30:37
author: Casie
tumblr_id: 27274980858
tags: corgi, welsh corgi, dog, storm, thunderstorm, scared, thunder, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m77vj1ELYd1r9wamzo1_1280.jpg' }
    %img{ alt: "It's thundering! Conney has wedged herself behind the side table, wall, and couch. Poor scared-y dog.", src: '/uploads/pictures/medium_tumblr_m77vj1ELYd1r9wamzo1_1280.jpg', title: "It's thundering! Conney has wedged herself behind the side table, wall, and couch. Poor scared-y dog." }/
%p It's thundering! Conney has wedged herself behind the side table, wall, and couch. Poor scared-y dog.
