---
title: It's Emma's birthday week, so I will be rehashing some
date: 2012/07/08 16:44:12
author: Casie
tumblr_id: 26768649151
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m6uiwiyL1K1r4omsco1_400.jpg' }
    %img{ alt: "emmathebean: It's Emma's birthday week, so I will be rehashing some photos/videos. I can't believe she's 1. I preordered a cake", src: '/uploads/pictures/medium_tumblr_m6uiwiyL1K1r4omsco1_400.jpg', title: "emmathebean: It's Emma's birthday week, so I will be rehashing some photos/videos. I can't believe she's 1. I preordered a cake" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/26762734478/its-emmas-birthday-week-so-i-will-be-rehashing' }> emmathebean
  \:
%blockquote
  %p It's Emma's birthday week, so I will be rehashing some photos/videos.
  %p
    I can't believe she's 1. I preordered a
    %a{ href: 'http://4.bp.blogspot.com/_tbqjjczXU7Q/S9rgUCmrlNI/AAAAAAAAB54/WzlZrHLW2-c/s1600/cake.jpg' } cake
    for Friday, and was going to take it out to our dog park for our friends.
  %p Also, totally ordering the above birthday hats. It's only fitting for a Friday the 13th party.
%p I'll bring some cupcakes or cookies for the humans! Going to the store later…getting more oats too to make the peanut butter balls!
