---
title: I've noticed Conney likes to take naps with her nose near or on
date: 2014/12/24 18:28:13
author: Casie
tumblr_id: 106072893919
tags: corgi, welsh corgi, dog, treats, naps, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nh3nb1XYeV1r9wamzo1_1280.jpg' }
    %img{ alt: "I've noticed Conney likes to take naps with her nose near or on a treat. Must want to dream about bully sticks…", src: '/uploads/pictures/medium_tumblr_nh3nb1XYeV1r9wamzo1_1280.jpg', title: "I've noticed Conney likes to take naps with her nose near or on a treat. Must want to dream about bully sticks…" }/
%p I've noticed Conney likes to take naps with her nose near or on a treat. Must want to dream about bully sticks…
