---
title: July Corgi Meetup | Facebook
date: 2014/07/09 23:45:00
author: Casie
tumblr_id: 91298733599
tags: corgi, welsh corgi, north texas, dallas, dallas fort worth, north texas corgis, north texas corgi meetup, corgi meetup, dog park, dallas corgi meetup, tumblr
---

%p North Texas area!! This Saturday we are having a corgi meetup at Villages of Bear Creek Dog Park in Euless around 10AM (probably earlier since it's summer and SO HOT).
%p Directions here (click image to view iframe google maps):
%p
  %iframe{ frameborder: '0', height: '300', src: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6702.7074067326275!2d-97.07244590267645!3d32.86235985238088!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e803dc6152c11%3A0x1886c4c554e05195!2s1951+Bear+Creek+Pkwy!5e0!3m2!1sen!2sus!4v1404949345266', width: '400' }
