---
title: JUST BECAUSE.
date: 2012/05/15 15:51:09
author: Casie
tumblr_id: 23106596219
tags: corgi, welsh corgi, corgi butt, butt shake, dance, corgi dance, dog, silly, cute, amazing, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m42mp9pLPw1r9wamzo1_250.gif' }
    %img{ alt: 'JUST BECAUSE.', src: '/uploads/pictures/medium_tumblr_m42mp9pLPw1r9wamzo1_250.gif', title: 'JUST BECAUSE.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m42mp9pLPw1r9wamzo2_250.gif' }
    %img{ alt: 'JUST BECAUSE.', src: '/uploads/pictures/medium_tumblr_m42mp9pLPw1r9wamzo2_250.gif', title: 'JUST BECAUSE.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m42mp9pLPw1r9wamzo3_250.gif' }
    %img{ alt: 'JUST BECAUSE.', src: '/uploads/pictures/medium_tumblr_m42mp9pLPw1r9wamzo3_250.gif', title: 'JUST BECAUSE.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m42mp9pLPw1r9wamzo4_250.gif' }
    %img{ alt: 'JUST BECAUSE.', src: '/uploads/pictures/medium_tumblr_m42mp9pLPw1r9wamzo4_250.gif', title: 'JUST BECAUSE.' }/
%p JUST BECAUSE.
