---
title: Just ordered this corgi necklace from fab.com. Looks kinda like
date: 2012/03/16 02:38:58
author: Casie
tumblr_id: 19379196191
tags: corgi, welsh corgi, necklace, fab.com, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0yi0y1aBL1r9wamzo1_640.png' }
    %img{ alt: 'Just ordered this corgi necklace from fab.com. Looks kinda like Conney!', src: '/uploads/pictures/medium_tumblr_m0yi0y1aBL1r9wamzo1_640.png', title: 'Just ordered this corgi necklace from fab.com. Looks kinda like Conney!' }/
%p Just ordered this corgi necklace from fab.com. Looks kinda like Conney!
