---
title: Just Lucy being Lucy. Getting my weekly doggy time.
date: 2015/10/04 23:49:20
author: Casie
tumblr_id: 130511893459
tags: corgi mix, blue heeler, blue heeler corgi, dog, dog tricks, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nvpzi8WT7r1r9wamzo1_1280.jpg' }
    %img{ alt: 'Just Lucy being Lucy. Getting my weekly doggy time. @leisurelylucy', src: '/uploads/pictures/medium_tumblr_nvpzi8WT7r1r9wamzo1_1280.jpg', title: 'Just Lucy being Lucy. Getting my weekly doggy time. @leisurelylucy' }/
%p
  Just Lucy being Lucy. Getting my weekly doggy time.
  %a.tumblelog{ href: 'http://tmblr.co/m9t_DPOcrgqvM6WIs1lz1nw' } @leisurelylucy
