---
title: "Just saying #corgi #kstate"
date: 2013/01/23 05:16:22
author: Casie
tumblr_id: 41258917497
tags: kstate, corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mh2bzaXjBP1r9wamzo1_640.jpg' }
    %img{ alt: 'Just saying #corgi #kstate', src: '/uploads/pictures/medium_tumblr_mh2bzaXjBP1r9wamzo1_640.jpg', title: 'Just saying #corgi #kstate' }/
%p Just saying #corgi #kstate
