---
title: "K-State: 49 Kansas: 67 =("
date: 2012/01/05 07:08:25
author: Sean
---

%p.center
  %img{ alt: 'January 4th', src: '/uploads/pictures/1325746725172014.jpg', title: 'January 4th' }/
%p Conney's face when K-State sucks at basketball.
%p.center
  %img{ alt: 'January 4th', src: '/uploads/pictures/1325746725241010.jpg', title: 'January 4th' }/
%p.center
  %img{ alt: 'January 4th', src: '/uploads/pictures/1325746725271160.jpg', title: 'January 4th' }/
%p.center
  %img{ alt: 'January 4th', src: '/uploads/pictures/1325746725368141.jpg', title: 'January 4th' }/
%p She doesn't know it yet, but basketball is her favorite sport.
