---
title: Kyle's birthday card creation for this year.
date: 2012/03/10 02:50:33
author: Casie
tumblr_id: 19035987394
tags: corgi, welsh corgi, dog, brother, birthday, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0nek9AxOk1r9wamzo1_1280.png' }
    %img{ alt: "Kyle's birthday card creation for this year.", src: '/uploads/pictures/medium_tumblr_m0nek9AxOk1r9wamzo1_1280.png', title: "Kyle's birthday card creation for this year." }/
%p Kyle's birthday card creation for this year.
