---
title: Lap zombie.
date: 2015/03/09 02:07:33
author: Casie
tumblr_id: 113126095434
tags: zombie dog, corgi, welsh corgi, dog, not cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkx9wm09R71r9wamzo1_1280.jpg' }
    %img{ alt: 'Lap zombie.', src: '/uploads/pictures/medium_tumblr_nkx9wm09R71r9wamzo1_1280.jpg', title: 'Lap zombie.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nkx9wm09R71r9wamzo2_1280.jpg' }
    %img{ alt: 'Lap zombie.', src: '/uploads/pictures/medium_tumblr_nkx9wm09R71r9wamzo2_1280.jpg', title: 'Lap zombie.' }/
%p Lap zombie.
