---
title: Laser eyes!
date: 2012/08/17 03:04:34
author: Casie
tumblr_id: 29596725946
tags: corgi, welsh corgi, dog, puppy, blue heeler, eyes, laser, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m8vpvmeYSx1r9wamzo1_1280.jpg' }
    %img{ alt: 'Laser eyes!', src: '/uploads/pictures/medium_tumblr_m8vpvmeYSx1r9wamzo1_1280.jpg', title: 'Laser eyes!' }/
%p Laser eyes!
