---
title: Last weekend, Em &amp; I met up with Link and Conney at the dog
date: 2012/01/14 05:31:46
author: Casie
tumblr_id: 15814361492
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxrlx5s1gN1r4omsco1_1280.png' }
    %img{ alt: 'emmathebean: Last weekend, Em &amp; I met up with Link and Conney at the dog park. Here is a shot of Link &amp; Em wrestling,', src: '/uploads/pictures/medium_tumblr_lxrlx5s1gN1r4omsco1_1280.png', title: 'emmathebean: Last weekend, Em &amp; I met up with Link and Conney at the dog park. Here is a shot of Link &amp; Em wrestling,' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.tumblr.com/post/15802816666/last-weekend-em-i-met-up-with-link-and-conney' }> emmathebean
  \:
%blockquote
  %p Last weekend, Em &amp; I met up with Link and Conney at the dog park.
  %p Here is a shot of Link &amp; Em wrestling, while sensible Conney kindly takes the time to check Em's staples.
