---
title: Lazy tug of war.
date: 2012/11/19 00:58:04
author: Casie
tumblr_id: 36030682199
tags: corgi, welsh corgi, dog, play, tug of war, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mdpmosKnK61r9wamzo1_1280.jpg' }
    %img{ alt: 'Lazy tug of war.', src: '/uploads/pictures/medium_tumblr_mdpmosKnK61r9wamzo1_1280.jpg', title: 'Lazy tug of war.' }/
%p Lazy tug of war.
