---
title: Lazy Sunday
date: 2013/07/21 20:10:51
author: Casie
tumblr_id: 56077777427
tags: corgi, welsh corgi, dog, nap time, sleepy, cute, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mqayq3Zpbm1r9wamzo1_1280.jpg' }
    %img{ alt: 'Lazy Sunday', src: '/uploads/pictures/medium_tumblr_mqayq3Zpbm1r9wamzo1_1280.jpg', title: 'Lazy Sunday' }/
%p Lazy Sunday
