---
title: "leisurelylucy:     "
date: 2012/07/28 00:24:23
author: Casie
tumblr_id: 28161387370
tags: tumblr
---

%p
  %a.tumblr_blog{ href: 'http://leisurelylucy.tumblr.com/post/28080246006' }> leisurelylucy
  \:
%blockquote
  %p
    %img{ alt: 'Lucy!', height: '480', src: 'http://i49.tinypic.com/28rfs6t.jpg', width: '360' }/
