---
title: Let it be known, that once upon a time Conney got very dirty and 1
date: 2012/05/25 21:16:30
author: Casie
tumblr_id: 23752544642
tags: corgi, welsh corgi, dog, puppy, dirty, dog park, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4lbpersGV1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Let it be known, that once upon a time Conney got very dirty and Emma was not. It might even happen again!', src: '/uploads/pictures/medium_tumblr_m4lbpersGV1r4omsco1_1280.jpg', title: 'emmathebean: Let it be known, that once upon a time Conney got very dirty and Emma was not. It might even happen again!' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/23742588366/let-it-be-known-that-once-upon-a-time-conney-got' }> emmathebean
  \:
%blockquote
  %p
    Let it be known, that once upon a time
    %a{ href: 'http://conneythecorgi.tumblr.com' } Conney
    got
    %em very
    dirty and Emma was not.
%p It might even happen again!
