---
title: Let it be known, that once upon a time Conney got very dirty and
date: 2012/05/27 19:27:47
author: Casie
tumblr_id: 23878829845
tags: corgi, corgis, welsh corgi, llama, alpaca, corgi llamas, llama corgis, derp, derpy, silly, dog park, true, corgi addict, comments, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4lbpersGV1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: Let it be known, that once upon a time Conney got very dirty and Emma was not. fookwar reblogged this from', src: '/uploads/pictures/medium_tumblr_m4lbpersGV1r4omsco1_1280.jpg', title: 'emmathebean: Let it be known, that once upon a time Conney got very dirty and Emma was not. fookwar reblogged this from' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/23742588366/let-it-be-known-that-once-upon-a-time-conney-got' }> emmathebean
  \:
%blockquote
  %p
    Let it be known, that once upon a time
    %a{ href: 'http://conneythecorgi.tumblr.com' } Conney
    got
    %em very
    dirty and Emma was not.
%p fookwar reblogged this from corgiaddict and added:
%p
  %strong is that thing on the left a llama
%p austinthevox reblogged this from corgiaddict and added:
%p
  %strong I think this corgi is part llama
%p 1000beatsofmelody reblogged this from corgiaddict and added:
%p
  %strong The one on the left looks like an alpaca
%p kittykittybewmbewm213 reblogged this from corgiaddict and added:
%p
  %strong does anyone else notice how much like a llama that dog looks .-. ;
%p moughse reblogged this from corgiaddict and added:
%p
  %strong holy fuck the one on the left looks like a llama
%p getoutofheremorality reblogged this from corgiaddict and added:
%p
  %strong The dog on the left looks like a llama
%p
  %strong
    %br/
%p
  %img{ alt: 'Emma the llama', height: '433', src: 'http://i48.tinypic.com/2unvx95.jpg', width: '650' }/
