---
title: "Little known Corgi fact: Their fur helps them absorb their body"
date: 2012/06/23 01:04:06
author: Casie
tumblr_id: 25683979333
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5fhheEBKm1qbwakso1_1280.jpg' }
    %img{ alt: 'corgiaddict: Little known Corgi fact: Their fur helps them absorb their body weight in water. Look at it just dripping from his', src: '/uploads/pictures/medium_tumblr_m5fhheEBKm1qbwakso1_1280.jpg', title: 'corgiaddict: Little known Corgi fact: Their fur helps them absorb their body weight in water. Look at it just dripping from his' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/25681242226' }> corgiaddict
  \:
%blockquote
  %p Little known Corgi fact: Their fur helps them absorb their body weight in water. Look at it just dripping from his undercarriage. And of course he will only shake it all off when he is close to a human.
  %p submitted by POTDD
%p WHO'S THIS CONNEY TWIN?!?!?!
