---
title: Looks suspiciously like teeth marks.
date: 2012/04/18 22:56:03
author: Casie
tumblr_id: 21347200230
tags: corgi, welsh corgi, teeth, chewing, shoes, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2p6dfDRFt1r9wamzo1_1280.png' }
    %img{ alt: 'Looks suspiciously like teeth marks.', src: '/uploads/pictures/medium_tumblr_m2p6dfDRFt1r9wamzo1_1280.png', title: 'Looks suspiciously like teeth marks.' }/
%p Looks suspiciously like teeth marks.
