---
title: Looking sad. Dog park time!
date: 2012/06/22 23:38:57
author: Casie
tumblr_id: 25678739677
tags: corgi, welsh corgi, dog, dog park, play, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m61lox9Pay1r9wamzo1_1280.png' }
    %img{ alt: 'Looking sad. Dog park time!', src: '/uploads/pictures/medium_tumblr_m61lox9Pay1r9wamzo1_1280.png', title: 'Looking sad. Dog park time!' }/
%p Looking sad. Dog park time!
