---
title: Loooooooong dog.
date: 2012/05/13 01:53:27
author: Casie
tumblr_id: 22941469814
tags: corgi, welsh corgi, corgi butt, cute, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3xul3N7as1r9wamzo1_1280.png' }
    %img{ alt: 'Loooooooong dog.', src: '/uploads/pictures/medium_tumblr_m3xul3N7as1r9wamzo1_1280.png', title: 'Loooooooong dog.' }/
%p Loooooooong dog.
