---
title: Lots of corgis at Fort Woof dog park!
date: 2013/05/19 19:11:03
author: Casie
tumblr_id: 50841391877
tags: corgi, welsh corgi, dog, dog park, corgis, corgi meetup, dallas, fort worth, fort woof, cute, fluffy, puppy, animal, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo1_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo1_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo2_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo2_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo3_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo3_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo4_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo4_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo5_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo5_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo6_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo6_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mn27ygSnJ41r9wamzo7_1280.jpg' }
    %img{ alt: 'Lots of corgis at Fort Woof dog park!', src: '/uploads/pictures/medium_tumblr_mn27ygSnJ41r9wamzo7_1280.jpg', title: 'Lots of corgis at Fort Woof dog park!' }/
%p Lots of corgis at Fort Woof dog park!
