---
title: Lounging. (Taken with Instagram at Carrollton, TX)
date: 2012/04/21 04:59:48
author: Casie
tumblr_id: 21480459119
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2tcjonLNx1r9wamzo1_640.jpg' }
    %img{ alt: 'Lounging. (Taken with Instagram at Carrollton, TX)', src: '/uploads/pictures/medium_tumblr_m2tcjonLNx1r9wamzo1_640.jpg', title: 'Lounging. (Taken with Instagram at Carrollton, TX)' }/
%p
  Lounging. (Taken with
  %a{ href: 'http://instagr.am' } Instagram
  at Carrollton, TX)
