---
title: Lucy's first day with us Lucy with her best doggy
date: 2012/07/23 00:23:39
author: Casie
tumblr_id: 27796311789
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m7iah2VZPd1rbk0gqo1_1280.jpg' }
    %img{ alt: "leisurelylucy: Lucy's first day with us Lucy with her best doggy friend/favorite moving chew toy Conney Lucy has a tumblr!", src: '/uploads/pictures/medium_tumblr_m7iah2VZPd1rbk0gqo1_1280.jpg', title: "leisurelylucy: Lucy's first day with us Lucy with her best doggy friend/favorite moving chew toy Conney Lucy has a tumblr!" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m7iah2VZPd1rbk0gqo2_1280.jpg' }
    %img{ alt: "leisurelylucy: Lucy's first day with us Lucy with her best doggy friend/favorite moving chew toy Conney Lucy has a tumblr!", src: '/uploads/pictures/medium_tumblr_m7iah2VZPd1rbk0gqo2_1280.jpg', title: "leisurelylucy: Lucy's first day with us Lucy with her best doggy friend/favorite moving chew toy Conney Lucy has a tumblr!" }/
%p
  %a.tumblr_blog{ href: 'http://leisurelylucy.tumblr.com/post/27690718943/lucys-first-day-with-us-lucy-with-her-best-doggy' }> leisurelylucy
  \:
%blockquote
  %p Lucy's first day with us
  %p
    Lucy with her best doggy friend/favorite moving chew toy
    %a{ href: 'http://conneythecorgi.tumblr.com/', title: 'Conney' } Conney
%p Lucy has a tumblr!
