---
title: Lucy + Conney = BFFs
date: 2013/02/25 02:55:39
author: Casie
tumblr_id: 43952049886
tags: corgi, welsh corgi, corgi mix, blue heeler, dog, play time, bffs, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mir9griH401r9wamzo1_1280.jpg' }
    %img{ alt: 'Lucy + Conney = BFFs', src: '/uploads/pictures/medium_tumblr_mir9griH401r9wamzo1_1280.jpg', title: 'Lucy + Conney = BFFs' }/
%p Lucy + Conney = BFFs
