---
title: Lucy &amp; Conney. They'll be bffs once Conney stops being
date: 2012/06/13 02:09:07
author: Casie
tumblr_id: 24995468386
tags: corgi, welsh corgi, blue heeler, dog, puppy, cute, austraillian cattle dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5j9z8BB131r9wamzo1_1280.png' }
    %img{ alt: "Lucy &amp; Conney. They'll be bffs once Conney stops being growly.", src: '/uploads/pictures/medium_tumblr_m5j9z8BB131r9wamzo1_1280.png', title: "Lucy &amp; Conney. They'll be bffs once Conney stops being growly." }/
%p Lucy &amp; Conney. They'll be bffs once Conney stops being growly.
