---
title: "Lucy! #corgimix #blueheeler"
date: 2014/06/30 00:05:05
author: Casie
tumblr_id: 90299617054
tags: blueheeler, corgimix, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n7yg8hC7Mu1r9wamzo1_640.jpg' }
    %img{ alt: 'Lucy! #corgimix #blueheeler', src: '/uploads/pictures/medium_tumblr_n7yg8hC7Mu1r9wamzo1_640.jpg', title: 'Lucy! #corgimix #blueheeler' }/
%p Lucy! #corgimix #blueheeler
