---
title: Lucy kisses
date: 2012/06/25 01:53:09
author: Casie
tumblr_id: 25822757448
tags: corgi, welsh corgi, dog, puppy, blue heeler, kisses, licks, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m65h8ly4GA1r9wamzo1_1280.jpg' }
    %img{ alt: 'Lucy kisses', src: '/uploads/pictures/medium_tumblr_m65h8ly4GA1r9wamzo1_1280.jpg', title: 'Lucy kisses' }/
%p Lucy kisses
