---
title: LUCY!!! leisurelylucy
date: 2015/05/25 04:28:28
author: Casie
tumblr_id: 119823273999
tags: corgi mix, blue heeler, lucy, dog, cute, happy, blue heeler mix, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_now1rgUR0g1r9wamzo1_1280.jpg' }
    %img{ alt: 'LUCY!!! leisurelylucy', src: '/uploads/pictures/medium_tumblr_now1rgUR0g1r9wamzo1_1280.jpg', title: 'LUCY!!! leisurelylucy' }/
%p LUCY!!!
%p
  %a{ href: 'http://tmblr.co/m9t_DPOcrgqvM6WIs1lz1nw' } leisurelylucy
