---
title: "Lucy! #corgimix #couchpotato"
date: 2014/01/06 02:40:16
author: Casie
tumblr_id: 72393137283
tags: couchpotato, corgimix, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_myykr4H3CM1r9wamzo1_640.jpg' }
    %img{ alt: 'Lucy! #corgimix #couchpotato', src: '/uploads/pictures/medium_tumblr_myykr4H3CM1r9wamzo1_640.jpg', title: 'Lucy! #corgimix #couchpotato' }/
%p Lucy! #corgimix #couchpotato
