---
title: Made Conney some peanut butter treats. Gave her the bowl to
date: 2012/10/28 19:39:17
author: Casie
tumblr_id: 34506469999
tags: corgi, welsh corgi, dog, treats, peanut butter, dog treats, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mcmbvtED2L1r9wamzo1_1280.jpg' }
    %img{ alt: "Made Conney some peanut butter treats. Gave her the bowl to lick. She's been carrying it around for 15 minutes. Gotta have the", src: '/uploads/pictures/medium_tumblr_mcmbvtED2L1r9wamzo1_1280.jpg', title: "Made Conney some peanut butter treats. Gave her the bowl to lick. She's been carrying it around for 15 minutes. Gotta have the" }/
%p Made Conney some peanut butter treats. Gave her the bowl to lick. She's been carrying it around for 15 minutes. Gotta have the noms!
