---
title: March 17 Corgi Meetup - Part 3
date: 2012/04/01 23:28:19
author: Casie
---

%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322757684826.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322756161970.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
/ more
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322754207455.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322752621131.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322750899465.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322749132439.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322747529915.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322745942902.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
%p.center
  %img{ alt: 'March 17 - Corgi Meetup Part 3', src: '/images/uploads/pictures/1333322744578600.jpg', title: 'March 17 - Corgi Meetup Part 3' }/
