---
title: "mariomayfire asked:"
date: 2012/04/25 13:59:33
author: Casie
tumblr_id: 21781996019
tags: tumblr
---

.question
  %p.asker
    %strong mariomayfire
    asked:
  %p.question-text I don't know much about corgis (aside from knowing I'm destined to have one when I get older haha) but why does Conney have markings similar to a beagle? I literally thought he was a mix or something, as combining my two favorite dogs (beagle + corgi) is literally THE cutest thing imaginable...I didn't know that it was possible! Regardless, I love seeing him out of his cone-stage :D
.answer
  %p Tri-color corgis exist…you just don't see very many of them. She does look a lot like a beagle- I thought she might be a mix when I got her. I just adopted her in January, and actually got information about her breeder through the animal rescue. After googling, I found her breeder, parents, and some siblings online so I can verify she is 100% corgi.
  %p
    She has floppy ears though…I guess the previous owner didn't tape them up when they didn't stand up as a puppy. I think it makes her so much cuter. I know someone who has a corgi-beagle mix, and
    = succeed "." do
      %a{ href: 'http://30.media.tumblr.com/tumblr_m2uz5iybjC1r4omsco2_1280.jpg' } it's adorable
