---
title: Me and my BFF Conney.
date: 2012/12/22 03:25:05
author: Casie
tumblr_id: 38515823293
tags: corgi, welsh corgi, welshcorgi, dog, kisses, christmas, christmascorgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mfexhuue4J1r9wamzo1_1280.jpg' }
    %img{ alt: 'Me and my BFF Conney.', src: '/uploads/pictures/medium_tumblr_mfexhuue4J1r9wamzo1_1280.jpg', title: 'Me and my BFF Conney.' }/
%p Me and my BFF Conney.
