---
title: "Merry Christmas! #corgi"
date: 2014/12/24 04:54:17
author: Casie
tumblr_id: 106027714054
tags: corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nh2lmioZxA1r9wamzo1_640.jpg' }
    %img{ alt: 'Merry Christmas! #corgi', src: '/uploads/pictures/medium_tumblr_nh2lmioZxA1r9wamzo1_640.jpg', title: 'Merry Christmas! #corgi' }/
%p Merry Christmas! #corgi
