---
title: "Merry Christmas from Conney &amp; Lucy! #corgi #blueheeler"
date: 2012/12/16 03:31:15
author: Casie
tumblr_id: 38034014636
tags: corgigram, christmascorgis, corgichristmas, blueheeler, corgimix, corgi, christmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mf3ts4jDtI1r9wamzo1_640.jpg' }
    %img{ alt: 'Merry Christmas from Conney &amp; Lucy! #corgi #blueheeler #corgimix #corgigram #corgichristmas #christmascorgis #christmas', src: '/uploads/pictures/medium_tumblr_mf3ts4jDtI1r9wamzo1_640.jpg', title: 'Merry Christmas from Conney &amp; Lucy! #corgi #blueheeler #corgimix #corgigram #corgichristmas #christmascorgis #christmas' }/
%p Merry Christmas from Conney &amp; Lucy! #corgi #blueheeler #corgimix #corgigram #corgichristmas #christmascorgis #christmas
