---
title: "Missing dog found in Plano! From my parent's neighbor: I found"
date: 2012/08/06 23:07:39
author: Casie
tumblr_id: 28866208221
tags: plano, dog, lost dog, plano lost dog, texas, dallas, north dallas, far north dallas, boxer, boxer mix, missing dog, found dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m8cw8sEJ8y1r9wamzo1_1280.jpg' }
    %img{ alt: "Missing dog found in Plano! From my parent's neighbor: I found someone's pet near Midway/Plano Parkway and have been unable to", src: '/uploads/pictures/medium_tumblr_m8cw8sEJ8y1r9wamzo1_1280.jpg', title: "Missing dog found in Plano! From my parent's neighbor: I found someone's pet near Midway/Plano Parkway and have been unable to" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m8cw8sEJ8y1r9wamzo2_1280.jpg' }
    %img{ alt: "Missing dog found in Plano! From my parent's neighbor: I found someone's pet near Midway/Plano Parkway and have been unable to", src: '/uploads/pictures/medium_tumblr_m8cw8sEJ8y1r9wamzo2_1280.jpg', title: "Missing dog found in Plano! From my parent's neighbor: I found someone's pet near Midway/Plano Parkway and have been unable to" }/
%p Missing dog found in Plano! From my parent's neighbor:
%blockquote
  %p I found someone's pet near Midway/Plano Parkway and have been unable to reach the owner for 4 days. I called the local shelters and took her to a vet and she did not have a chip. She is about 45lb, I am unsure about the breed but she has Boxer characteristics (see photo). She is house trained, very obedient, her personality is very laid back and playful and she had been great with my 8 year old daughter the past few days. She looks to 2-3 years old, good teeth and physically very fit.
%p Help find this doggy's home!
