---
title: "Modeling his new patriotic Peanuts bandana #miniheeler #acd"
date: 2016/06/08 23:31:21
author: Casie
tumblr_id: 145631631564
tags: miniheeler, snoopy, acd, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o8h809rp1t1r9wamzo1_1280.jpg' }
    %img{ alt: 'Modeling his new patriotic Peanuts bandana #miniheeler #acd #snoopy', src: '/uploads/pictures/medium_tumblr_o8h809rp1t1r9wamzo1_1280.jpg', title: 'Modeling his new patriotic Peanuts bandana #miniheeler #acd #snoopy' }/
%p Modeling his new patriotic Peanuts bandana #miniheeler #acd #snoopy
