---
title: Monday
date: 2013/10/08 02:16:50
author: Casie
tumblr_id: 63431537689
tags: corgi, puppy, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mub0mqrmUt1qh9af0o1_400.gif' }
    %img{ alt: 'jalapenoandolive: Monday New fav Internet gif', src: '/uploads/pictures/medium_tumblr_mub0mqrmUt1qh9af0o1_400.gif', title: 'jalapenoandolive: Monday New fav Internet gif' }/
%p
  %a.tumblr_blog{ href: 'http://jalapenoandolive.tumblr.com/post/63381014971/monday' }> jalapenoandolive
  \:
%blockquote
  %p Monday
%p New fav Internet gif
