---
title: Mondays...
date: 2015/04/21 00:34:51
author: Casie
tumblr_id: 116955665969
tags: corgi, welsh corgi, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nn4sa4I1Cp1r9wamzo1_1280.jpg' }
    %img{ alt: 'Mondays…', src: '/uploads/pictures/medium_tumblr_nn4sa4I1Cp1r9wamzo1_1280.jpg', title: 'Mondays…' }/
%p Mondays…
