---
title: More pets?
date: 2014/10/19 02:58:02
author: Casie
tumblr_id: 100374499619
tags: corgi, welsh corgi, dog, cute, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ndo88qb6F21r9wamzo1_1280.jpg' }
    %img{ alt: 'More pets?', src: '/uploads/pictures/medium_tumblr_ndo88qb6F21r9wamzo1_1280.jpg', title: 'More pets?' }/
%p More pets?
