---
title: More Ginger. Sorry, Nicole...this is definitely what you have
date: 2012/02/18 05:40:27
author: Casie
tumblr_id: 17808950628
tags: corgi, welsh corgi, pembroke welsh corgi, dog, play time, crazy eyes, attitude, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkqfgUSyT1r9wamzo1_640.jpg' }
    %img{ alt: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.', src: '/uploads/pictures/medium_tumblr_lzkqfgUSyT1r9wamzo1_640.jpg', title: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkqfgUSyT1r9wamzo2_640.jpg' }
    %img{ alt: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.', src: '/uploads/pictures/medium_tumblr_lzkqfgUSyT1r9wamzo2_640.jpg', title: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkqfgUSyT1r9wamzo3_640.jpg' }
    %img{ alt: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.', src: '/uploads/pictures/medium_tumblr_lzkqfgUSyT1r9wamzo3_640.jpg', title: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_lzkqfgUSyT1r9wamzo4_640.jpg' }
    %img{ alt: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.', src: '/uploads/pictures/medium_tumblr_lzkqfgUSyT1r9wamzo4_640.jpg', title: 'More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.' }/
%p More Ginger. Sorry, Nicole…this is definitely what you have coming. And Ginger is 12 years old here.
