---
title: More photos by Nicole!
date: 2012/03/15 03:11:34
author: Casie
tumblr_id: 19327555995
tags: corgi, dog park, welsh corgi, floppy ears, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0wovbNZoi1r9wamzo1_1280.jpg' }
    %img{ alt: 'More photos by Nicole!', src: '/uploads/pictures/medium_tumblr_m0wovbNZoi1r9wamzo1_1280.jpg', title: 'More photos by Nicole!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m0wovbNZoi1r9wamzo2_1280.jpg' }
    %img{ alt: 'More photos by Nicole!', src: '/uploads/pictures/medium_tumblr_m0wovbNZoi1r9wamzo2_1280.jpg', title: 'More photos by Nicole!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m0wovbNZoi1r9wamzo3_1280.jpg' }
    %img{ alt: 'More photos by Nicole!', src: '/uploads/pictures/medium_tumblr_m0wovbNZoi1r9wamzo3_1280.jpg', title: 'More photos by Nicole!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m0wovbNZoi1r9wamzo4_1280.jpg' }
    %img{ alt: 'More photos by Nicole!', src: '/uploads/pictures/medium_tumblr_m0wovbNZoi1r9wamzo4_1280.jpg', title: 'More photos by Nicole!' }/
%p
  More photos by
  = succeed "!" do
    %a{ href: 'http://emmathebean.com' } Nicole
