---
title: "More fries please #corgi #whataburger"
date: 2014/06/12 01:41:39
author: Casie
tumblr_id: 88528335139
tags: corgi, whataburger, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n718pgE6Iw1r9wamzo1_640.jpg' }
    %img{ alt: 'More fries please #corgi #whataburger', src: '/uploads/pictures/medium_tumblr_n718pgE6Iw1r9wamzo1_640.jpg', title: 'More fries please #corgi #whataburger' }/
%p More fries please #corgi #whataburger
