---
title: More cake, please. From Emma's birthday party.
date: 2012/08/04 18:50:25
author: Casie
tumblr_id: 28711315053
tags: corgi, welsh corgi, dog, birthday, cake, treats, cute, party, party hat, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m88v01Z9xX1r9wamzo1_1280.jpg' }
    %img{ alt: "More cake, please. From Emma's birthday party.", src: '/uploads/pictures/medium_tumblr_m88v01Z9xX1r9wamzo1_1280.jpg', title: "More cake, please. From Emma's birthday party." }/
%p More cake, please.
%p
  From
  %a{ href: 'http://emmathebean.com' } Emma's
  birthday party.
