---
title: "Morning #corgi #corgigram #dog #sun"
date: 2013/05/15 01:44:38
author: Casie
tumblr_id: 50464422394
tags: corgi, corgigram, dog, sun, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mmtgufPLc51r9wamzo1_640.jpg' }
    %img{ alt: 'Morning #corgi #corgigram #dog #sun', src: '/uploads/pictures/medium_tumblr_mmtgufPLc51r9wamzo1_640.jpg', title: 'Morning #corgi #corgigram #dog #sun' }/
%p Morning #corgi #corgigram #dog #sun
