---
title: Muddy dog.
date: 2012/05/22 01:28:11
author: Casie
tumblr_id: 23517068576
tags: corgi, welsh corgi, dog, dog park, mud, dirty, dirty dog, muddy dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4ehf01XCm1r9wamzo1_1280.png' }
    %img{ alt: 'Muddy dog.', src: '/uploads/pictures/medium_tumblr_m4ehf01XCm1r9wamzo1_1280.png', title: 'Muddy dog.' }/
%p Muddy dog.
