---
title: My dad knows my interests.
date: 2012/02/19 21:17:07
author: Casie
tumblr_id: 17903430283
tags: corgi, welsh corgi, dog, dad, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lznsgji3cv1r9wamzo1_640.png' }
    %img{ alt: 'My dad knows my interests.', src: '/uploads/pictures/medium_tumblr_lznsgji3cv1r9wamzo1_640.png', title: 'My dad knows my interests.' }/
%p My dad knows my interests.
