---
title: "My dog is the cutest. #miniheeler #socute #socomfy"
date: 2015/12/30 03:27:25
author: Casie
tumblr_id: 136229426249
tags: socute, miniheeler, socomfy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o05ixpE77b1r9wamzo1_1280.jpg' }
    %img{ alt: 'My dog is the cutest. #miniheeler #socute #socomfy', src: '/uploads/pictures/medium_tumblr_o05ixpE77b1r9wamzo1_1280.jpg', title: 'My dog is the cutest. #miniheeler #socute #socomfy' }/
%p My dog is the cutest. #miniheeler #socute #socomfy
