---
title: "My ears! #corgi #welshcorgi #unfloppy #realcorgi"
date: 2012/11/25 23:59:28
author: Casie
tumblr_id: 36551143227
tags: corgi, unfloppy, realcorgi, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_me2in4m31j1r9wamzo1_640.jpg' }
    %img{ alt: 'My ears! #corgi #welshcorgi #unfloppy #realcorgi', src: '/uploads/pictures/medium_tumblr_me2in4m31j1r9wamzo1_640.jpg', title: 'My ears! #corgi #welshcorgi #unfloppy #realcorgi' }/
%p My ears! #corgi #welshcorgi #unfloppy #realcorgi
