---
title: My mom loves me because she bought me a new corgi bag.
date: 2013/01/19 03:35:27
author: Casie
tumblr_id: 40894494248
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mgt8bhw8J01qkngbxo1_1280.jpg' }
    %img{ alt: 'twosillycorgis: My mom loves me because she bought me a new corgi bag. I got this for Xmas!', src: '/uploads/pictures/medium_tumblr_mgt8bhw8J01qkngbxo1_1280.jpg', title: 'twosillycorgis: My mom loves me because she bought me a new corgi bag. I got this for Xmas!' }/
%p
  %a.tumblr_blog{ href: 'http://twosillycorgis.tumblr.com/post/40829221465/my-mom-loves-me-because-she-bought-me-a-new-corgi' }> twosillycorgis
  \:
%blockquote
  %p My mom loves me because she bought me a new corgi bag.
%p I got this for Xmas!
