---
title: My review for Oak Hill Animal Rescue in Seagoville, TX. This is
date: 2012/01/25 16:34:16
author: Casie
tumblr_id: 16468180085
tags: corgi, oak hill animal rescue, adoption agencies, dog adoption, tumblr
---

%p
  My review for Oak Hill Animal Rescue in Seagoville, TX. This is the agency I used to adopt Conney, and I would definitely recommend them to anyone looking to add a new pet to their home. See more info about them at
  = succeed "." do
    %a{ href: 'http://www.ohar.org/' } http://www.ohar.org/
