---
title: "My snuggle buddy :)"
date: 2015/06/28 18:44:39
author: Casie
tumblr_id: 122693781239
tags: corgi, welsh corgi, dog, snuggles, cute, bffs, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqo42fyMoF1r9wamzo1_1280.jpg' }
    %img{ alt: 'My snuggle buddy :)', src: '/uploads/pictures/medium_tumblr_nqo42fyMoF1r9wamzo1_1280.jpg', title: 'My snuggle buddy :)' }/
%p My snuggle buddy :)
