---
title: "My sous chef takes up a lot of space in my tiny kitchen #corgi"
date: 2013/02/20 02:48:59
author: Casie
tumblr_id: 43535802761
tags: corgi, cooking, nom, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mihztnBCaZ1r9wamzo1_640.jpg' }
    %img{ alt: 'My sous chef takes up a lot of space in my tiny kitchen #corgi #cooking #nom', src: '/uploads/pictures/medium_tumblr_mihztnBCaZ1r9wamzo1_640.jpg', title: 'My sous chef takes up a lot of space in my tiny kitchen #corgi #cooking #nom' }/
%p My sous chef takes up a lot of space in my tiny kitchen #corgi #cooking #nom
