---
title: "Neighbor: What's your dog's name? Me: Conney.  Neighbor: Oh,"
date: 2015/02/21 23:40:35
author: Casie
tumblr_id: 111701988859
tags: corgi, neighbors, neighborhood conversations, tumblr
---

%p
  Neighbor: What's your dog's name?
  %br/
  Me: Conney.
  %br/
  Neighbor: Oh, that says a lot about you. (He was being totally serious.)
%p What?? What does this mean? I mean, I didn't name Conney, the animal rescue did. But…what?
