---
title: Never mind that it's 101 with a heat index near 105, and Conney
date: 2015/08/09 19:55:38
author: Casie
tumblr_id: 126276500364
tags: corgi, hotdog, summer, too hot, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nstzcqkCom1r9wamzo1_1280.jpg' }
    %img{ alt: "Never mind that it's 101 with a heat index near 105, and Conney has a well shaded yard… She'd rather bake herself in the sun for", src: '/uploads/pictures/medium_tumblr_nstzcqkCom1r9wamzo1_1280.jpg', title: "Never mind that it's 101 with a heat index near 105, and Conney has a well shaded yard… She'd rather bake herself in the sun for" }/
%p Never mind that it's 101 with a heat index near 105, and Conney has a well shaded yard… She'd rather bake herself in the sun for a while.
