---
title: "never forget: when Conney went to space."
date: 2017/08/24 17:16:53
author: Casie
tumblr_id: 164564618599
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m17pi4FAYE1r4hqvlo1_400.jpg' }
    %img{ alt: 'conneythecorgi: never forget: when Conney went to space.', src: '/uploads/pictures/medium_tumblr_m17pi4FAYE1r4hqvlo1_400.jpg', title: 'conneythecorgi: never forget: when Conney went to space.' }/
%p
  %a.tumblr_blog{ href: 'https://conneythecorgi.tumblr.com/post/128492620349/never-forget-when-conney-went-to-space' }> conneythecorgi
  \:
%blockquote
  %p never forget: when Conney went to space.
