---
title: "never forget: when Conney went to space. 1"
date: 2015/09/06 17:32:09
author: Casie
tumblr_id: 128492620349
tags: corgi, corgis in space, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m17pi4FAYE1r4hqvlo1_400.jpg' }
    %img{ alt: 'never forget: when Conney went to space.', src: '/uploads/pictures/medium_tumblr_m17pi4FAYE1r4hqvlo1_400.jpg', title: 'never forget: when Conney went to space.' }/
%p never forget: when Conney went to space.
