---
title: "New corgi slippers! #christmas"
date: 2015/12/26 05:56:03
author: Casie
tumblr_id: 135957266589
tags: christmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nzyb5fJs2j1r9wamzo1_1280.jpg' }
    %img{ alt: 'New corgi slippers! #christmas', src: '/uploads/pictures/medium_tumblr_nzyb5fJs2j1r9wamzo1_1280.jpg', title: 'New corgi slippers! #christmas' }/
%p New corgi slippers! #christmas
