---
title: New yard. Haven't seen a squirrel yet!
date: 2013/06/23 15:21:27
author: Casie
tumblr_id: 53678161218
tags: corgi, welsh corgi, dog, backyard, new house, exploring, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mouqnrFKAx1r9wamzo1_1280.jpg' }
    %img{ alt: "New yard. Haven't seen a squirrel yet!", src: '/uploads/pictures/medium_tumblr_mouqnrFKAx1r9wamzo1_1280.jpg', title: "New yard. Haven't seen a squirrel yet!" }/
%p New yard. Haven't seen a squirrel yet!
