---
title: New lamb bone, finally!
date: 2012/02/28 03:43:42
author: Casie
tumblr_id: 18420221219
tags: corgi, welsh corgi, dog, treats, bones, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m033ouoXuD1r9wamzo1_1280.png' }
    %img{ alt: 'New lamb bone, finally!', src: '/uploads/pictures/medium_tumblr_m033ouoXuD1r9wamzo1_1280.png', title: 'New lamb bone, finally!' }/
%p New lamb bone, finally!
