---
title: "New house :)"
date: 2013/06/21 03:26:46
author: Casie
tumblr_id: 53489411578
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_moq48nqu221r9wamzo1_640.jpg' }
    %img{ alt: 'New house :)', src: '/uploads/pictures/medium_tumblr_moq48nqu221r9wamzo1_640.jpg', title: 'New house :)' }/
%p New house :)
