---
title: New Order! (Taken with Instagram at Palladium Ballroom)
date: 2012/10/13 05:27:40
author: Casie
tumblr_id: 33479272010
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mbtgi4fIjQ1r9wamzo1_640.jpg' }
    %img{ alt: 'New Order! (Taken with Instagram at Palladium Ballroom)', src: '/uploads/pictures/medium_tumblr_mbtgi4fIjQ1r9wamzo1_640.jpg', title: 'New Order! (Taken with Instagram at Palladium Ballroom)' }/
%p
  New Order! (Taken with
  %a{ href: 'http://instagram.com' } Instagram
  at Palladium Ballroom)
