---
title: "New couch! Conney approved. #corgi #westelm #fancy"
date: 2013/10/12 20:01:32
author: Casie
tumblr_id: 63849674295
tags: corgi, westelm, fancy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_muknmlLuYh1r9wamzo1_640.jpg' }
    %img{ alt: 'New couch! Conney approved. #corgi #westelm #fancy', src: '/uploads/pictures/medium_tumblr_muknmlLuYh1r9wamzo1_640.jpg', title: 'New couch! Conney approved. #corgi #westelm #fancy' }/
%p New couch! Conney approved. #corgi #westelm #fancy
