---
title: Nicole &amp; the muddiest corgi ever!
date: 2012/03/17 01:16:43
author: Casie
tumblr_id: 19425963883
tags: emma, corgi, welsh corgi, mud, dirty, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m108vvRpcx1r9wamzo1_1280.png' }
    %img{ alt: 'Nicole &amp; the muddiest corgi ever!', src: '/uploads/pictures/medium_tumblr_m108vvRpcx1r9wamzo1_1280.png', title: 'Nicole &amp; the muddiest corgi ever!' }/
%p Nicole &amp; the muddiest corgi ever!
