---
title: Night watch is serious business.
date: 2015/06/21 05:37:51
author: Casie
tumblr_id: 122058186839
tags: corgi, welsh corgi, dog, nighttime, backyard, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqa4z319op1r9wamzo1_1280.jpg' }
    %img{ alt: 'Night watch is serious business.', src: '/uploads/pictures/medium_tumblr_nqa4z319op1r9wamzo1_1280.jpg', title: 'Night watch is serious business.' }/
%p Night watch is serious business.
