---
title: Night patrol.
date: 2015/06/12 02:45:31
author: Casie
tumblr_id: 121320601124
tags: corgi, welsh corgi, dog, backyard, on patrol, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_npt8zv6k5X1r9wamzo1_1280.jpg' }
    %img{ alt: 'Night patrol.', src: '/uploads/pictures/medium_tumblr_npt8zv6k5X1r9wamzo1_1280.jpg', title: 'Night patrol.' }/
%p Night patrol.
