---
title: No interest in the puppy bowl. Please note, only one paw is
date: 2015/02/02 03:27:03
author: Casie
tumblr_id: 109840837314
tags: corgi, welsh corgi, dog, puppy bowl, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nj4k93PmM91r9wamzo1_1280.jpg' }
    %img{ alt: 'No interest in the puppy bowl. Please note, only one paw is touching the couch.', src: '/uploads/pictures/medium_tumblr_nj4k93PmM91r9wamzo1_1280.jpg', title: 'No interest in the puppy bowl. Please note, only one paw is touching the couch.' }/
%p No interest in the puppy bowl. Please note, only one paw is touching the couch.
