---
title: No, mom. You can't take a nap.
date: 2014/06/07 22:41:20
author: Casie
tumblr_id: 88117382764
tags: corgi, welsh corgi, dog, naps, silly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n6tlowRftK1r9wamzo1_1280.jpg' }
    %img{ alt: "No, mom. You can't take a nap.", src: '/uploads/pictures/medium_tumblr_n6tlowRftK1r9wamzo1_1280.jpg', title: "No, mom. You can't take a nap." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n6tlowRftK1r9wamzo2_1280.jpg' }
    %img{ alt: "No, mom. You can't take a nap.", src: '/uploads/pictures/medium_tumblr_n6tlowRftK1r9wamzo2_1280.jpg', title: "No, mom. You can't take a nap." }/
%p No, mom. You can't take a nap.
