---
title: Nom
date: 2012/05/01 01:54:16
author: Casie
tumblr_id: 22165454657
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3bmlsOYk01r9wamzo1_640.jpg' }
    %img{ alt: 'Nom', src: '/uploads/pictures/medium_tumblr_m3bmlsOYk01r9wamzo1_640.jpg', title: 'Nom' }/
%p Nom
