---
title: North Texas Corgi Group Meetup aka The Corgi Brigade! Join us on
date: 2012/11/26 00:30:00
author: Casie
tumblr_id: 36553546116
tags: corgi, corgi meetup, corgis, dallas, dallas corgis, dog, dog park, dogs, north bark, north bark dog park, texas, texas corgis, welsh corgi, cute, adorable, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_me2jz5r0hz1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: North Texas Corgi Group Meetup aka The Corgi Brigade! Join us on Facebook if you live in the area and have a', src: '/uploads/pictures/medium_tumblr_me2jz5r0hz1r4omsco1_1280.jpg', title: 'emmathebean: North Texas Corgi Group Meetup aka The Corgi Brigade! Join us on Facebook if you live in the area and have a' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/36553393465/north-texas-corgi-group-meetup-aka-the-corgi' }> emmathebean
  \:
%blockquote
  %p North Texas Corgi Group Meetup aka The Corgi Brigade!
  %p Join us on Facebook if you live in the area and have a Corgador!
