---
title: North Texas Corgi Meetup
date: 2012/01/23 00:06:12
author: Casie
---

%p
  Today some folks from
  %a{ href: 'http://www.mycorgi.com/group/northtexascorgis' } MyCorgi.com's North Texas Corgi's group
  got together for a meetup in Frisco. We pretty much confirmed my theory that as the number of corgi's increases linearly the awesomeness increases exponentially.
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215728429.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219529151.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215525438.jpg', title: 'North Texas Corgi Meetup' }/
/ more
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214342527.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214446108.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214598222.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214702127.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214811468.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214909202.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215683090.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215167867.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215269282.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215375004.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214237151.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215626789.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214374420.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215829860.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276215980552.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216832340.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216185143.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216284175.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216440723.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216560910.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216672809.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216775071.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276216931359.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217369320.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217140401.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217290205.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217399627.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217519031.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217622207.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217773874.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217885124.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276217990681.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218129012.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218281757.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218383177.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218497759.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218598651.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218760987.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218859742.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276218960851.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219583370.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219171767.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219324930.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219427604.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276214138468.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219629794.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219782201.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219881615.jpg', title: 'North Texas Corgi Meetup' }/
%p.center
  %img{ alt: 'North Texas Corgi Meetup', src: '/uploads/pictures/1327276219977509.jpg', title: 'North Texas Corgi Meetup' }/
%p
  Here's some more pictures from the meetup taken by
  = succeed "." do
    %a{ href: 'http://www.facebook.com/media/set/?set=a.673208692993.2116856.77202036&type=1' } Shelly Duell
%p
  %strong UPDATE (23/01/12):
  Nicole Chavez
  = succeed "." do
    %a{ href: 'http://www.flickr.com/photos/grenadell/sets/72157628999348035/' } posted some awesome pictures on Flickr
