---
title: "NOSE. #corgi #corgigram #dog"
date: 2013/02/12 03:42:03
author: Casie
tumblr_id: 42898281051
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mi38y48gyJ1r9wamzo1_640.jpg' }
    %img{ alt: 'NOSE. #corgi #corgigram #dog', src: '/uploads/pictures/medium_tumblr_mi38y48gyJ1r9wamzo1_640.jpg', title: 'NOSE. #corgi #corgigram #dog' }/
%p NOSE. #corgi #corgigram #dog
