---
title: "Not interested in any of this. #corgi #welshcorgi #dog"
date: 2012/10/07 01:15:25
author: Casie
tumblr_id: 33047927042
tags: corgi, costume, halloween, dog, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mbi0tpl9x11r9wamzo1_640.jpg' }
    %img{ alt: 'Not interested in any of this. #corgi #welshcorgi #dog #halloween #costume (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_mbi0tpl9x11r9wamzo1_640.jpg', title: 'Not interested in any of this. #corgi #welshcorgi #dog #halloween #costume (Taken with Instagram)' }/
%p
  Not interested in any of this. #corgi #welshcorgi #dog #halloween #costume (Taken with
  = succeed ")" do
    %a{ href: 'http://instagram.com' } Instagram
