---
title: Not amused.
date: 2014/06/02 01:57:24
author: Casie
tumblr_id: 87553337929
tags: blue heeler, corgi, corgi mix, grumpy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n6iqroOtBr1r9wamzo1_1280.jpg' }
    %img{ alt: 'Not amused.', src: '/uploads/pictures/medium_tumblr_n6iqroOtBr1r9wamzo1_1280.jpg', title: 'Not amused.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n6iqroOtBr1r9wamzo2_1280.jpg' }
    %img{ alt: 'Not amused.', src: '/uploads/pictures/medium_tumblr_n6iqroOtBr1r9wamzo2_1280.jpg', title: 'Not amused.' }/
%p Not amused.
