---
title: Not very excited for Christmas!
date: 2013/12/24 17:40:22
author: Casie
tumblr_id: 71022791989
tags: corgi, welsh corgi, christmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mybnra5kqC1r9wamzo1_1280.jpg' }
    %img{ alt: 'Not very excited for Christmas!', src: '/uploads/pictures/medium_tumblr_mybnra5kqC1r9wamzo1_1280.jpg', title: 'Not very excited for Christmas!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mybnra5kqC1r9wamzo2_1280.jpg' }
    %img{ alt: 'Not very excited for Christmas!', src: '/uploads/pictures/medium_tumblr_mybnra5kqC1r9wamzo2_1280.jpg', title: 'Not very excited for Christmas!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mybnra5kqC1r9wamzo3_1280.jpg' }
    %img{ alt: 'Not very excited for Christmas!', src: '/uploads/pictures/medium_tumblr_mybnra5kqC1r9wamzo3_1280.jpg', title: 'Not very excited for Christmas!' }/
%p Not very excited for Christmas!
