---
title: Not so sure about this swimming thing.
date: 2015/08/15 19:40:37
author: Casie
tumblr_id: 126768135674
tags: corgi, welsh corgi, dog, swimming, summer, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nt52npbuAo1r9wamzo1_1280.jpg' }
    %img{ alt: 'Not so sure about this swimming thing.', src: '/uploads/pictures/medium_tumblr_nt52npbuAo1r9wamzo1_1280.jpg', title: 'Not so sure about this swimming thing.' }/
%p Not so sure about this swimming thing.
