---
title: Nothin' better than being ready to go to sleep, going to the
date: 2012/10/25 05:39:45
author: Casie
tumblr_id: 34283411099
tags: corgi, welsh corgi, sick, vomit, puke, tumblr
---

%p Nothin' better than being ready to go to sleep, going to the kitchen to turn off the light and discovering 2 piles of vomit. This has been a fun hour… at least Conney seems to have stopped puking for now.
