---
title: "Number of paws touching the sofa: 0."
date: 2015/06/30 03:46:30
author: Casie
tumblr_id: 122821529054
tags: corgi, welsh corgi, sausage, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqqntikQA41r9wamzo1_1280.jpg' }
    %img{ alt: 'Number of paws touching the sofa: 0.', src: '/uploads/pictures/medium_tumblr_nqqntikQA41r9wamzo1_1280.jpg', title: 'Number of paws touching the sofa: 0.' }/
%p Number of paws touching the sofa: 0.
