---
title: Oh. Did you wanna make the bed?
date: 2015/03/03 00:40:40
author: Casie
tumblr_id: 112558014984
tags: corgi, welsh corgi, bed hog, sleepy, stubborn, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkm1vs00uS1r9wamzo1_1280.jpg' }
    %img{ alt: 'Oh. Did you wanna make the bed?', src: '/uploads/pictures/medium_tumblr_nkm1vs00uS1r9wamzo1_1280.jpg', title: 'Oh. Did you wanna make the bed?' }/
%p Oh. Did you wanna make the bed?
