---
title: Oh, hey.
date: 2013/08/14 03:40:21
author: Casie
tumblr_id: 58210878364
tags: corgi, welsh corgi, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mri4v9XWyf1r9wamzo1_1280.jpg' }
    %img{ alt: 'Oh, hey.', src: '/uploads/pictures/medium_tumblr_mri4v9XWyf1r9wamzo1_1280.jpg', title: 'Oh, hey.' }/
%p Oh, hey.
