---
title: Oh peanut butter cookies. Don't mind me. I'll just steal a
date: 2014/12/21 22:56:41
author: Casie
tumblr_id: 105813227389
tags: corgi, welsh corgi, dog, peanut butter, baking, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ngyfqhH82V1r9wamzo1_1280.jpg' }
    %img{ alt: "Oh peanut butter cookies. Don't mind me. I'll just steal a taste.", src: '/uploads/pictures/medium_tumblr_ngyfqhH82V1r9wamzo1_1280.jpg', title: "Oh peanut butter cookies. Don't mind me. I'll just steal a taste." }/
%p Oh peanut butter cookies. Don't mind me. I'll just steal a taste.
