---
title: "ojlivers09-blog asked:"
date: 2013/08/04 02:34:38
author: Casie
tumblr_id: 57296710173
tags: tumblr
---

.question
  %p.asker
    %strong ojlivers09-blog
    asked:
  %p.question-text Hi! I just discovered Conney and I was wondering how come she has floppy ears (a rescue I assume...)? Such a cute corgi! Always looks weary of what's going on haha :)
.answer
  %p Yes, Conney was a rescue! Her ears can stand up, but it usually only happens when she's serious about the treats. Most of the time they just flop up and down like mini-wings LOL.
