---
title: Ok everyone - new tumblr for Cowboy the (I think maybe Cattle
date: 2015/10/18 16:48:20
author: Casie
tumblr_id: 131426147284
tags: corgi mix, heeler mix, cattle dog mix, cute, dog, rescue, rescue dog, crazy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nwfdck3KRJ1r9wamzo1_1280.jpg' }
    %img{ alt: 'Ok everyone - new tumblr for Cowboy the (I think maybe Cattle Dog/Corgi mix) here: http://cowboythecattledogcorgi.tumblr.com/', src: '/uploads/pictures/medium_tumblr_nwfdck3KRJ1r9wamzo1_1280.jpg', title: 'Ok everyone - new tumblr for Cowboy the (I think maybe Cattle Dog/Corgi mix) here: http://cowboythecattledogcorgi.tumblr.com/' }/
%p
  Ok everyone - new tumblr for Cowboy the (I think maybe Cattle Dog/Corgi mix) here:
  %a{ href: 'http://cowboythecattledogcorgi.tumblr.com/' } http://cowboythecattledogcorgi.tumblr.com/
  %br/
%p Come follow us!!
