---
title: Ok with this. 1
date: 2015/03/22 03:09:25
author: Casie
tumblr_id: 114275684169
tags: corgi, welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nllffpbK9f1r9wamzo1_1280.jpg' }
    %img{ alt: 'Ok with this.', src: '/uploads/pictures/medium_tumblr_nllffpbK9f1r9wamzo1_1280.jpg', title: 'Ok with this.' }/
%p Ok with this.
