---
title: Ok with this.
date: 2016/08/24 13:39:36
author: Casie
tumblr_id: 149414553169
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nllffpbK9f1r9wamzo1_1280.jpg' }
    %img{ alt: 'conneythecorgi: Ok with this.', src: '/uploads/pictures/medium_tumblr_nllffpbK9f1r9wamzo1_1280.jpg', title: 'conneythecorgi: Ok with this.' }/
%p
  %a.tumblr_blog{ href: 'http://conneythecorgi.tumblr.com/post/114275684169/ok-with-this' }> conneythecorgi
  \:
%blockquote
  %p Ok with this.
