---
title: OMG SO MUCH MORE AMAZING THAT I EVER COULD HAVE HOPED.
date: 2012/03/21 02:09:02
author: Casie
tumblr_id: 19660114854
tags: corgi, space, corgi in space, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m17pi4FAYE1r4hqvlo1_400.jpg' }
    %img{ alt: 'OMG SO MUCH MORE AMAZING THAT I EVER COULD HAVE HOPED.', src: '/uploads/pictures/medium_tumblr_m17pi4FAYE1r4hqvlo1_400.jpg', title: 'OMG SO MUCH MORE AMAZING THAT I EVER COULD HAVE HOPED.' }/
%p OMG SO MUCH MORE AMAZING THAT I EVER COULD HAVE HOPED.
