---
title: "One up, one down #corgi #cute"
date: 2014/11/15 18:43:40
author: Casie
tumblr_id: 102709301264
tags: corgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nf3g0sr64c1r9wamzo1_640.jpg' }
    %img{ alt: 'One up, one down #corgi #cute', src: '/uploads/pictures/medium_tumblr_nf3g0sr64c1r9wamzo1_640.jpg', title: 'One up, one down #corgi #cute' }/
%p One up, one down #corgi #cute
