---
title: One silly dog!
date: 2012/01/31 03:49:02
author: Casie
tumblr_id: 16801874070
tags: welsh corgi, corgi, dog, silly, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lyn99qweL81r9wamzo1_1280.png' }
    %img{ alt: 'One silly dog!', src: '/uploads/pictures/medium_tumblr_lyn99qweL81r9wamzo1_1280.png', title: 'One silly dog!' }/
%p One silly dog!
