---
title: Original image by Diana Walker for Time.
date: 2012/04/11 15:28:01
author: Casie
tumblr_id: 20905734530
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m21hzmrKm71rt7gleo1_500.jpg' }
    %img{ alt: 'textsfromhillaryclinton: Original image by Diana Walker for Time.', src: '/uploads/pictures/medium_tumblr_m21hzmrKm71rt7gleo1_500.jpg', title: 'textsfromhillaryclinton: Original image by Diana Walker for Time.' }/
%p
  %a.tumblr_blog{ href: 'http://textsfromhillaryclinton.tumblr.com/post/20588228165/original-image-by-diana-walker-for-time' }> textsfromhillaryclinton
  \:
%blockquote
  %p
    Original image by
    = succeed "." do
      %a{ href: 'http://www.time.com/time/magazine/article/0,9171,2097970,00.html' } Diana Walker for Time
