---
title: &quot;Original&quot; Doggie Biscuits
date: 2012/04/11 15:00:10
author: Casie
tumblr_id: 20904790949
tags: treats, dog treats, food, dog food, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2awtsr6Is1r4omsco1_640.jpg' }
    %img{ alt: "emmathebean: \"Original\" Doggie Biscuits These look good!", src: '/uploads/pictures/medium_tumblr_m2awtsr6Is1r4omsco1_640.jpg', title: "emmathebean: \"Original\" Doggie Biscuits These look good!" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/20892538197/original-doggie-biscuits' }> emmathebean
  \:
%blockquote
  %p "Original" Doggie Biscuits
%p These look good!
