---
title: ornery corgi.
date: 2013/03/09 20:36:32
author: Casie
tumblr_id: 44963670629
tags: corgi, welsh corgi, dog, pembroke welsh corgi, bark, play time, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mjeukwo1ow1r9wamzo1_1280.jpg' }
    %img{ alt: 'ornery corgi.', src: '/uploads/pictures/medium_tumblr_mjeukwo1ow1r9wamzo1_1280.jpg', title: 'ornery corgi.' }/
%p ornery corgi.
