---
title: Ornery Things Conney Did Today (So Far)
date: 2012/01/25 00:53:03
author: Casie
---

%ol
  %li Chased a cat up a tree.
  %li Shredded some tissues.
  %li Somehow got the cap off Sean's chapstick and ate it.
  %li Moved my sweatshirt from the middle of the dining table to the floor.
  %li Refused to go out in the rain so she had to be carried.
  %li Flung my nice leather boots in the air with her mouth (even though I moved them to a place she couldn't get to during the day).
  %li Pounced on my face as soon as the alarm went off this morning.
%p The nice, well-behaved Conney we adopted might have all been an act.
