---
title: "Our Peeps! #corgi #cute #awesome #petsagram (Taken with"
date: 2012/07/10 03:14:00
author: Casie
tumblr_id: 26879329776
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m6xb81A8rM1r4omsco1_640.jpg' }
    %img{ alt: 'Take that Aussies! emmathebean: Our Peeps! #corgi #cute #awesome #petsagram (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_m6xb81A8rM1r4omsco1_640.jpg', title: 'Take that Aussies! emmathebean: Our Peeps! #corgi #cute #awesome #petsagram (Taken with Instagram)' }/
%p Take that Aussies!
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/26876724651/our-peeps-corgi-cute-awesome-petsagram' }> emmathebean
  \:
%blockquote
  %p
    Our Peeps! #corgi #cute #awesome #petsagram (Taken with
    = succeed ")" do
      %a{ href: 'http://instagram.com' } Instagram
