---
title: Our fur baby Boudreaux needs surgery today, help!!
date: 2014/11/04 02:29:14
author: Casie
tumblr_id: 101724794909
tags: corgi, north texas, welsh corgi, dallas, help needed, help, tumblr, reblogged
---

%p
  %a.tumblr_blog{ href: 'http://tuckerandzoeycorgis.tumblr.com/post/101708534673/our-fur-baby-boudreaux-needs-surgery-today-help' }> tuckerandzoeycorgis
  \:
%blockquote
  %p Boudreaux needs Corgi Nation's help!
  %p Boudreaux is a North Texas Corg that needs emergency surgery for an obstruction TONIGHT. He hasn't been feeling well for the past week or so. His mom and dad spent their $1,500 savings at Banfield where they misdiagnosed him with pancreatitis. They took him to another vet clinic today because he hasn't been eating, and it turns out he really has an obstruction in his intestines. Time is of the essence! His folks got $500 CareCredit and are trying to sell things, but he really needs that surgery tonight. I know these folks through our local Corgi group and they're good people. Please share!
%p North Texas corgi needs your help!! Contribute!
