---
title: "Pals #corgi #corgigram #dog (Taken with Instagram)"
date: 2012/08/27 00:57:30
author: Casie
tumblr_id: 30282298716
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9e2nvhCwn1r9wamzo1_640.jpg' }
    %img{ alt: 'Pals #corgi #corgigram #dog (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_m9e2nvhCwn1r9wamzo1_640.jpg', title: 'Pals #corgi #corgigram #dog (Taken with Instagram)' }/
%p
  Pals #corgi #corgigram #dog (Taken with
  = succeed ")" do
    %a{ href: 'http://instagram.com' } Instagram
