---
title: Part 1 of the corgi meet up photos are here.
date: 2012/03/18 23:15:50
author: Casie
tumblr_id: 19541053427
tags: corgi, corgi puppy, welsh corgi, corgi meetup, dog park, lewisville dog park, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m13smeW4ss1r9wamzo1_1280.jpg' }
    %img{ alt: 'Part 1 of the corgi meet up photos are here.', src: '/uploads/pictures/medium_tumblr_m13smeW4ss1r9wamzo1_1280.jpg', title: 'Part 1 of the corgi meet up photos are here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m13smeW4ss1r9wamzo2_1280.jpg' }
    %img{ alt: 'Part 1 of the corgi meet up photos are here.', src: '/uploads/pictures/medium_tumblr_m13smeW4ss1r9wamzo2_1280.jpg', title: 'Part 1 of the corgi meet up photos are here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m13smeW4ss1r9wamzo3_1280.jpg' }
    %img{ alt: 'Part 1 of the corgi meet up photos are here.', src: '/uploads/pictures/medium_tumblr_m13smeW4ss1r9wamzo3_1280.jpg', title: 'Part 1 of the corgi meet up photos are here.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m13smeW4ss1r9wamzo4_1280.jpg' }
    %img{ alt: 'Part 1 of the corgi meet up photos are here.', src: '/uploads/pictures/medium_tumblr_m13smeW4ss1r9wamzo4_1280.jpg', title: 'Part 1 of the corgi meet up photos are here.' }/
%p
  Part 1 of the corgi meet up photos are
  = succeed "." do
    %a{ href: 'http://conneythecorgi.com/posts/part-1-of-the-corgi-meetup' } here
