---
title: Part 1 of the Corgi Meetup
date: 2012/03/18 23:10:05
author: Casie
---

%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111819284330.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111819136061.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p The first group of photos from the March 17 corgi meet up at Toyota of Lewisville Dog Park.  Sean took a lot of pictures with the fisheye lens zoomed in (why a lot of these look weirdly blurry around the edges).  Not sure why that happened!
%p Also, in these photos is Pippa, a brand new 8 week old puppy.  I imagine she's kind of what Conney would have looked like as a puppy.
/ more
%p.center
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111816900816.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111816725880.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111816561963.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111816450154.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111816248901.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817915176.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817805023.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817640069.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817536396.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817426798.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817313226.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817142983.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111817315740.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818914782.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818808289.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818646299.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818537427.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818426030.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818318892.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818123190.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
%p.center
  %img{ alt: 'Corgi Meetup - March 17 Part 1', src: '/images/uploads/pictures/1332111818179530.jpg', title: 'Corgi Meetup - March 17 Part 1' }/
