---
title: "Patiently waiting on gator's reconstructive surgery #corgi"
date: 2013/04/24 02:58:18
author: Casie
tumblr_id: 48747282648
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlqo96737B1r9wamzo1_640.jpg' }
    %img{ alt: "Patiently waiting on gator's reconstructive surgery #corgi #corgigram #dog", src: '/uploads/pictures/medium_tumblr_mlqo96737B1r9wamzo1_640.jpg', title: "Patiently waiting on gator's reconstructive surgery #corgi #corgigram #dog" }/
%p Patiently waiting on gator's reconstructive surgery #corgi #corgigram #dog
