---
title: Paws are so muddy Conney can no longer move.
date: 2015/03/15 21:12:48
author: Casie
tumblr_id: 113724032569
tags: corgi, welsh corgi, dog, mud, muddy paws, spring, bath time, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nl9uxctar81r9wamzo1_1280.jpg' }
    %img{ alt: 'Paws are so muddy Conney can no longer move.', src: '/uploads/pictures/medium_tumblr_nl9uxctar81r9wamzo1_1280.jpg', title: 'Paws are so muddy Conney can no longer move.' }/
%p Paws are so muddy Conney can no longer move.
