---
title: Perfectly positioned treat!
date: 2013/02/21 03:19:39
author: Casie
tumblr_id: 43617613844
tags: corgi, welsh corgi, pembroke welsh corgi, dog, treats, dog treat, bully stick, noms, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mijvwseyn01r9wamzo1_1280.jpg' }
    %img{ alt: 'Perfectly positioned treat!', src: '/uploads/pictures/medium_tumblr_mijvwseyn01r9wamzo1_1280.jpg', title: 'Perfectly positioned treat!' }/
%p Perfectly positioned treat!
