---
title: Pets?!
date: 2012/06/06 03:29:14
author: Casie
tumblr_id: 24518531619
tags: corgi, welsh corgi, dog, pets, attention, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m56f0qD2Jj1r9wamzo1_1280.png' }
    %img{ alt: 'Pets?!', src: '/uploads/pictures/medium_tumblr_m56f0qD2Jj1r9wamzo1_1280.png', title: 'Pets?!' }/
%p Pets?!
