---
title: Photographic evidence that it's snowing. In Dallas. On November
date: 2014/11/17 03:56:23
author: Casie
tumblr_id: 102845352054
tags: corgi, welsh corgi, snow, winter is coming, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nf609z5NOU1r9wamzo1_1280.jpg' }
    %img{ alt: "Photographic evidence that it's snowing. In Dallas. On November 16.", src: '/uploads/pictures/medium_tumblr_nf609z5NOU1r9wamzo1_1280.jpg', title: "Photographic evidence that it's snowing. In Dallas. On November 16." }/
%p Photographic evidence that it's snowing. In Dallas. On November 16.
