---
title: "Play time #corgi #welshcorgi #dog"
date: 2013/08/04 01:49:31
author: Casie
tumblr_id: 57293371194
tags: corgi, dog, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mqzh2jWz471r9wamzo1_640.jpg' }
    %img{ alt: 'Play time #corgi #welshcorgi #dog', src: '/uploads/pictures/medium_tumblr_mqzh2jWz471r9wamzo1_640.jpg', title: 'Play time #corgi #welshcorgi #dog' }/
%p Play time #corgi #welshcorgi #dog
