---
title: Pooped Conney after her first Kansas road trip.
date: 2013/07/06 03:11:58
author: Casie
tumblr_id: 54722344205
tags: corgi, welsh corgi, dog, sleepy, nap time, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mphvjzqs5X1r9wamzo1_1280.jpg' }
    %img{ alt: 'Pooped Conney after her first Kansas road trip.', src: '/uploads/pictures/medium_tumblr_mphvjzqs5X1r9wamzo1_1280.jpg', title: 'Pooped Conney after her first Kansas road trip.' }/
%p Pooped Conney after her first Kansas road trip.
