---
title: Post-bath Conney enjoying her peanut mutter bar from Three Dog
date: 2012/06/12 02:27:40
author: Casie
tumblr_id: 24928331391
tags: corgi, welsh corgi, dog, bath, wet, treat, peanut butter, three dog bakery, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5hg644nYE1r9wamzo1_1280.png' }
    %img{ alt: 'Post-bath Conney enjoying her peanut mutter bar from Three Dog Bakery.', src: '/uploads/pictures/medium_tumblr_m5hg644nYE1r9wamzo1_1280.png', title: 'Post-bath Conney enjoying her peanut mutter bar from Three Dog Bakery.' }/
%p Post-bath Conney enjoying her peanut mutter bar from Three Dog Bakery.
