---
title: "Post bath #corgi (Taken with Cinemagram)"
date: 2013/04/07 03:16:53
author: Casie
tumblr_id: 47333179140
tags: cinemagram, gif, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mkv7s8lztT1r9wamzo1_250.gif' }
    %img{ alt: 'Post bath #corgi (Taken with Cinemagram)', src: '/uploads/pictures/medium_tumblr_mkv7s8lztT1r9wamzo1_250.gif', title: 'Post bath #corgi (Taken with Cinemagram)' }/
%p
  Post bath #corgi (Taken with
  = succeed ")" do
    %a{ href: 'http://cinemagr.am/tumblr' } Cinemagram
