---
title: Post-dog park smile.
date: 2015/04/03 23:45:57
author: Casie
tumblr_id: 115431261799
tags: corgi, welsh corgi, dog park, happy dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nm98olQbhr1r9wamzo1_1280.jpg' }
    %img{ alt: 'Post-dog park smile.', src: '/uploads/pictures/medium_tumblr_nm98olQbhr1r9wamzo1_1280.jpg', title: 'Post-dog park smile.' }/
%p Post-dog park smile.
