---
title: Post-dog park plop (Taken with Instagram at Carrollton, TX)
date: 2012/08/07 02:15:06
author: Casie
tumblr_id: 28879330236
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m8d4x6ougj1r9wamzo1_640.jpg' }
    %img{ alt: 'Post-dog park plop (Taken with Instagram at Carrollton, TX)', src: '/uploads/pictures/medium_tumblr_m8d4x6ougj1r9wamzo1_640.jpg', title: 'Post-dog park plop (Taken with Instagram at Carrollton, TX)' }/
%p
  Post-dog park plop (Taken with
  %a{ href: 'http://instagram.com' } Instagram
  at Carrollton, TX)
