---
title: Post-bath sad face. Seeking her revenge by making the couch nice
date: 2013/10/06 18:52:16
author: Casie
tumblr_id: 63295724316
tags: corgi, welsh corgi, dog, bath time, post-frap, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mu9gf4BEO41r9wamzo1_1280.jpg' }
    %img{ alt: 'Post-bath sad face. Seeking her revenge by making the couch nice and damp.', src: '/uploads/pictures/medium_tumblr_mu9gf4BEO41r9wamzo1_1280.jpg', title: 'Post-bath sad face. Seeking her revenge by making the couch nice and damp.' }/
%p Post-bath sad face. Seeking her revenge by making the couch nice and damp.
