---
title: Pouty puppy.
date: 2014/07/28 02:50:56
author: Casie
tumblr_id: 93072194144
tags: corgi, welsh corgi, dog, cute, pouty, sad, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n9eikwMPcD1r9wamzo1_1280.jpg' }
    %img{ alt: 'Pouty puppy.', src: '/uploads/pictures/medium_tumblr_n9eikwMPcD1r9wamzo1_1280.jpg', title: 'Pouty puppy.' }/
%p Pouty puppy.
