---
title: Pretty excited for our mini corgi meetup tomorrow! It's been too
date: 2014/06/07 02:53:41
author: Casie
tumblr_id: 88042964184
tags: corgi, corgi meetup, north Texas corgis, Dallas corgis, tumblr
---

%p
  Pretty excited for our mini corgi meetup tomorrow! It's been too long since Conney has seen her corgi friends (specifically,
  = succeed ")." do
    %a.tumblelog{ href: 'http://tmblr.co/mioXbsKR0pwcJJfWwzoES2w' } emmathebean
