---
title: Progress
date: 2012/03/23 00:31:16
author: Casie
tumblr_id: 19758363980
tags: corgi, welsh corgi, adoption, confidence, tumblr
---

%p For the first time since I adopted her, Conney wasn't scared to walk along Marsh! I'm glad she trusts me now!! It's great to see her progress.
%p We went on a really long walk. I wanted to take her across the street to walk along the lake (pond, really), but rush hour traffic was too much!
