---
title: Pros &amp; Cons. From November-December 2011. 1
date: 2015/08/24 21:59:07
author: Casie
tumblr_id: 127506515294
tags: corgi, welsh corgi, dog, the best dog, pros and cons, obviously all pros, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ntlx2jLwZ11r9wamzo1_1280.jpg' }
    %img{ alt: 'Pros &amp; Cons. From November-December 2011.', src: '/uploads/pictures/medium_tumblr_ntlx2jLwZ11r9wamzo1_1280.jpg', title: 'Pros &amp; Cons. From November-December 2011.' }/
%p Pros &amp; Cons.
%p From November-December 2011.
