---
title: Pros &amp; Cons. From November-December 2011.
date: 2016/08/24 13:20:07
author: Casie
tumblr_id: 149413967304
tags: corgi, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ntlx2jLwZ11r9wamzo1_1280.jpg' }
    %img{ alt: "conneythecorgi: Pros &amp; Cons. From November-December 2011. It's Conney day :(", src: '/uploads/pictures/medium_tumblr_ntlx2jLwZ11r9wamzo1_1280.jpg', title: "conneythecorgi: Pros &amp; Cons. From November-December 2011. It's Conney day :(" }/
%p
  %a.tumblr_blog{ href: 'http://conneythecorgi.tumblr.com/post/127506515294/pros-cons-from-november-december-2011' }> conneythecorgi
  \:
%blockquote
  %p Pros &amp; Cons.
  %p From November-December 2011.
%p It's Conney day :(
