---
title: Queenshiba's Chicken Parmigiana Cookies - a special treat for
date: 2012/04/30 00:36:01
author: Casie
tumblr_id: 22089788990
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m39oc29bX91r9wamzo1_640.jpg' }
    %img{ alt: "Queenshiba's Chicken Parmigiana Cookies - a special treat for Conney! (Taken with instagram)", src: '/uploads/pictures/medium_tumblr_m39oc29bX91r9wamzo1_640.jpg', title: "Queenshiba's Chicken Parmigiana Cookies - a special treat for Conney! (Taken with instagram)" }/
%p
  Queenshiba's Chicken Parmigiana Cookies - a special treat for Conney! (Taken with
  = succeed ")" do
    %a{ href: 'http://instagr.am' } instagram
