---
title: "Queen of the backyard #corgi #spring"
date: 2014/05/11 21:48:24
author: Casie
tumblr_id: 85461404519
tags: corgi, spring, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n5fj8phjUE1r9wamzo1_640.jpg' }
    %img{ alt: 'Queen of the backyard #corgi #spring', src: '/uploads/pictures/medium_tumblr_n5fj8phjUE1r9wamzo1_640.jpg', title: 'Queen of the backyard #corgi #spring' }/
%p Queen of the backyard #corgi #spring
