---
title: Rainbow! (Taken with Instagram at NorthBark Dog Park)
date: 2012/08/31 02:18:13
author: Casie
tumblr_id: 30561461805
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9ll2dKAYQ1r9wamzo1_640.jpg' }
    %img{ alt: 'Rainbow! (Taken with Instagram at NorthBark Dog Park)', src: '/uploads/pictures/medium_tumblr_m9ll2dKAYQ1r9wamzo1_640.jpg', title: 'Rainbow! (Taken with Instagram at NorthBark Dog Park)' }/
%p
  Rainbow! (Taken with
  %a{ href: 'http://instagram.com' } Instagram
  at NorthBark Dog Park)
