---
title: Rainy day.
date: 2013/01/09 05:17:26
author: Casie
tumblr_id: 40074861253
tags: corgi, welsh corgi, dog, pembroke welsh corgi, naps, paw, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mgcep2pxvJ1r9wamzo1_1280.jpg' }
    %img{ alt: 'Rainy day.', src: '/uploads/pictures/medium_tumblr_mgcep2pxvJ1r9wamzo1_1280.jpg', title: 'Rainy day.' }/
%p Rainy day.
