---
title: "Ready for fetch! #corgi #dog #corgigram #cute"
date: 2013/01/30 19:22:34
author: Casie
tumblr_id: 41880359909
tags: corgi, corgigram, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mhgdtngEGD1r9wamzo1_640.jpg' }
    %img{ alt: 'Ready for fetch! #corgi #dog #corgigram #cute', src: '/uploads/pictures/medium_tumblr_mhgdtngEGD1r9wamzo1_640.jpg', title: 'Ready for fetch! #corgi #dog #corgigram #cute' }/
%p Ready for fetch! #corgi #dog #corgigram #cute
