---
title: "Real corgi, part 3. #ears #conneythecorgi"
date: 2017/08/24 17:19:52
author: Casie
tumblr_id: 164564701314
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_niox286ZzP1r9wamzo1_640.jpg' }
    %img{ alt: 'conneythecorgi: Real corgi, part 3. #ears #conneythecorgi', src: '/uploads/pictures/medium_tumblr_niox286ZzP1r9wamzo1_640.jpg', title: 'conneythecorgi: Real corgi, part 3. #ears #conneythecorgi' }/
%p
  %a.tumblr_blog{ href: 'https://conneythecorgi.tumblr.com/post/109014309219/real-corgi-part-3-ears-conneythecorgi' }> conneythecorgi
  \:
%blockquote
  %p Real corgi, part 3. #ears #conneythecorgi
