---
title: "Real corgi, part 3. #ears #conneythecorgi 1"
date: 2015/01/24 16:42:08
author: Casie
tumblr_id: 109014309219
tags: conneythecorgi, ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_niox286ZzP1r9wamzo1_640.jpg' }
    %img{ alt: 'Real corgi, part 3. #ears #conneythecorgi', src: '/uploads/pictures/medium_tumblr_niox286ZzP1r9wamzo1_640.jpg', title: 'Real corgi, part 3. #ears #conneythecorgi' }/
%p Real corgi, part 3. #ears #conneythecorgi
