---
title: Regular spot. From this corner of the couch she can see anyone
date: 2014/12/31 03:20:20
author: Casie
tumblr_id: 106671862194
tags: corgi, welsh corgi, dog, couch, naps, lookout spot, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nhffxwluw41r9wamzo1_1280.jpg' }
    %img{ alt: 'Regular spot. From this corner of the couch she can see anyone coming in the front door, garage, foods in the kitchen, and any', src: '/uploads/pictures/medium_tumblr_nhffxwluw41r9wamzo1_1280.jpg', title: 'Regular spot. From this corner of the couch she can see anyone coming in the front door, garage, foods in the kitchen, and any' }/
%p Regular spot. From this corner of the couch she can see anyone coming in the front door, garage, foods in the kitchen, and any squirrel intruders in the backyard.
