---
title: Relaxin' on the patio.
date: 2014/04/12 19:11:26
author: Casie
tumblr_id: 82504026348
tags: corgi, pembroke welsh corgi, welsh corgi, dog, spring, backyard, cute, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n3xmn2AgDn1r9wamzo1_1280.jpg' }
    %img{ alt: "Relaxin' on the patio.", src: '/uploads/pictures/medium_tumblr_n3xmn2AgDn1r9wamzo1_1280.jpg', title: "Relaxin' on the patio." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n3xmn2AgDn1r9wamzo2_1280.jpg' }
    %img{ alt: "Relaxin' on the patio.", src: '/uploads/pictures/medium_tumblr_n3xmn2AgDn1r9wamzo2_1280.jpg', title: "Relaxin' on the patio." }/
%p Relaxin' on the patio.
