---
title: Relaxin'
date: 2014/03/04 02:51:48
author: Casie
tumblr_id: 78506032952
tags: corgi, welsh corgi, dog, cute, naps, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n1w5acDfVt1r9wamzo1_1280.jpg' }
    %img{ alt: "Relaxin'", src: '/uploads/pictures/medium_tumblr_n1w5acDfVt1r9wamzo1_1280.jpg', title: "Relaxin'" }/
%p Relaxin'
