---
title: Returning Conney back to the store.
date: 2015/01/21 00:16:17
author: Casie
tumblr_id: 108686247309
tags: corgi, welsh corgi, dog, return to sender, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nii3f5DFC21r9wamzo1_1280.jpg' }
    %img{ alt: 'Returning Conney back to the store.', src: '/uploads/pictures/medium_tumblr_nii3f5DFC21r9wamzo1_1280.jpg', title: 'Returning Conney back to the store.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nii3f5DFC21r9wamzo2_1280.jpg' }
    %img{ alt: 'Returning Conney back to the store.', src: '/uploads/pictures/medium_tumblr_nii3f5DFC21r9wamzo2_1280.jpg', title: 'Returning Conney back to the store.' }/
%p Returning Conney back to the store.
