---
title: "Reunited with Conney! #emma #conney #corgi"
date: 2014/07/12 18:37:15
author: Casie
tumblr_id: 91567482379
tags: corgi, welsh corgi, dog, dog park, corgi meetup, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8m1xspN1z1r4omsco1_640.jpg' }
    %img{ alt: 'emmathebean: Reunited with Conney! #emma #conney #corgi', src: '/uploads/pictures/medium_tumblr_n8m1xspN1z1r4omsco1_640.jpg', title: 'emmathebean: Reunited with Conney! #emma #conney #corgi' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/91564595410/reunited-with-conney-emma-conney-corgi' }> emmathebean
  \:
%blockquote
  %p Reunited with Conney! #emma #conney #corgi
