---
title: Riding Shotgun
date: 2012/01/05 07:04:15
author: Sean
---

%p.center
  %img{ alt: 'Corgi in the car!', src: '/uploads/pictures/1325746724925393.jpg', title: 'Corgi in the car!' }/
%p Conney doesn't seem to mind getting in the car. It's getting out that makes her nervous. She puts on a big show of acting scared when you try and coax her out and then when she finally hops out of the car (or, more likely, is picked up and set down) she's back to her usual self in a matter of seconds!
