---
title: Rubbin' my stinks all over your bed, humans.
date: 2015/06/03 03:58:24
author: Casie
tumblr_id: 120584406849
tags: corgi, too much rain makes a stinky dog, smelly, dirty dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_npcodcmulj1r9wamzo1_1280.jpg' }
    %img{ alt: "Rubbin' my stinks all over your bed, humans.", src: '/uploads/pictures/medium_tumblr_npcodcmulj1r9wamzo1_1280.jpg', title: "Rubbin' my stinks all over your bed, humans." }/
%p Rubbin' my stinks all over your bed, humans.
