---
title: Ruff life.
date: 2015/05/05 03:57:11
author: Casie
tumblr_id: 118174137594
tags: corgi, welsh corgi, too many walks, Conney walk, sleepy, floppy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nnuyzcIfiP1r9wamzo1_1280.jpg' }
    %img{ alt: 'Ruff life.', src: '/uploads/pictures/medium_tumblr_nnuyzcIfiP1r9wamzo1_1280.jpg', title: 'Ruff life.' }/
%p Ruff life.
