---
title: "sawyerthecorgi asked:"
date: 2012/05/19 16:06:12
author: Casie
tumblr_id: 23354440043
tags: tumblr
---

.question
  %p.asker
    %strong sawyerthecorgi
    asked:
  %p.question-text You've probably been asked this before, but how come you didn't tape Conney's ears up?
.answer
  %p Yes, I have been asked this a lot. I didn't because I didn't have her as a puppy! I just adopted her in January, and she was 2 years and 10 months. They do stand up sometimes, especially when I'm in the kitchen cooking or when she's getting a treat.
