---
title: Sean's birthday cake. Homemade funfetti!
date: 2014/07/31 03:46:44
author: Casie
tumblr_id: 93371262154
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n9k55yW96w1r9wamzo1_640.jpg' }
    %img{ alt: "Sean's birthday cake. Homemade funfetti!", src: '/uploads/pictures/medium_tumblr_n9k55yW96w1r9wamzo1_640.jpg', title: "Sean's birthday cake. Homemade funfetti!" }/
%p Sean's birthday cake. Homemade funfetti!
