---
title: Sean is working on changes to conneythecorgi.com right now!
date: 2012/01/24 03:13:58
author: Casie
tumblr_id: 16388531034
tags: corgi, welsh corgi, pembroke welsh corgi, dog, dog park, north texas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lya8za3Fo91r9wamzo1_1280.jpg' }
    %img{ alt: 'Sean is working on changes to conneythecorgi.com right now!', src: '/uploads/pictures/medium_tumblr_lya8za3Fo91r9wamzo1_1280.jpg', title: 'Sean is working on changes to conneythecorgi.com right now!' }/
%p
  Sean is working on changes to
  %a{ href: 'http://www.conneythecorgi.com' } conneythecorgi.com
  right now!
