---
title: Selecting a toy to play with is a very important decision.
date: 2015/02/18 01:32:54
author: Casie
tumblr_id: 111329933879
tags: corgi, welsh corgi, dog, dog toys, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_njy1muEGdR1r9wamzo1_1280.jpg' }
    %img{ alt: 'Selecting a toy to play with is a very important decision.', src: '/uploads/pictures/medium_tumblr_njy1muEGdR1r9wamzo1_1280.jpg', title: 'Selecting a toy to play with is a very important decision.' }/
%p Selecting a toy to play with is a very important decision.
