---
title: "Self explanatory #corgi #cute #derp"
date: 2014/05/22 00:34:45
author: Casie
tumblr_id: 86455208434
tags: corgi, derp, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n5y9m06kPf1r9wamzo1_640.jpg' }
    %img{ alt: 'Self explanatory #corgi #cute #derp', src: '/uploads/pictures/medium_tumblr_n5y9m06kPf1r9wamzo1_640.jpg', title: 'Self explanatory #corgi #cute #derp' }/
%p Self explanatory #corgi #cute #derp
