---
title: Serious business ripping the fuzz off tennis balls...
date: 2014/10/30 23:26:33
author: Casie
tumblr_id: 101374865804
tags: corgi, welsh corgi, sploot, tennis ball, chewing, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nea6g9dahk1r9wamzo1_1280.jpg' }
    %img{ alt: 'Serious business ripping the fuzz off tennis balls…', src: '/uploads/pictures/medium_tumblr_nea6g9dahk1r9wamzo1_1280.jpg', title: 'Serious business ripping the fuzz off tennis balls…' }/
%p Serious business ripping the fuzz off tennis balls…
