---
title: She's asleep now...
date: 2012/01/17 04:19:55
author: Sean
---

%p But a moment ago you'd be forgiven for assuming she was wide awake.
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773395922411.jpg', title: 'Conney the Corgi' }/
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773396362966.jpg', title: 'Conney the Corgi' }/
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773396119575.jpg', title: 'Conney the Corgi' }/
/ more
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773396556600.jpg', title: 'Conney the Corgi' }/
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773396459841.jpg', title: 'Conney the Corgi' }/
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773396221660.jpg', title: 'Conney the Corgi' }/
%p.center
  %img{ alt: 'Conney the Corgi', src: '/images/uploads/pictures/1326773396215411.jpg', title: 'Conney the Corgi' }/
