---
title: "shortdogs asked:"
date: 2012/03/15 03:03:35
author: Casie
tumblr_id: 19327123472
tags: tumblr
---

.question
  %p.asker
    %strong shortdogs
    asked:
  %p.question-text Aw! You have a flop-eared baby too!
.answer
  %p Yes! I adopted her in January. I noticed you just got yours a week ago! Congrats :)
