---
title: Silly face.
date: 2012/04/15 21:20:43
author: Casie
tumblr_id: 21170170651
tags: corgi, welsh corgi, dog, silly, goofy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2jhyjvcOd1r9wamzo1_1280.png' }
    %img{ alt: 'Silly face.', src: '/uploads/pictures/medium_tumblr_m2jhyjvcOd1r9wamzo1_1280.png', title: 'Silly face.' }/
%p Silly face.
