---
title: Simon totally loves his beach time. ;)
date: 2013/04/23 03:25:43
author: Casie
tumblr_id: 48668616762
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlolpsdzTU1r7x1rio1_500.jpg' }
    %img{ alt: 'Did someone say Beach?', src: '/uploads/pictures/medium_tumblr_mlolpsdzTU1r7x1rio1_500.jpg', title: 'Did someone say Beach?' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlolpsdzTU1r7x1rio2_640.jpg' }
    %img{ alt: 'Beach? Seriously?', src: '/uploads/pictures/medium_tumblr_mlolpsdzTU1r7x1rio2_640.jpg', title: 'Beach? Seriously?' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlolpsdzTU1r7x1rio3_640.jpg' }
    %img{ alt: 'Yes! I wanna go to the beach! I wanna go! *raises paw*', src: '/uploads/pictures/medium_tumblr_mlolpsdzTU1r7x1rio3_640.jpg', title: 'Yes! I wanna go to the beach! I wanna go! *raises paw*' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlolpsdzTU1r7x1rio4_1280.jpg' }
    %img{ alt: 'YAY beach! &lt;3', src: '/uploads/pictures/medium_tumblr_mlolpsdzTU1r7x1rio4_1280.jpg', title: 'YAY beach! &lt;3' }/
%p
  %a.tumblr_blog{ href: 'http://simonsaysbark.tumblr.com/post/48651470024/simon-totally-loves-his-beach-time' }> simonsaysbark
  \:
%blockquote
  %p Simon totally loves his beach time. ;)
