---
title: Since I don't have any puppy photos of Conney for National Puppy
date: 2015/03/24 00:36:46
author: Casie
tumblr_id: 114451753819
tags: corgi, welsh corgi, puppy, corgi puppy, national puppy day, cute, 1995, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nloxpaHOUE1r9wamzo1_400.jpg' }
    %img{ alt: "Since I don't have any puppy photos of Conney for National Puppy Day, here are pictures of Ginger when she was a puppy. And yes,", src: '/uploads/pictures/medium_tumblr_nloxpaHOUE1r9wamzo1_400.jpg', title: "Since I don't have any puppy photos of Conney for National Puppy Day, here are pictures of Ginger when she was a puppy. And yes," }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nloxpaHOUE1r9wamzo2_250.jpg' }
    %img{ alt: "Since I don't have any puppy photos of Conney for National Puppy Day, here are pictures of Ginger when she was a puppy. And yes,", src: '/uploads/pictures/medium_tumblr_nloxpaHOUE1r9wamzo2_250.jpg', title: "Since I don't have any puppy photos of Conney for National Puppy Day, here are pictures of Ginger when she was a puppy. And yes," }/
%p Since I don't have any puppy photos of Conney for National Puppy Day, here are pictures of Ginger when she was a puppy. And yes, it was 1995.
