---
title: "Sleepy burrito #acd #miniheeler #redheeler"
date: 2016/03/12 05:17:01
author: Casie
tumblr_id: 140894231919
tags: redheeler, miniheeler, acd, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o3wuodBV9t1r9wamzo1_1280.jpg' }
    %img{ alt: 'Sleepy burrito #acd #miniheeler #redheeler', src: '/uploads/pictures/medium_tumblr_o3wuodBV9t1r9wamzo1_1280.jpg', title: 'Sleepy burrito #acd #miniheeler #redheeler' }/
%p Sleepy burrito #acd #miniheeler #redheeler
