---
title: Sleepy Conney
date: 2012/05/27 09:07:30
author: Sean
---

%p.center Sometimes Conney likes to take naps on the couch. She also likes to wedge herself into an "L" shape in the corner.
%p.center
  %img{ alt: 'L-Shaped Conney Sleping on the Couch', src: '/images/uploads/pictures/1338109042252245.jpg', title: 'L-Shaped Conney Sleping on the Couch' }/
/ more
%p.center
  %img{ alt: 'L-Shaped Conney Sleping on the Couch', src: '/images/uploads/pictures/1338109042349192.jpg', title: 'L-Shaped Conney Sleping on the Couch' }/
%p.center
  %img{ alt: 'L-Shaped Conney Sleping on the Couch', src: '/images/uploads/pictures/1338109042447951.jpg', title: 'L-Shaped Conney Sleping on the Couch' }/
%p.center
  %img{ alt: "Conney Sleepin' on Sean's Lap", src: '/images/uploads/pictures/1338108445705653.jpg', title: "Conney Sleepin' on Sean's Lap" }/
%p.center She doesn't particularly care for being woken up.
%p.center
  %img{ alt: 'Conney looking sad =(', src: '/images/uploads/pictures/1338108601786481.jpg', title: 'Conney looking sad =(' }/
%p.center This is probably the cutest picture of Conney ever!
