---
title: Sleepy Conney Sleepy Casie
date: 2015/08/24 03:28:27
author: Sean
---

%p For the most part today was a pretty typical lazy Sunday. Casie and Conney both woke up before me. Casie made Conney some scrambled eggs which she didn't seem to interested in. That's a shame since Casie's scrambled eggs are the best.
%p When lunch time came around I went out and got some more fried chicken. This time from Super Chix. Conney didn't care for the fries this time, but she looooooooved the chicken. She ate nearly a whole chicken tender! One little nibble at a time. I took lots more pictures of Conney again today. Casie said it's like she's got paparazzi following her around.
%p The rest of the afternoon was spent watching football with Conney on the couch. At some point Casie went to the store (see my previous post) to get stuff for dinner. I ended up falling asleep snuggling Conney on the couch (neither of us care about the Patriots or the Saints). Eventually she started to get kicky so I helped her down and took her outside. Casie pulled up in the driveway while we were still out there and Conney got real excited as usual.
%p Casie made tacos for dinner. Some things never change: Conney ate every bit of cheese that I put within her reach. Snarf snarf snarf. After dinner we went on a walk. It was pretty hot out but Conney managed to do her morning route.
%p It's getting late. Casie and Conney both fell asleep while watching the Cowboys lose.
%p.center
  %a{ href: '/uploads/pictures/1440384385239154.jpg' }
    %img{ src: '/uploads/pictures/1440384385239154.jpg' }/
%p Shhhhhh, they don't know I took these.
