---
title: "Sleepy puppy #corgi #welshcorgi #cute"
date: 2013/11/19 02:30:39
author: Casie
tumblr_id: 67427098236
tags: corgi, cute, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mwhob3MeAZ1r9wamzo1_640.jpg' }
    %img{ alt: 'Sleepy puppy #corgi #welshcorgi #cute', src: '/uploads/pictures/medium_tumblr_mwhob3MeAZ1r9wamzo1_640.jpg', title: 'Sleepy puppy #corgi #welshcorgi #cute' }/
%p Sleepy puppy #corgi #welshcorgi #cute
