---
title: Sleeping on a pile of shoes!
date: 2012/09/02 05:01:15
author: Casie
tumblr_id: 30707024344
tags: corgi, welsh corgi, dog, nap, sleep, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9phy3fRGH1r9wamzo1_1280.jpg' }
    %img{ alt: 'Sleeping on a pile of shoes!', src: '/uploads/pictures/medium_tumblr_m9phy3fRGH1r9wamzo1_1280.jpg', title: 'Sleeping on a pile of shoes!' }/
%p Sleeping on a pile of shoes!
