---
title: Snoozin'
date: 2012/10/24 04:14:51
author: Casie
tumblr_id: 34213694953
tags: corgi, welsh corgi, dog, nap, sleepy, zzzz, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mcdqgr5YIf1r9wamzo1_1280.jpg' }
    %img{ alt: "Snoozin'", src: '/uploads/pictures/medium_tumblr_mcdqgr5YIf1r9wamzo1_1280.jpg', title: "Snoozin'" }/
%p Snoozin'
