---
title: "Snow beard! #corgi #corgisofinstagram #snowday"
date: 2015/02/27 23:48:53
author: Casie
tumblr_id: 112263630549
tags: corgi, snowday, corgisofinstagram, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkgfhhXgQJ1r9wamzo1_640.jpg' }
    %img{ alt: 'Snow beard! #corgi #corgisofinstagram #snowday', src: '/uploads/pictures/medium_tumblr_nkgfhhXgQJ1r9wamzo1_640.jpg', title: 'Snow beard! #corgi #corgisofinstagram #snowday' }/
%p Snow beard! #corgi #corgisofinstagram #snowday
