---
title: "Snow day Conney #cold #corgi"
date: 2014/03/03 13:47:20
author: Casie
tumblr_id: 78437589393
tags: corgi, cold, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n1v4yxKbr41r9wamzo1_640.jpg' }
    %img{ alt: 'Snow day Conney #cold #corgi', src: '/uploads/pictures/medium_tumblr_n1v4yxKbr41r9wamzo1_640.jpg', title: 'Snow day Conney #cold #corgi' }/
%p Snow day Conney #cold #corgi
