---
title: "Snow dog in action #corgi #snowday"
date: 2015/03/05 17:17:53
author: Casie
tumblr_id: 112795487364
tags: corgi, snowday, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkr1dtJZfd1r9wamzo1_640.jpg' }
    %img{ alt: 'Snow dog in action #corgi #snowday', src: '/uploads/pictures/medium_tumblr_nkr1dtJZfd1r9wamzo1_640.jpg', title: 'Snow dog in action #corgi #snowday' }/
%p Snow dog in action #corgi #snowday
