---
title: Snuggles
date: 2012/02/05 04:42:57
author: Casie
tumblr_id: 17074214434
tags: corgi, snuggles, nap, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lywl3lAtOs1r9wamzo1_1280.png' }
    %img{ alt: 'Snuggles', src: '/uploads/pictures/medium_tumblr_lywl3lAtOs1r9wamzo1_1280.png', title: 'Snuggles' }/
%p Snuggles
