---
title: Snuggle dog!
date: 2013/01/15 03:49:38
author: Casie
tumblr_id: 40575931330
tags: corgi, welsh corgi, dog, naps, snuggles, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mgnemqwX9E1r9wamzo1_1280.jpg' }
    %img{ alt: 'Snuggle dog!', src: '/uploads/pictures/medium_tumblr_mgnemqwX9E1r9wamzo1_1280.jpg', title: 'Snuggle dog!' }/
%p Snuggle dog!
