---
title: So close...but so far.
date: 2014/11/10 03:21:12
author: Casie
tumblr_id: 102243825689
tags: corgi, welsh corgi, dog, play time, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_neszzcXwA11r9wamzo1_1280.jpg' }
    %img{ alt: 'So close…but so far.', src: '/uploads/pictures/medium_tumblr_neszzcXwA11r9wamzo1_1280.jpg', title: 'So close…but so far.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_neszzcXwA11r9wamzo2_1280.jpg' }
    %img{ alt: 'So close…but so far.', src: '/uploads/pictures/medium_tumblr_neszzcXwA11r9wamzo2_1280.jpg', title: 'So close…but so far.' }/
%p So close…but so far.
