---
title: So dramatic after having a bath.
date: 2015/04/12 17:28:17
author: Casie
tumblr_id: 116218177684
tags: corgi, welsh corgi, dog, bath, so sad, how could you, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nmpf75AWoa1r9wamzo1_1280.jpg' }
    %img{ alt: 'So dramatic after having a bath.', src: '/uploads/pictures/medium_tumblr_nmpf75AWoa1r9wamzo1_1280.jpg', title: 'So dramatic after having a bath.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nmpf75AWoa1r9wamzo2_1280.jpg' }
    %img{ alt: 'So dramatic after having a bath.', src: '/uploads/pictures/medium_tumblr_nmpf75AWoa1r9wamzo2_1280.jpg', title: 'So dramatic after having a bath.' }/
%p So dramatic after having a bath.
