---
title: So... I am browsing on Amazon.com for Christmas gifts and
date: 2014/12/18 02:39:04
author: Casie
tumblr_id: 105489527449
tags: corgi, amazon, shopping, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ngrbd4Y2yq1r9wamzo1_400.jpg' }
    %img{ alt: 'So… I am browsing on Amazon.com for Christmas gifts and wandered into the pet supplies section…', src: '/uploads/pictures/medium_tumblr_ngrbd4Y2yq1r9wamzo1_400.jpg', title: 'So… I am browsing on Amazon.com for Christmas gifts and wandered into the pet supplies section…' }/
%p So… I am browsing on Amazon.com for Christmas gifts and wandered into the pet supplies section…
