---
title: So thankful today for Espree's Bright White Shampoo. Holy
date: 2014/11/28 19:21:31
author: Casie
tumblr_id: 103822744764
tags: emma, muddy, corgi, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfrk0mNz5P1r4omsco1_1280.jpg' }
    %img{ alt: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud.", src: '/uploads/pictures/medium_tumblr_nfrk0mNz5P1r4omsco1_1280.jpg', title: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nfrk0mNz5P1r4omsco2_1280.jpg' }
    %img{ alt: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud.", src: '/uploads/pictures/medium_tumblr_nfrk0mNz5P1r4omsco2_1280.jpg', title: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nfrk0mNz5P1r4omsco3_1280.jpg' }
    %img{ alt: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud.", src: '/uploads/pictures/medium_tumblr_nfrk0mNz5P1r4omsco3_1280.jpg', title: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nfrk0mNz5P1r4omsco4_1280.jpg' }
    %img{ alt: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud.", src: '/uploads/pictures/medium_tumblr_nfrk0mNz5P1r4omsco4_1280.jpg', title: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nfrk0mNz5P1r4omsco5_1280.jpg' }
    %img{ alt: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud.", src: '/uploads/pictures/medium_tumblr_nfrk0mNz5P1r4omsco5_1280.jpg', title: "emmathebean: So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud." }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/103822117230/so-thankful-today-for-esprees-bright-white' }> emmathebean
  \:
%blockquote
  %p So thankful today for Espree's Bright White Shampoo. Holy mudfeets, did Emma get dirty today. Poop Rolling AND Mud. Seriously - everyone should own a bottle for emergencies like this.
%p Thinking of saving these photos for whenever Sean accuses Conney of being a bad dog.
