---
title: Soft pretzel (Taken with instagram)
date: 2012/02/29 04:21:43
author: Casie
tumblr_id: 18479921904
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m05048LYNv1r9wamzo1_640.jpg' }
    %img{ alt: 'Soft pretzel (Taken with instagram)', src: '/uploads/pictures/medium_tumblr_m05048LYNv1r9wamzo1_640.jpg', title: 'Soft pretzel (Taken with instagram)' }/
%p
  Soft pretzel (Taken with
  = succeed ")" do
    %a{ href: 'http://instagr.am' } instagram
