---
title: Some people (like Emma's Mom) take classy photos of their pups
date: 2015/04/17 20:27:45
author: Casie
tumblr_id: 116666628024
tags: corgi, welsh corgi, dog, bluebonnets, texas, derp, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nmywu9ekVc1r9wamzo1_640.jpg' }
    %img{ alt: "Some people (like Emma's Mom) take classy photos of their pups in bluebonnets. This is what I get.", src: '/uploads/pictures/medium_tumblr_nmywu9ekVc1r9wamzo1_640.jpg', title: "Some people (like Emma's Mom) take classy photos of their pups in bluebonnets. This is what I get." }/
%p
  Some people (like
  = succeed ")" do
    %a{ href: 'http://emmathebean.com/' } Emma's Mom
