---
title: Sometimes I'm watching the news and this thing plops on me and
date: 2014/08/28 23:57:05
author: Casie
tumblr_id: 96040066604
tags: corgi, welsh corgi, dog, cute, pets, needy dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nb1jv5S6BB1r9wamzo1_1280.jpg' }
    %img{ alt: "Sometimes I'm watching the news and this thing plops on me and begs for pets.", src: '/uploads/pictures/medium_tumblr_nb1jv5S6BB1r9wamzo1_1280.jpg', title: "Sometimes I'm watching the news and this thing plops on me and begs for pets." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nb1jv5S6BB1r9wamzo2_1280.jpg' }
    %img{ alt: "Sometimes I'm watching the news and this thing plops on me and begs for pets.", src: '/uploads/pictures/medium_tumblr_nb1jv5S6BB1r9wamzo2_1280.jpg', title: "Sometimes I'm watching the news and this thing plops on me and begs for pets." }/
%p Sometimes I'm watching the news and this thing plops on me and begs for pets.
