---
title: Some pictures from last week
date: 2012/01/28 00:14:09
author: Sean
---

%p I never got around to taking these off my phone until now. Some are from the 16th and there's a few from the North Texas Corgi Meetup.
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709398475791.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709398602167.jpg', title: 'Conney the Corgi!' }/
/ more
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709398758053.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709398867747.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709398981739.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709399155828.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709399274395.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709399398224.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709399564511.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709399682563.jpg', title: 'Conney the Corgi!' }/
%p.center
  %img{ alt: 'Conney the Corgi!', src: '/uploads/pictures/1327709399798755.jpg', title: 'Conney the Corgi!' }/
