---
title: Sometimes I flip Conney's ears. She's usually not amused.
date: 2013/11/08 02:57:02
author: Casie
tumblr_id: 66336867773
tags: corgi, welsh corgi, dog, pembroke welsh corgi, welshcorgi, cute, floppy, ears, floppy ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mvxc73ow2l1r9wamzo1_1280.jpg' }
    %img{ alt: "Sometimes I flip Conney's ears. She's usually not amused.", src: '/uploads/pictures/medium_tumblr_mvxc73ow2l1r9wamzo1_1280.jpg', title: "Sometimes I flip Conney's ears. She's usually not amused." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mvxc73ow2l1r9wamzo2_1280.jpg' }
    %img{ alt: "Sometimes I flip Conney's ears. She's usually not amused.", src: '/uploads/pictures/medium_tumblr_mvxc73ow2l1r9wamzo2_1280.jpg', title: "Sometimes I flip Conney's ears. She's usually not amused." }/
%p Sometimes I flip Conney's ears. She's usually not amused.
