---
title: Sometimes it's pretty difficult to furminate Conney because she
date: 2014/10/09 01:43:32
author: Casie
tumblr_id: 99531885779
tags: corgi, welsh corgi, dog, furminator, dog hair, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nd5m4kfUbR1r9wamzo1_1280.jpg' }
    %img{ alt: "Sometimes it's pretty difficult to furminate Conney because she only wants me to brush her belly.", src: '/uploads/pictures/medium_tumblr_nd5m4kfUbR1r9wamzo1_1280.jpg', title: "Sometimes it's pretty difficult to furminate Conney because she only wants me to brush her belly." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nd5m4kfUbR1r9wamzo2_1280.jpg' }
    %img{ alt: "Sometimes it's pretty difficult to furminate Conney because she only wants me to brush her belly.", src: '/uploads/pictures/medium_tumblr_nd5m4kfUbR1r9wamzo2_1280.jpg', title: "Sometimes it's pretty difficult to furminate Conney because she only wants me to brush her belly." }/
%p Sometimes it's pretty difficult to furminate Conney because she only wants me to brush her belly.
