---
title: Sometimes I think Conney spends more time with her paws in the
date: 2015/04/24 00:03:11
author: Casie
tumblr_id: 117209497859
tags: corgi, welsh corgi, dog, paws, belly up, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nnaatbqotN1r9wamzo1_1280.jpg' }
    %img{ alt: 'Sometimes I think Conney spends more time with her paws in the air than on the ground.', src: '/uploads/pictures/medium_tumblr_nnaatbqotN1r9wamzo1_1280.jpg', title: 'Sometimes I think Conney spends more time with her paws in the air than on the ground.' }/
%p Sometimes I think Conney spends more time with her paws in the air than on the ground.
