---
title: Soooooooo cute!
date: 2012/03/06 04:14:48
author: Casie
tumblr_id: 18832569322
tags: corgi, welsh corgi, dog, cute, super cute, floppy ears, awww, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0g3soQPOJ1r9wamzo1_1280.png' }
    %img{ alt: 'Soooooooo cute!', src: '/uploads/pictures/medium_tumblr_m0g3soQPOJ1r9wamzo1_1280.png', title: 'Soooooooo cute!' }/
%p Soooooooo cute!
