---
title: Sorry human, I prefer the noms.
date: 2012/09/06 23:04:00
author: Casie
tumblr_id: 31020200358
tags: corgi, welsh corgi, welshcorgi, dog, cute, gif, noms, treats, conney, tumblr
---

%h1
  %a{ href: 'http://cinemagr.am/show/14774105' }
    %img{ src: 'http://cinemagr.am/uploads/14774105.gif' }/
%p
  Created with
  %a{ href: 'http://cinemagr.am' } cinemagr.am
