---
title: Special Delivery!
date: 2012/06/08 23:07:18
author: Casie
tumblr_id: 24707866103
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4jbw00RgX1qbwakso1_1280.jpg' }
    %img{ alt: 'corgiaddict: Special Delivery!', src: '/uploads/pictures/medium_tumblr_m4jbw00RgX1qbwakso1_1280.jpg', title: 'corgiaddict: Special Delivery!' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/24701299159' }> corgiaddict
  \:
%blockquote
  %p Special Delivery!
