---
title: Spotted Lucy paws.
date: 2014/09/02 01:55:25
author: Casie
tumblr_id: 96414014704
tags: corgi mix, blue heeler, blue heeler mix, corgi, dog, spots, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nb940dAmjG1r9wamzo1_1280.jpg' }
    %img{ alt: 'Spotted Lucy paws.', src: '/uploads/pictures/medium_tumblr_nb940dAmjG1r9wamzo1_1280.jpg', title: 'Spotted Lucy paws.' }/
%p Spotted Lucy paws.
