---
title: Spring birthdays are coming up - send your loved ones a Corgi
date: 2012/03/28 16:26:34
author: Casie
tumblr_id: 20065909210
tags: corgi, welsh corgi, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0s3x7zRAq1qbwakso1_640.jpg' }
    %img{ alt: 'corgiaddict: Spring birthdays are coming up - send your loved ones a Corgi birthday greeting! Enter CORGIADDICT at checkout to', src: '/uploads/pictures/medium_tumblr_m0s3x7zRAq1qbwakso1_640.jpg', title: 'corgiaddict: Spring birthdays are coming up - send your loved ones a Corgi birthday greeting! Enter CORGIADDICT at checkout to' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/20063951294' }> corgiaddict
  \:
%blockquote
  %p
    Spring birthdays are coming up - send your loved ones a
    = succeed "!" do
      %a{ href: 'http://www.etsy.com/listing/76915468/corgi-birthday-card-invitation' } Corgi birthday greeting
%p This is SO CUTE.
