---
title: Squirrel hunting would be a lot easier if Conney could climb
date: 2015/04/09 19:50:15
author: Casie
tumblr_id: 115962725179
tags: corgi, welsh corgi, dog, squirrel, backyard, squirrel hunting, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nmk1rrggSt1r9wamzo1_1280.jpg' }
    %img{ alt: 'Squirrel hunting would be a lot easier if Conney could climb trees.', src: '/uploads/pictures/medium_tumblr_nmk1rrggSt1r9wamzo1_1280.jpg', title: 'Squirrel hunting would be a lot easier if Conney could climb trees.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nmk1rrggSt1r9wamzo2_1280.jpg' }
    %img{ alt: 'Squirrel hunting would be a lot easier if Conney could climb trees.', src: '/uploads/pictures/medium_tumblr_nmk1rrggSt1r9wamzo2_1280.jpg', title: 'Squirrel hunting would be a lot easier if Conney could climb trees.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nmk1rrggSt1r9wamzo3_1280.jpg' }
    %img{ alt: 'Squirrel hunting would be a lot easier if Conney could climb trees.', src: '/uploads/pictures/medium_tumblr_nmk1rrggSt1r9wamzo3_1280.jpg', title: 'Squirrel hunting would be a lot easier if Conney could climb trees.' }/
%p Squirrel hunting would be a lot easier if Conney could climb trees.
