---
title: Squirrel patrol is a hard job, but someone's got to do it.
date: 2013/09/25 23:30:15
author: Casie
tumblr_id: 62282484309
tags: corgi, welsh corgi, dog, squirrel, chase, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mtpfyggOZt1r9wamzo1_1280.jpg' }
    %img{ alt: "Squirrel patrol is a hard job, but someone's got to do it.", src: '/uploads/pictures/medium_tumblr_mtpfyggOZt1r9wamzo1_1280.jpg', title: "Squirrel patrol is a hard job, but someone's got to do it." }/
%p Squirrel patrol is a hard job, but someone's got to do it.
