---
title: Squirrel?!
date: 2014/06/29 17:51:49
author: Casie
tumblr_id: 90267952249
tags: corgi, pembroke welsh corgi, welsh corgi, squirrels, summer, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n7xyyduckX1r9wamzo1_1280.png' }
    %img{ alt: 'Squirrel?!', src: '/uploads/pictures/medium_tumblr_n7xyyduckX1r9wamzo1_1280.png', title: 'Squirrel?!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n7xyyduckX1r9wamzo2_1280.png' }
    %img{ alt: 'Squirrel?!', src: '/uploads/pictures/medium_tumblr_n7xyyduckX1r9wamzo2_1280.png', title: 'Squirrel?!' }/
%p Squirrel?!
