---
title: "Storm leaving Rangers Ballpark #baseball #nofilter #texas (Taken"
date: 2012/06/14 06:16:09
author: Casie
tumblr_id: 25077859472
tags: nofilter, baseball, texas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5lg2xMU2J1r9wamzo1_640.jpg' }
    %img{ alt: 'Storm leaving Rangers Ballpark #baseball #nofilter #texas (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_m5lg2xMU2J1r9wamzo1_640.jpg', title: 'Storm leaving Rangers Ballpark #baseball #nofilter #texas (Taken with Instagram)' }/
%p
  Storm leaving Rangers Ballpark #baseball #nofilter #texas (Taken with
  = succeed ")" do
    %a{ href: 'http://instagr.am' } Instagram
