---
title: Stormy nights turn Conney into a lap dog.
date: 2013/10/27 01:47:09
author: Casie
tumblr_id: 65190013214
tags: corgi, welsh corgi, dog, storms, rain, comfy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mvb0uat7Mu1r9wamzo1_1280.jpg' }
    %img{ alt: 'Stormy nights turn Conney into a lap dog.', src: '/uploads/pictures/medium_tumblr_mvb0uat7Mu1r9wamzo1_1280.jpg', title: 'Stormy nights turn Conney into a lap dog.' }/
%p Stormy nights turn Conney into a lap dog.
