---
title: Stretched out!
date: 2013/03/31 05:20:23
author: Casie
tumblr_id: 46737077755
tags: corgi, welsh corgi, dog, sleep, cute, stretch, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mkietz5NdE1r9wamzo1_1280.jpg' }
    %img{ alt: 'Stretched out!', src: '/uploads/pictures/medium_tumblr_mkietz5NdE1r9wamzo1_1280.jpg', title: 'Stretched out!' }/
%p Stretched out!
