---
title: Strut Your Mutt
date: 2013/04/27 21:02:56
author: Sean
---

%p.center
  Conney was up bright and early this morning for the
  %a{ href: 'http://www.kintera.org/faf/home/default.asp?ievent=1045910' } SPCA of Texas Strut Your Mutt
  walk to raise money for other less fortunate dogs.
%p.center
  %img{ alt: 'Conney Before Strut Your Mutt', src: '/uploads/pictures/1367095541592375.jpg', title: 'Conney Before Strut Your Mutt' }/
%p.center Conney didn't seem so sure about walking a whole 3 Km.
%p.center
  %img{ alt: 'Conney at Strut Your Mutt', src: '/uploads/pictures/1367095547497035.jpg', title: 'Conney at Strut Your Mutt' }/
%p.center
  %img{ alt: 'Conney at Strut Your Mutt', src: '/uploads/pictures/1367095553950614.jpg', title: 'Conney at Strut Your Mutt' }/
%p.center Conney showing off her new red bandanna.
%p.center
  %img{ alt: 'Conney at Strut Your Mutt', src: '/uploads/pictures/1367096183501284.jpg', title: 'Conney at Strut Your Mutt' }/
%p.center Conney looking worried.
%p.center
  %img{ alt: 'Corgi Crew', src: '/uploads/pictures/1367096163542220.jpg', title: 'Corgi Crew' }/
%p.center The Corgi Crew acting like they own Fair Park.
