---
title: "Summer is here! #miniheeler #acd #redheeler #cattledog #&#x2600;&#xfe0f;"
date: 2016/06/08 23:25:19
author: Casie
tumblr_id: 145631392369
tags: "cattledog, redheeler, miniheeler, &#x2600;&#xfe0f;, acd, tumblr"
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o8h7q79ldH1r9wamzo1_1280.jpg' }
    %img{ alt: 'Summer is here! #miniheeler #acd #redheeler #cattledog #☀️', src: '/uploads/pictures/medium_tumblr_o8h7q79ldH1r9wamzo1_1280.jpg', title: 'Summer is here! #miniheeler #acd #redheeler #cattledog #☀️' }/
%p Summer is here! #miniheeler #acd #redheeler #cattledog #☀️
