---
title: "Summer is here! #corgi #welshcorgi #corgstagram #dog (Taken with"
date: 2012/05/29 00:42:01
author: Casie
tumblr_id: 23965667566
tags: corgi, dog, corgstagram, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4rdy2uu6Q1r9wamzo1_640.jpg' }
    %img{ alt: 'Summer is here! #corgi #welshcorgi #corgstagram #dog (Taken with Instagram at NorthBark Dog Park)', src: '/uploads/pictures/medium_tumblr_m4rdy2uu6Q1r9wamzo1_640.jpg', title: 'Summer is here! #corgi #welshcorgi #corgstagram #dog (Taken with Instagram at NorthBark Dog Park)' }/
%p
  Summer is here! #corgi #welshcorgi #corgstagram #dog (Taken with
  %a{ href: 'http://instagr.am' } Instagram
  at NorthBark Dog Park)
