---
title: Sunday sunbathing.
date: 2015/04/26 19:08:19
author: Casie
tumblr_id: 117447957679
tags: corgi, welsh corgi, dog, springtime, warm weather, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nnfh5vleUb1r9wamzo1_1280.jpg' }
    %img{ alt: 'Sunday sunbathing.', src: '/uploads/pictures/medium_tumblr_nnfh5vleUb1r9wamzo1_1280.jpg', title: 'Sunday sunbathing.' }/
%p Sunday sunbathing.
