---
title: Sunday! 1
date: 2015/02/15 18:48:13
author: Casie
tumblr_id: 111097299099
tags: corgi, welsh corgi, sleepy, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_njttkd087S1r9wamzo1_1280.jpg' }
    %img{ alt: 'Sunday!', src: '/uploads/pictures/medium_tumblr_njttkd087S1r9wamzo1_1280.jpg', title: 'Sunday!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_njttkd087S1r9wamzo2_1280.jpg' }
    %img{ alt: 'Sunday!', src: '/uploads/pictures/medium_tumblr_njttkd087S1r9wamzo2_1280.jpg', title: 'Sunday!' }/
%p Sunday!
