---
title: Sunday!
date: 2016/08/24 13:40:22
author: Casie
tumblr_id: 149414573804
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_njttkd087S1r9wamzo1_1280.jpg' }
    %img{ alt: 'conneythecorgi: Sunday!', src: '/uploads/pictures/medium_tumblr_njttkd087S1r9wamzo1_1280.jpg', title: 'conneythecorgi: Sunday!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_njttkd087S1r9wamzo2_1280.jpg' }
    %img{ alt: 'conneythecorgi: Sunday!', src: '/uploads/pictures/medium_tumblr_njttkd087S1r9wamzo2_1280.jpg', title: 'conneythecorgi: Sunday!' }/
%p
  %a.tumblr_blog{ href: 'http://conneythecorgi.tumblr.com/post/111097299099/sunday' }> conneythecorgi
  \:
%blockquote
  %p Sunday!
