---
title: Sunshine!
date: 2015/03/11 23:08:02
author: Casie
tumblr_id: 113378306449
tags: corgi, welsh corgi, springtime, dog, sunny, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nl2lleAw051r9wamzo1_1280.jpg' }
    %img{ alt: 'Sunshine!', src: '/uploads/pictures/medium_tumblr_nl2lleAw051r9wamzo1_1280.jpg', title: 'Sunshine!' }/
%p Sunshine!
