---
title: Sup guys
date: 2012/01/27 23:02:12
author: Casie
tumblr_id: 16600592507
tags: corgi, welsh corgi, dog, cute, instagram, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lyhbzoVJNg1r9wamzo1_1280.png' }
    %img{ alt: 'Sup guys', src: '/uploads/pictures/medium_tumblr_lyhbzoVJNg1r9wamzo1_1280.png', title: 'Sup guys' }/
%p Sup guys
