---
title: Sup.
date: 2015/07/21 02:33:53
author: Casie
tumblr_id: 124626222529
tags: corgi, welsh corgi, dog, cool, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nrtgghyml31r9wamzo1_1280.jpg' }
    %img{ alt: 'Sup.', src: '/uploads/pictures/medium_tumblr_nrtgghyml31r9wamzo1_1280.jpg', title: 'Sup.' }/
%p Sup.
