---
title: "   (Taken with http://cinemagr.am)  "
date: 2013/11/10 20:31:31
author: Casie
tumblr_id: 66602094147
tags: tumblr
---

%div
  %p
    %img{ src: 'http://cinemagr.am/uploads/156938469.gif' }/
  %br/
  %p
    (Taken with
    = succeed ")" do
      %a{ href: 'http://cinemagr.am/tumblr' } http://cinemagr.am
