---
title: Take the 30 day Corgi Photo Challenge this June, presented by
date: 2013/06/01 20:25:36
author: Casie
tumblr_id: 51907856083
tags: corgi, welsh corgi, corgipals, photo challenge, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mnoqiadbuT1qbwakso1_1280.png' }
    %img{ alt: "corgiaddict: Take the 30 day Corgi Photo Challenge this June, presented by CorgiPals! An attempt to post more (since I've become", src: '/uploads/pictures/medium_tumblr_mnoqiadbuT1qbwakso1_1280.png', title: "corgiaddict: Take the 30 day Corgi Photo Challenge this June, presented by CorgiPals! An attempt to post more (since I've become" }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/51838110837' }> corgiaddict
  \:
%blockquote
  %p
    Take the 30 day Corgi Photo Challenge this June, presented by
    = succeed "!" do
      %a{ href: 'http://www.corgipals.org/' } CorgiPals
%p An attempt to post more (since I've become a workaholic, apparently).
