---
title: Take off! Thanks for the photos Nicole...I'll actually update
date: 2012/03/14 17:38:04
author: Casie
tumblr_id: 19296076535
tags: corgi, welsh corgi, dog, dog park, run, floppy ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0vybg4GbT1r9wamzo1_1280.jpg' }
    %img{ alt: "Take off! Thanks for the photos Nicole…I'll actually update ConneyTheCorgi.com later tonight!", src: '/uploads/pictures/medium_tumblr_m0vybg4GbT1r9wamzo1_1280.jpg', title: "Take off! Thanks for the photos Nicole…I'll actually update ConneyTheCorgi.com later tonight!" }/
%p Take off! Thanks for the photos Nicole…I'll actually update ConneyTheCorgi.com later tonight!
