---
title: Taking a break from chasing June bugs.
date: 2015/07/19 00:13:55
author: Casie
tumblr_id: 124444526159
tags: corgi, welsh corgi, dog, Richardson wildlife, summer, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nrpkn7FRM41r9wamzo1_1280.jpg' }
    %img{ alt: 'Taking a break from chasing June bugs.', src: '/uploads/pictures/medium_tumblr_nrpkn7FRM41r9wamzo1_1280.jpg', title: 'Taking a break from chasing June bugs.' }/
%p Taking a break from chasing June bugs.
