---
title: "Texas Star #statefairoftx #statefair #texas #texasstar (at State"
date: 2012/10/23 00:03:21
author: Casie
tumblr_id: 34130177446
tags: statefair, statefairoftx, texasstar, texas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mcbk5lldMP1r9wamzo1_640.jpg' }
    %img{ alt: 'Texas Star #statefairoftx #statefair #texas #texasstar (at State Fair of Texas 2012)', src: '/uploads/pictures/medium_tumblr_mcbk5lldMP1r9wamzo1_640.jpg', title: 'Texas Star #statefairoftx #statefair #texas #texasstar (at State Fair of Texas 2012)' }/
%p Texas Star #statefairoftx #statefair #texas #texasstar (at State Fair of Texas 2012)
