---
title: Thank you Conrad Ruiz for being a crazy artist!
date: 2012/03/07 02:07:12
author: Casie
tumblr_id: 18879494990
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0h2uzyIlr1r5ytd1o1_640.png' }
    %img{ alt: 'sweetpeathecorgi: Thank you Conrad Ruiz for being a crazy artist!', src: '/uploads/pictures/medium_tumblr_m0h2uzyIlr1r5ytd1o1_640.png', title: 'sweetpeathecorgi: Thank you Conrad Ruiz for being a crazy artist!' }/
%p
  %a.tumblr_blog{ href: 'http://sweetpeathecorgi.tumblr.com/post/18850875474/thank-you-conrad-ruiz-for-being-a-crazy-artist' }> sweetpeathecorgi
  \:
%blockquote
  %p Thank you Conrad Ruiz for being a crazy artist!
