---
title: That moment when...
date: 2014/06/07 02:46:29
author: Casie
tumblr_id: 88042398919
tags: corgi, welsh corgi, too much hair, tumblr, reblogged
---

%p
  %a.tumblr_blog{ href: 'http://gatsbyadventures.tumblr.com/post/88006756375/that-moment-when' }> gatsbyadventures
  \:
%blockquote
  %p …you're about to get in your car and you're like, "hmm, it's nice out. I think I'll drive with the windows down."
  %p You get in. You roll all four windows down and you start driving. And then suddenly…
  %p
    %strong>
      %em WHIRLWIND OF CORGI HAIR
    \. Just…EVERYWHERE.
  %p
    %img{ src: 'https://66.media.tumblr.com/d1d0158911fe656fe4e094cd6221c15d/tumblr_inline_n6rglxIuQh1rw9igh.jpg' }/
  %p ^ Kinda like that but you know, less magical.
  %p And then you think to yourself, "I've made a terrible mistake."
  %p The end.
%p Truth!
