---
title: The stare down.
date: 2013/02/04 03:06:02
author: Casie
tumblr_id: 42245856008
tags: corgi, welsh corgi, dog, blue heeler, corgi mix, play, stare down, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mhody3gPSx1r9wamzo1_1280.jpg' }
    %img{ alt: 'The stare down.', src: '/uploads/pictures/medium_tumblr_mhody3gPSx1r9wamzo1_1280.jpg', title: 'The stare down.' }/
%p The stare down.
