---
title: The problem with dog costumes is that there aren't many designed
date: 2012/10/07 01:19:14
author: Casie
tumblr_id: 33048174934
tags: corgi, welsh corgi, dog, halloween, costume, halloween costume, ref, referee, cute, stubby, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mbi102m25D1r9wamzo1_1280.jpg' }
    %img{ alt: "The problem with dog costumes is that there aren't many designed for the stubs. I'm going to have to alter this and make the", src: '/uploads/pictures/medium_tumblr_mbi102m25D1r9wamzo1_1280.jpg', title: "The problem with dog costumes is that there aren't many designed for the stubs. I'm going to have to alter this and make the" }/
%p The problem with dog costumes is that there aren't many designed for the stubs. I'm going to have to alter this and make the sleeves a bit shorter.
%p And she is the dog park ref.
