---
title: The derpettes with their medals after Funagility class.
date: 2012/04/22 03:46:08
author: Casie
tumblr_id: 21547978281
tags: corgi, welsh corgi, fungility, dogs, agility, agility class, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2uwsnwqsX1r4omsco2_1280.jpg' }
    %img{ alt: 'emmathebean: The derpettes with their medals after Funagility class.', src: '/uploads/pictures/medium_tumblr_m2uwsnwqsX1r4omsco2_1280.jpg', title: 'emmathebean: The derpettes with their medals after Funagility class.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m2uwsnwqsX1r4omsco1_1280.jpg' }
    %img{ alt: 'emmathebean: The derpettes with their medals after Funagility class.', src: '/uploads/pictures/medium_tumblr_m2uwsnwqsX1r4omsco1_1280.jpg', title: 'emmathebean: The derpettes with their medals after Funagility class.' }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/21538206139/the-derpettes-with-their-medals-after-funagility' }> emmathebean
  \:
%blockquote
  %p The derpettes with their medals after Funagility class.
