---
title: "The most awesome watch ever! Thanks @rini0885 #corgi"
date: 2013/12/13 15:02:09
author: Casie
tumblr_id: 69882710356
tags: corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mxr33lyQsS1r9wamzo1_640.jpg' }
    %img{ alt: 'The most awesome watch ever! Thanks @rini0885 #corgi', src: '/uploads/pictures/medium_tumblr_mxr33lyQsS1r9wamzo1_640.jpg', title: 'The most awesome watch ever! Thanks @rini0885 #corgi' }/
%p The most awesome watch ever! Thanks @rini0885 #corgi
