---
title: The Post I Didn't Ever Want to Make 1
date: 2015/08/22 16:29:27
author: Casie
tumblr_id: 127322202799
tags: corgi, welsh corgi, dog, last post, cancer, best friend, tumblr
---

%p Well, you may or may not have noticed I have not been posting here much over the last month. And the posts I have made have been vet-related. Conney has not been herself since about July 23. Her first vet visit for her unknown illness was July 25. Since then, she's had numerous tests and vet stays as we try to figure out the mystery illness. It started with a long list of possibilities, with the least likely on the bottom. Slowly, all the obvious items were crossed off: not food related, no object stuck in her intestines, not pancreatitis…until one thing was left: cancer. This morning it was confirmed by our vet - lymphoma.
%p She has abnormalities on both kidneys. Loose fluid around her spleen, gall bladder, and liver. Spleen and liver are enlarged.
%p It's awful because it all seems so sudden and out of no where. A month ago our dog was perfectly normal, and today we are waiting on a call from the emergency vet hospital to come pick her up so she can be at home for a couple of days before we have to make the worst decision of all.
%p I hate this because she's only 6. This isn't supposed to happen at this age. Lymphoma is rare in dogs. We've only had Conney 3 years and 8 months. I hate that she had to spend a third of her life in homes where she wasn't loved. I wish I could go back in time and find her when she was a puppy.
%p Conney is the greatest dog. She is my best friend. Our house is lonely and empty without her here. I can't wait to have her home, if only for a couple of days, so she can do all her favorite things one last time.
%p
  This is probably my last post on conneythecorgi. I don't want her to be remembered by how sad she looks now. (Also, she has a totally shaved belly which she is embarrassed by LOL). Thanks to all our followers who have liked the ridiculous photos of Conney over the last few years. A special thank you to Nicole (
  %a{ href: 'http://emmathebean.com/' }> emmathebean
  ) for helping me find Conney.
%p Give your puppies extra love today. They deserve it.
