---
title: The best part of coming home.
date: 2015/02/27 00:24:07
author: Casie
tumblr_id: 112177233404
tags: corgi, welsh corgi, dog, happy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkemg7WSkQ1r9wamzo1_1280.jpg' }
    %img{ alt: 'The best part of coming home.', src: '/uploads/pictures/medium_tumblr_nkemg7WSkQ1r9wamzo1_1280.jpg', title: 'The best part of coming home.' }/
%p The best part of coming home.
