---
title: The holidays sure are tough for a corgi!
date: 2013/12/23 03:20:52
author: Casie
tumblr_id: 70855414485
tags: corgi, pembroke welsh corgi, welsh corgi, christmas, naps, sleepy, christmas corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_my8pas2bv01r9wamzo1_1280.jpg' }
    %img{ alt: 'The holidays sure are tough for a corgi!', src: '/uploads/pictures/medium_tumblr_my8pas2bv01r9wamzo1_1280.jpg', title: 'The holidays sure are tough for a corgi!' }/
%p The holidays sure are tough for a corgi!
