---
title: The city of Carrollton hosted a dog pool party today since city
date: 2012/09/08 21:41:52
author: Casie
tumblr_id: 31150155591
tags: corgi, welsh corgi, dog, dogs, swimming, pool, pool party, carrollton, carrollton tx, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ma1w9sbxNG1r9wamzo1_1280.jpg' }
    %img{ alt: 'The city of Carrollton hosted a dog pool party today since city pools closed last weekend. Conney had tons of fun barking and', src: '/uploads/pictures/medium_tumblr_ma1w9sbxNG1r9wamzo1_1280.jpg', title: 'The city of Carrollton hosted a dog pool party today since city pools closed last weekend. Conney had tons of fun barking and' }/
%p The city of Carrollton hosted a dog pool party today since city pools closed last weekend. Conney had tons of fun barking and actually swimming! Took her a bit to get in but once she did, she was splashing with all the other dogs.
