---
title: The ultimate comfy Conney.
date: 2015/05/03 00:04:28
author: Casie
tumblr_id: 117979153139
tags: corgi, welsh corgi, naps, cute, comfy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nnqyvgpAQg1r9wamzo1_1280.jpg' }
    %img{ alt: 'The ultimate comfy Conney.', src: '/uploads/pictures/medium_tumblr_nnqyvgpAQg1r9wamzo1_1280.jpg', title: 'The ultimate comfy Conney.' }/
%p The ultimate comfy Conney.
