---
title: "The most pitiful Conney photo ever taken #corgi #corgigram #dog"
date: 2013/04/27 02:59:58
author: Casie
tumblr_id: 48977636941
tags: corgi, corgigram, dog, sad, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlw8by9kFV1r9wamzo1_640.jpg' }
    %img{ alt: 'The most pitiful Conney photo ever taken #corgi #corgigram #dog #sad', src: '/uploads/pictures/medium_tumblr_mlw8by9kFV1r9wamzo1_640.jpg', title: 'The most pitiful Conney photo ever taken #corgi #corgigram #dog #sad' }/
%p The most pitiful Conney photo ever taken #corgi #corgigram #dog #sad
