---
title: "The patient beggar always gets the French fries #corgi"
date: 2015/02/08 23:59:57
author: Casie
tumblr_id: 110487463164
tags: corgi, leeharveys, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_njh9bxYKqN1r9wamzo1_640.jpg' }
    %img{ alt: "The patient beggar always gets the French fries #corgi #leeharveys (at Lee Harvey's)", src: '/uploads/pictures/medium_tumblr_njh9bxYKqN1r9wamzo1_640.jpg', title: "The patient beggar always gets the French fries #corgi #leeharveys (at Lee Harvey's)" }/
%p The patient beggar always gets the French fries #corgi #leeharveys (at Lee Harvey's)
