---
title: "The best #corgi #cute"
date: 2014/04/03 00:02:57
author: Casie
tumblr_id: 81534418866
tags: corgi, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n3fhgymCmI1r9wamzo1_640.jpg' }
    %img{ alt: 'The best #corgi #cute', src: '/uploads/pictures/medium_tumblr_n3fhgymCmI1r9wamzo1_640.jpg', title: 'The best #corgi #cute' }/
%p The best #corgi #cute
