---
title: "The tree #christmas"
date: 2014/12/07 03:26:10
author: Casie
tumblr_id: 104545609494
tags: christmas, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ng707nhI9k1r9wamzo1_640.jpg' }
    %img{ alt: 'The tree #christmas', src: '/uploads/pictures/medium_tumblr_ng707nhI9k1r9wamzo1_640.jpg', title: 'The tree #christmas' }/
%p The tree #christmas
