---
title: The faces of bark cam.
date: 2015/06/03 23:57:55
author: Casie
tumblr_id: 120650114394
tags: corgi, dog, concerned, bark cam, stop, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_npe7wjNagC1r9wamzo1_1280.jpg' }
    %img{ alt: 'The faces of bark cam.', src: '/uploads/pictures/medium_tumblr_npe7wjNagC1r9wamzo1_1280.jpg', title: 'The faces of bark cam.' }/
%p The faces of bark cam.
