---
title: The vet is a very scary place. Conney hides from the doctor
date: 2014/10/11 16:18:59
author: Casie
tumblr_id: 99735343754
tags: corgi, welsh corgi, dog, vet, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_ndafznii7K1r9wamzo1_1280.jpg' }
    %img{ alt: 'The vet is a very scary place. Conney hides from the doctor under the chairs.', src: '/uploads/pictures/medium_tumblr_ndafznii7K1r9wamzo1_1280.jpg', title: 'The vet is a very scary place. Conney hides from the doctor under the chairs.' }/
%p The vet is a very scary place. Conney hides from the doctor under the chairs.
