---
title: The cutest corgi puppy ever. I'm guessing what Conney looked
date: 2012/03/20 02:06:41
author: Casie
tumblr_id: 19606970570
tags: corgi, welsh corgi, puppy, cute, stubby, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m15v7528Mk1r9wamzo1_1280.jpg' }
    %img{ alt: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby.", src: '/uploads/pictures/medium_tumblr_m15v7528Mk1r9wamzo1_1280.jpg', title: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m15v7528Mk1r9wamzo2_1280.jpg' }
    %img{ alt: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby.", src: '/uploads/pictures/medium_tumblr_m15v7528Mk1r9wamzo2_1280.jpg', title: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m15v7528Mk1r9wamzo3_1280.jpg' }
    %img{ alt: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby.", src: '/uploads/pictures/medium_tumblr_m15v7528Mk1r9wamzo3_1280.jpg', title: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m15v7528Mk1r9wamzo4_640.jpg' }
    %img{ alt: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby.", src: '/uploads/pictures/medium_tumblr_m15v7528Mk1r9wamzo4_640.jpg', title: "The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby." }/
%p The cutest corgi puppy ever. I'm guessing what Conney looked like as a baby.
