---
title: The world's most pitiful dog.
date: 2015/01/17 04:24:24
author: Casie
tumblr_id: 108317404204
tags: corgi, welsh corgi, sad corgi, dog, cute, puppy eyes, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nib08oOSIc1r9wamzo1_1280.jpg' }
    %img{ alt: "The world's most pitiful dog.", src: '/uploads/pictures/medium_tumblr_nib08oOSIc1r9wamzo1_1280.jpg', title: "The world's most pitiful dog." }/
%p The world's most pitiful dog.
