---
title: The faces of bath time.
date: 2014/07/14 01:47:29
author: Casie
tumblr_id: 91698987689
tags: corgi, welsh corgi, pembroke welsh corgi, dog, bath, bath time, sad face, grumpy, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n8oib5lBdg1r9wamzo1_1280.jpg' }
    %img{ alt: 'The faces of bath time.', src: '/uploads/pictures/medium_tumblr_n8oib5lBdg1r9wamzo1_1280.jpg', title: 'The faces of bath time.' }/
%p The faces of bath time.
