---
title: The current state of the couch. Zzzzzzzzzz
date: 2013/11/03 03:30:09
author: Casie
tumblr_id: 65854251076
tags: corgi, welsh corgi, dog, sean, naps, sleepy, zzzzz, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mvo4e9xyUM1r9wamzo1_1280.jpg' }
    %img{ alt: 'The current state of the couch. Zzzzzzzzzz', src: '/uploads/pictures/medium_tumblr_mvo4e9xyUM1r9wamzo1_1280.jpg', title: 'The current state of the couch. Zzzzzzzzzz' }/
%p The current state of the couch. Zzzzzzzzzz
