---
title: The cutest sleepy dog.
date: 2012/07/07 05:24:18
author: Casie
tumblr_id: 26681299857
tags: corgi, welsh corgi, dog, sleepy, bed time, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m6rz0i76D61r9wamzo1_1280.jpg' }
    %img{ alt: 'The cutest sleepy dog.', src: '/uploads/pictures/medium_tumblr_m6rz0i76D61r9wamzo1_1280.jpg', title: 'The cutest sleepy dog.' }/
%p The cutest sleepy dog.
