---
title: The meaning of life.
date: 2014/01/09 03:38:22
author: Casie
tumblr_id: 72730464056
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mgp3k4oK1x1r4hqvlo1_400.jpg' }
    %img{ alt: 'erintheadventurer: The meaning of life.', src: '/uploads/pictures/medium_tumblr_mgp3k4oK1x1r4hqvlo1_400.jpg', title: 'erintheadventurer: The meaning of life.' }/
%p
  %a.tumblr_blog{ href: 'http://erintheadventurer.tumblr.com/post/59552972898/the-meaning-of-life' }> erintheadventurer
  \:
%blockquote
  %p The meaning of life.
