---
title: The best way to drown out crazy thunder... Make ice cream!
date: 2015/05/25 22:54:04
author: Casie
tumblr_id: 119887707524
tags: corgi, welsh corgi, dog, scared, thunder, ice cream, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_noxgy457Ch1r9wamzo1_1280.jpg' }
    %img{ alt: 'The best way to drown out crazy thunder… Make ice cream!', src: '/uploads/pictures/medium_tumblr_noxgy457Ch1r9wamzo1_1280.jpg', title: 'The best way to drown out crazy thunder… Make ice cream!' }/
%p The best way to drown out crazy thunder… Make ice cream!
