---
title: The only 2 photos I could get of Conney in the snow before she
date: 2015/02/23 18:42:59
author: Casie
tumblr_id: 111877173859
tags: corgi, welsh corgi, snow day, too cold, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nk8mnnGHkt1r9wamzo1_1280.jpg' }
    %img{ alt: 'The only 2 photos I could get of Conney in the snow before she darted back inside.', src: '/uploads/pictures/medium_tumblr_nk8mnnGHkt1r9wamzo1_1280.jpg', title: 'The only 2 photos I could get of Conney in the snow before she darted back inside.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nk8mnnGHkt1r9wamzo2_1280.jpg' }
    %img{ alt: 'The only 2 photos I could get of Conney in the snow before she darted back inside.', src: '/uploads/pictures/medium_tumblr_nk8mnnGHkt1r9wamzo2_1280.jpg', title: 'The only 2 photos I could get of Conney in the snow before she darted back inside.' }/
%p The only 2 photos I could get of Conney in the snow before she darted back inside.
