---
title: These wonderful cats and dogs have been in adoption at Dallas
date: 2012/06/02 04:18:36
author: Casie
tumblr_id: 24241850437
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4wbzyklzZ1rvzq6wo1_1280.jpg' }
    %img{ alt: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they', src: '/uploads/pictures/medium_tumblr_m4wbzyklzZ1rvzq6wo1_1280.jpg', title: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m4wbzyklzZ1rvzq6wo3_1280.jpg' }
    %img{ alt: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they', src: '/uploads/pictures/medium_tumblr_m4wbzyklzZ1rvzq6wo3_1280.jpg', title: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m4wbzyklzZ1rvzq6wo4_1280.jpg' }
    %img{ alt: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they', src: '/uploads/pictures/medium_tumblr_m4wbzyklzZ1rvzq6wo4_1280.jpg', title: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m4wbzyklzZ1rvzq6wo5_1280.jpg' }
    %img{ alt: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they', src: '/uploads/pictures/medium_tumblr_m4wbzyklzZ1rvzq6wo5_1280.jpg', title: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m4wbzyklzZ1rvzq6wo6_1280.jpg' }
    %img{ alt: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they', src: '/uploads/pictures/medium_tumblr_m4wbzyklzZ1rvzq6wo6_1280.jpg', title: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m4wbzyklzZ1rvzq6wo7_1280.jpg' }
    %img{ alt: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they', src: '/uploads/pictures/medium_tumblr_m4wbzyklzZ1rvzq6wo7_1280.jpg', title: 'animalavenger: These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they' }/
%p
  %a.tumblr_blog{ href: 'http://animalavenger.tumblr.com/post/24134428394/these-wonderful-cats-and-dogs-have-been-in' }> animalavenger
  \:
%blockquote
  %div
    %p
      These wonderful cats and dogs have been in adoption at Dallas Animal Services for more than 45 days. Now they have a euthanasia date of
      %strong Tuesday, June 5.
      Please help by Sharing this album. Adopt if you can, foster or rescue!
    %p
      %br/
    %p
      %span.Apple-style-span
        Taken at
        %a{ "data-hovercard" => "/ajax/hovercard/page.php?id=101535076582438", href: 'https://www.facebook.com/dallasanimalservices' } Dallas Animal Services and Adoption Center
