---
title: "These two are up to no good #corgi #welshcorgi #dog #blueheeler"
date: 2012/07/05 04:33:33
author: Casie
tumblr_id: 26538937864
tags: corgi, blueheeler, dog, welshcorgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m6o7bxKDAD1r9wamzo1_640.jpg' }
    %img{ alt: 'These two are up to no good #corgi #welshcorgi #dog #blueheeler (Taken with Instagram)', src: '/uploads/pictures/medium_tumblr_m6o7bxKDAD1r9wamzo1_640.jpg', title: 'These two are up to no good #corgi #welshcorgi #dog #blueheeler (Taken with Instagram)' }/
%p
  These two are up to no good #corgi #welshcorgi #dog #blueheeler (Taken with
  = succeed ")" do
    %a{ href: 'http://instagram.com' } Instagram
