---
title: This has been a long week. Conney was very sick when I came home
date: 2015/07/31 14:40:51
author: Casie
tumblr_id: 125517370164
tags: corgi, welsh corgi, vet, sick, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nscws3FZJ21r9wamzo1_1280.jpg' }
    %img{ alt: 'This has been a long week. Conney was very sick when I came home last Friday. Took her to the vet Saturday morning. We were', src: '/uploads/pictures/medium_tumblr_nscws3FZJ21r9wamzo1_1280.jpg', title: 'This has been a long week. Conney was very sick when I came home last Friday. Took her to the vet Saturday morning. We were' }/
%p This has been a long week. Conney was very sick when I came home last Friday. Took her to the vet Saturday morning. We were there a couple of hours while they ran a bunch of tests. Everything seemed fine except there was a 25% chance of Conney having Addison's disease. So, they sent her sample to another lab to be tested, and he vet confirmed again. Wednesday, Conney had the Addison's disease test which involves getting an injection of cortisol to stimulate hormone production. When I picked her up from the vet that afternoon, she seemed totally back to normal. And then we received the results stating she doesn't have Addison's. The cortisol injection was enough to stimulate her hormones back to normal levels. Feeling very relieved as if she had been diagnosed, she would have to have monthly injections for the rest of her life. Now everything seems to be back to normal 😀
