---
title: This is the best series of corgi puppies sleeping in the history
date: 2012/08/25 02:53:47
author: Casie
tumblr_id: 30145468116
tags: tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m96ret3vg71qh28hmo1_1280.jpg' }
    %img{ alt: 'one', src: '/uploads/pictures/medium_tumblr_m96ret3vg71qh28hmo1_1280.jpg', title: 'one' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m96ret3vg71qh28hmo2_1280.jpg' }
    %img{ alt: 'two', src: '/uploads/pictures/medium_tumblr_m96ret3vg71qh28hmo2_1280.jpg', title: 'two' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m96ret3vg71qh28hmo3_1280.jpg' }
    %img{ alt: 'three', src: '/uploads/pictures/medium_tumblr_m96ret3vg71qh28hmo3_1280.jpg', title: 'three' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m96ret3vg71qh28hmo4_1280.jpg' }
    %img{ alt: 'four', src: '/uploads/pictures/medium_tumblr_m96ret3vg71qh28hmo4_1280.jpg', title: 'four' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m96ret3vg71qh28hmo5_1280.jpg' }
    %img{ alt: 'five', src: '/uploads/pictures/medium_tumblr_m96ret3vg71qh28hmo5_1280.jpg', title: 'five' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_m96ret3vg71qh28hmo6_1280.jpg' }
    %img{ alt: 'six!', src: '/uploads/pictures/medium_tumblr_m96ret3vg71qh28hmo6_1280.jpg', title: 'six!' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/30124394995' }> corgiaddict
  \:
%blockquote
  %p This is the best series of corgi puppies sleeping in the history of corgi puppies.
%p Ahhh
