---
title: This showed up today in my Facebook memories. It accurately sums
date: 2016/08/24 03:25:43
author: Casie
tumblr_id: 149398177449
tags: corgipuppy, corgi, kswiss, 1995, sharkteeth, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_oce9ivJYac1r9wamzo1_500.jpg' }
    %img{ alt: 'This showed up today in my Facebook memories. It accurately sums up the relationship Ginger and I had. #corgi #corgipuppy', src: '/uploads/pictures/medium_tumblr_oce9ivJYac1r9wamzo1_500.jpg', title: 'This showed up today in my Facebook memories. It accurately sums up the relationship Ginger and I had. #corgi #corgipuppy' }/
%p This showed up today in my Facebook memories. It accurately sums up the relationship Ginger and I had. #corgi #corgipuppy #kswiss #1995 #sharkteeth
