---
title: This is a safe place to hide from fireworks, right?
date: 2015/07/05 02:17:40
author: Casie
tumblr_id: 123246991384
tags: corgi, welsh corgi, dog, fireworks, 4th of july, scared, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nqzt1g0qKG1r9wamzo1_1280.jpg' }
    %img{ alt: 'This is a safe place to hide from fireworks, right?', src: '/uploads/pictures/medium_tumblr_nqzt1g0qKG1r9wamzo1_1280.jpg', title: 'This is a safe place to hide from fireworks, right?' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nqzt1g0qKG1r9wamzo2_1280.jpg' }
    %img{ alt: 'This is a safe place to hide from fireworks, right?', src: '/uploads/pictures/medium_tumblr_nqzt1g0qKG1r9wamzo2_1280.jpg', title: 'This is a safe place to hide from fireworks, right?' }/
%p This is a safe place to hide from fireworks, right?
