---
title: Three Otis Moon by qualitativeresearch
date: 2012/02/13 04:31:32
author: Casie
tumblr_id: 17536300164
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lzb2m5t2UM1r9gt4no1_500.jpg' }
    %img{ alt: 'otisthecorgi: Three Otis Moon by qualitativeresearch', src: '/uploads/pictures/medium_tumblr_lzb2m5t2UM1r9gt4no1_500.jpg', title: 'otisthecorgi: Three Otis Moon by qualitativeresearch' }/
%p
  %a.tumblr_blog{ href: 'http://otisthecorgi.com/post/17521756269/three-otis-moon-by-qualitativeresearch' }> otisthecorgi
  \:
%blockquote
  %p
    %strong Three Otis Moon
    by
    %a{ href: 'http://qualitativeresearch.tumblr.com/' } qualitativeresearch
