---
title: "Throw the ball already #miniheeler #acd #&#x1f3be;"
date: 2016/02/28 21:05:09
author: Casie
tumblr_id: 140169538524
tags: "&#x1f3be;, miniheeler, acd, tumblr"
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o39zwleol51r9wamzo1_1280.jpg' }
    %img{ alt: 'Throw the ball already #miniheeler #acd #🎾', src: '/uploads/pictures/medium_tumblr_o39zwleol51r9wamzo1_1280.jpg', title: 'Throw the ball already #miniheeler #acd #🎾' }/
%p Throw the ball already #miniheeler #acd #🎾
