---
title: Throw my toy, human!
date: 2015/05/16 04:43:24
author: Casie
tumblr_id: 119082306249
tags: corgi, welsh corgi, dog, floppy, the floppiest, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nofegcxUP51r9wamzo1_1280.jpg' }
    %img{ alt: 'Throw my toy, human!', src: '/uploads/pictures/medium_tumblr_nofegcxUP51r9wamzo1_1280.jpg', title: 'Throw my toy, human!' }/
%p Throw my toy, human!
