---
title: Tired corgs after strut you mutt this morning.
date: 2015/05/16 17:16:09
author: Casie
tumblr_id: 119118971504
tags: corgi, corgi meetup, strut your mutt, dallas, north Texas corgis, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nogdaxNeRY1r9wamzo1_1280.jpg' }
    %img{ alt: 'Tired corgs after strut you mutt this morning.', src: '/uploads/pictures/medium_tumblr_nogdaxNeRY1r9wamzo1_1280.jpg', title: 'Tired corgs after strut you mutt this morning.' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nogdaxNeRY1r9wamzo2_1280.jpg' }
    %img{ alt: 'Tired corgs after strut you mutt this morning.', src: '/uploads/pictures/medium_tumblr_nogdaxNeRY1r9wamzo2_1280.jpg', title: 'Tired corgs after strut you mutt this morning.' }/
%p Tired corgs after strut you mutt this morning.
