---
title: Today is Conney's Gotcha/Adoption Day! We've had this super
date: 2015/01/01 20:14:52
author: Casie
tumblr_id: 106821791199
tags: corgi, welsh corgi, pembroker welsh corgi, dog, gotcha day, cute, anniversary, floppy, the best dog, the cutest dog, awesome, favorite, conney the corgi, 2014 photos, dog adoption, rescue, corgi rescue, dog rescue, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo1_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo1_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo9_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo9_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo2_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo2_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo3_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo3_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo5_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo5_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo8_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo8_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo4_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo4_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo6_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo6_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo7_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo7_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nhilksTLiF1r9wamzo10_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)", src: '/uploads/pictures/medium_tumblr_nhilksTLiF1r9wamzo10_1280.jpg', title: "Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)" }/
%p Today is Conney's Gotcha/Adoption Day! We've had this super floppy, silly, growly, squirrel loving sausage for 3 years :)
