---
title: Today is Conney's Gotcha Day! Sean &amp; I adopted her two years
date: 2014/01/01 17:43:34
author: Casie
tumblr_id: 71860371290
tags: corgi, welsh corgi, pembroke welsh corgi, dog, gotcha day, adoption, pet adoption, dog adoption, rescue, oak hill animal rescue, dog rescue, cute, floppy corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_myqh8mJSdD1r9wamzo1_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just", src: '/uploads/pictures/medium_tumblr_myqh8mJSdD1r9wamzo1_1280.jpg', title: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_myqh8mJSdD1r9wamzo2_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just", src: '/uploads/pictures/medium_tumblr_myqh8mJSdD1r9wamzo2_1280.jpg', title: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_myqh8mJSdD1r9wamzo3_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just", src: '/uploads/pictures/medium_tumblr_myqh8mJSdD1r9wamzo3_1280.jpg', title: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_myqh8mJSdD1r9wamzo4_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just", src: '/uploads/pictures/medium_tumblr_myqh8mJSdD1r9wamzo4_1280.jpg', title: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_myqh8mJSdD1r9wamzo5_1280.jpg' }
    %img{ alt: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just", src: '/uploads/pictures/medium_tumblr_myqh8mJSdD1r9wamzo5_1280.jpg', title: "Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just" }/
%p Today is Conney's Gotcha Day! Sean &amp; I adopted her two years ago on January 1, 2012, from an animal rescue who had just adopted her out and had her returned due to bad behavior! (lies)
%p These photos are from her first day in her new home.
%p We couldn't ask for a better dog :)
