---
title: Tongue.
date: 2012/01/13 00:08:58
author: Casie
tumblr_id: 15746422936
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxpn2yofiY1r9wamzo1_1280.png' }
    %img{ alt: 'Tongue.', src: '/uploads/pictures/medium_tumblr_lxpn2yofiY1r9wamzo1_1280.png', title: 'Tongue.' }/
%p Tongue.
