---
title: Too hot to move.
date: 2015/07/22 21:07:53
author: Casie
tumblr_id: 124776846334
tags: corgi, welsh corgi, dog, summer, texas, hot, hot babes, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nrwqp5g9rA1r9wamzo1_1280.jpg' }
    %img{ alt: 'Too hot to move.', src: '/uploads/pictures/medium_tumblr_nrwqp5g9rA1r9wamzo1_1280.jpg', title: 'Too hot to move.' }/
%p Too hot to move.
