---
title: TORNADO!
date: 2012/04/04 00:08:43
author: Casie
tumblr_id: 20436629904
tags: corgi, welsh corgi, emma, puppy, tornado, dallas tornado, scared, thunder, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m1xhqkK2bj1r9wamzo1_1280.jpg' }
    %img{ alt: 'TORNADO!', src: '/uploads/pictures/medium_tumblr_m1xhqkK2bj1r9wamzo1_1280.jpg', title: 'TORNADO!' }/
%p TORNADO!
