---
title: Tough life
date: 2012/03/09 00:24:19
author: Casie
tumblr_id: 18973678181
tags: corgi, welsh corgi, zzzz, sleepy, belly rubs, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0ld4jClQY1r9wamzo1_500.png' }
    %img{ alt: 'Tough life', src: '/uploads/pictures/medium_tumblr_m0ld4jClQY1r9wamzo1_500.png', title: 'Tough life' }/
%p Tough life
