---
title: Tough morning
date: 2012/03/03 18:21:12
author: Casie
tumblr_id: 18672955415
tags: corgi, welsh corgi, lazy, cute, cuddles, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m0bmzcppOC1r9wamzo1_1280.png' }
    %img{ alt: 'Tough morning', src: '/uploads/pictures/medium_tumblr_m0bmzcppOC1r9wamzo1_1280.png', title: 'Tough morning' }/
%p Tough morning
