---
title: Tough night. Had to take a bath.
date: 2012/05/09 03:55:36
author: Casie
tumblr_id: 22699304159
tags: corgi, welsh corgi, dog, nap, sleeping, sleepy, sleepy dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3qlkodPfV1r9wamzo1_1280.png' }
    %img{ alt: 'Tough night. Had to take a bath.', src: '/uploads/pictures/medium_tumblr_m3qlkodPfV1r9wamzo1_1280.png', title: 'Tough night. Had to take a bath.' }/
%p Tough night. Had to take a bath.
