---
title: "Tumblr post from 11/14/2014 at 12:41:33 AM"
date: 2014/11/14 00:41:33
author: Casie
tumblr_id: 102569844489
tags: corgi, welsh corgi, dog, floppy, cute, pathetic, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nf0799lu7B1r9wamzo1_1280.png' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nf0799lu7B1r9wamzo1_1280.png', title: "" }/
