---
title: "Tumblr post from 2/13/2015 at 7:10:18 PM"
date: 2015/02/13 19:10:18
author: Casie
tumblr_id: 110915623224
tags: Parks and rec, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_njlbfwYdtt1qm6yoeo1_400.gif' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_njlbfwYdtt1qm6yoeo1_400.gif', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_njlbfwYdtt1qm6yoeo2_400.gif' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_njlbfwYdtt1qm6yoeo2_400.gif', title: "" }/
