---
title: "Tumblr post from 2/23/2012 at 3:11:02 PM"
date: 2012/02/23 15:11:02
author: Casie
tumblr_id: 18130506950
tags: corgi, corgi battle, dogs, dog park, corgi vs corgi, tumblr
---

%iframe{ allowfullscreen: "", frameborder: '0', height: '281', src: 'http://www.youtube.com/embed/IAIxR6Bdm28', width: '500' }
%p
  Conney vs.
  %a{ href: 'http://www.emmathebean.tumblr.com' } Emma
  at the dog park.
