---
title: "Tumblr post from 1/26/2012 at 3:34:33 AM"
date: 2012/01/26 03:34:33
author: Casie
tumblr_id: 16503954258
tags: corgi, welsh corgi, instagram, sleepy time, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lydz9lEkuT1r9wamzo1_1280.png' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_lydz9lEkuT1r9wamzo1_1280.png', title: "" }/
