---
title: "Tumblr post from 5/24/2014 at 4:08:12 PM"
date: 2014/05/24 16:08:12
author: Casie
tumblr_id: 86700413384
tags: corgi, pembroke welsh corgi, welsh corgi, dog, squirrel, squirrel chase, tumblr
---

%video#embed-5dd822132bc32316258450.crt-video.crt-skin-default{ crossorigin: 'anonymous', "data-crt-options" => "{\"autoheight\":null,\"duration\":16,\"hdUrl\":false,\"filmstrip\":{\"url\":\"https://24.media.tumblr.com/previews/tumblr_n636559DGT1r9wamz_filmstrip.jpg\",\"width\":\"112\",\"height\":\"200\"}}", "data-crt-video" => "", height: '889', muted: "", poster: 'https://66.media.tumblr.com/tumblr_n636559DGT1r9wamz_frame1.jpg', preload: 'none', width: '500' }
  %source{ src: 'https://ve.media.tumblr.com/tumblr_n636559DGT1r9wamz.mp4', type: 'video/mp4' }
%p Conney. Defender of the yard.
