---
title: "Tumblr post from 12/11/2014 at 12:53:14 AM"
date: 2014/12/11 00:53:14
author: Casie
tumblr_id: 104884246144
tags: corgi, welsh corgi, dog, cute, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nge7sqBzu81r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nge7sqBzu81r9wamzo1_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nge7sqBzu81r9wamzo2_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nge7sqBzu81r9wamzo2_1280.jpg', title: "" }/
