---
title: "Tumblr post from 1/14/2012 at 5:35:08 AM"
date: 2012/01/14 05:35:08
author: Casie
tumblr_id: 15814502882
tags: corgi, welsh corgi, pembroke welsh corgi, dog park, tumblr
---

%iframe{ allowfullscreen: "", frameborder: '0', height: '375', src: 'http://www.youtube.com/embed/nRDh3l0_Xis', width: '500' }
