---
title: "Tumblr post from 2/27/2015 at 7:49:39 PM"
date: 2015/02/27 19:49:39
author: Casie
tumblr_id: 112244443709
tags: corgi, frapping, snow day, tumblr
---

%video#embed-5dd822103e8b1735726810.crt-video.crt-skin-default{ crossorigin: 'anonymous', "data-crt-options" => "{\"autoheight\":null,\"duration\":11,\"hdUrl\":false,\"filmstrip\":{\"url\":\"https://33.media.tumblr.com/previews/tumblr_nkg4e3fnez1r9wamz_filmstrip.jpg\",\"width\":\"200\",\"height\":\"357\"}}", "data-crt-video" => "", height: '889', muted: "", poster: 'https://66.media.tumblr.com/tumblr_nkg4e3fnez1r9wamz_frame1.jpg', preload: 'none', width: '500' }
  %source{ src: 'https://ve.media.tumblr.com/tumblr_nkg4e3fnez1r9wamz.mp4', type: 'video/mp4' }
%p Snow corg!
