---
title: "Tumblr post from 3/14/2015 at 7:08:15 PM"
date: 2015/03/14 19:08:15
author: Casie
tumblr_id: 113618902379
tags: corgi, welsh corgi, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nl7uhrBRTL1r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nl7uhrBRTL1r9wamzo1_1280.jpg', title: "" }/
