---
title: "Tumblr post from 3/30/2013 at 7:54:48 PM"
date: 2013/03/30 19:54:48
author: Casie
tumblr_id: 46694775970
tags: corgi, welsh corgi, dog, cute, nap time, zzzzzz, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mkhoncbUDI1r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mkhoncbUDI1r9wamzo1_1280.jpg', title: "" }/
