---
title: "Tumblr post from 1/7/2012 at 9:51:11 PM"
date: 2012/01/07 21:51:11
author: Casie
tumblr_id: 15470803521
tags: corgi, welsh corgi, pembroke welsh corgi, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lxg7dbcSDo1r9wamzo1_1280.png' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_lxg7dbcSDo1r9wamzo1_1280.png', title: "" }/
