---
title: "Tumblr post from 3/2/2013 at 6:40:23 PM"
date: 2013/03/02 18:40:23
author: Casie
tumblr_id: 44386339401
tags: ginger, corgi, welsh corgi, pembroke welsh corgi, cute, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mj1qjbsqIR1r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mj1qjbsqIR1r9wamzo1_1280.jpg', title: "" }/
