---
title: "Tumblr post from 8/2/2012 at 11:26:37 PM"
date: 2012/08/02 23:26:37
author: Casie
tumblr_id: 28588012655
tags: tumblr
---

%iframe#youtube_iframe{ allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: "", frameborder: '0', height: '375', src: 'https://www.youtube.com/embed/zS8QI-j8yb8?feature=oembed&enablejsapi=1&origin=https://safe.txmblr.com&wmode=opaque', width: '500' }
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/28515874799' }> corgiaddict
  \:
%blockquote
  %p It's all corgi puppies all the time. That's right. It's a 24/7 corgi puppy cam!
  %p Unfortunately, the puppies are still in "worm stage" aka only a few weeks old. They aren't at cute rambunctious stage yet. But… SOON!
