---
title: "Tumblr post from 7/9/2013 at 4:29:49 AM"
date: 2013/07/09 04:29:49
author: Casie
tumblr_id: 54974857003
tags: saved by the bell, kanye west, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mp82niqgoz1r2ybmso1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mp82niqgoz1r2ybmso1_1280.jpg', title: "" }/
