---
title: "Tumblr post from 1/24/2012 at 3:15:37 AM"
date: 2012/01/24 03:15:37
author: Casie
tumblr_id: 16388638540
tags: corgi, welsh corgi, pembroke welsh corgi, dog park, north texas, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lya921lFal1r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_lya921lFal1r9wamzo1_1280.jpg', title: "" }/
