---
title: "Tumblr post from 12/8/2013 at 8:51:10 PM"
date: 2013/12/08 20:51:10
author: Casie
tumblr_id: 69409397778
tags: corgi, welsh corgi, merry go round, tumblr, reblogged
---

%iframe#youtube_iframe{ allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: "", frameborder: '0', height: '281', src: 'https://www.youtube.com/embed/LvqzubPZjHE?feature=oembed&enablejsapi=1&origin=https://safe.txmblr.com&wmode=opaque', width: '500' }
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/69404654023' }> corgiaddict
  \:
%blockquote
  %p This video is important.
%p !!!
