---
title: "Tumblr post from 4/29/2013 at 4:17:09 AM"
date: 2013/04/29 04:17:09
author: Casie
tumblr_id: 49156656892
tags: corgi, welsh corgi, blue heeler, corgi mix, dog, lucy, pals, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlycdoeot11rbk0gqo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mlycdoeot11rbk0gqo1_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlycdoeot11rbk0gqo2_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mlycdoeot11rbk0gqo2_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlycdoeot11rbk0gqo3_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mlycdoeot11rbk0gqo3_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlycdoeot11rbk0gqo4_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mlycdoeot11rbk0gqo4_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_mlycdoeot11rbk0gqo5_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mlycdoeot11rbk0gqo5_1280.jpg', title: "" }/
