---
title: "Tumblr post from 4/1/2015 at 11:47:00 PM"
date: 2015/04/01 23:47:00
author: Casie
tumblr_id: 115249993839
tags: corgi, welsh corgi, barks, corgi talk, dog, dog barking, weird, tumblr
---

%video#embed-5dd8220fc8bdd282593041.crt-video.crt-skin-default{ crossorigin: 'anonymous', "data-crt-options" => "{\"autoheight\":null,\"duration\":31,\"hdUrl\":false,\"filmstrip\":{\"url\":\"https://33.media.tumblr.com/previews/tumblr_nm5jdpFgu31r9wamz_filmstrip.jpg\",\"width\":\"200\",\"height\":\"357\"}}", "data-crt-video" => "", height: '889', muted: "", poster: 'https://66.media.tumblr.com/tumblr_nm5jdpFgu31r9wamz_frame1.jpg', preload: 'none', width: '500' }
  %source{ src: 'https://ve.media.tumblr.com/tumblr_nm5jdpFgu31r9wamz.mp4', type: 'video/mp4' }
%p When evaluating if you want a corgi, ask yourself if you're ok with listening to this. All the time.
