---
title: "Tumblr post from 12/22/2012 at 4:34:46 PM"
date: 2012/12/22 16:34:46
author: Casie
tumblr_id: 38550083674
tags: corgi, welsh corgi, welshcorgi, belly, belly rubs, silly, cute, pembroke welsh corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mffy1zg2Gt1r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_mffy1zg2Gt1r9wamzo1_1280.jpg', title: "" }/
