---
title: "Tumblr post from 7/4/2015 at 7:26:06 PM"
date: 2015/07/04 19:26:06
author: Casie
tumblr_id: 123221163441
tags: corgi, welsh corgi, dog, floppy ears, tumblr
---

%video#embed-5dd8220f00df3780227674.crt-video.crt-skin-default{ crossorigin: 'anonymous', "data-crt-options" => "{\"autoheight\":null,\"duration\":9,\"hdUrl\":false,\"filmstrip\":{\"url\":\"https://33.media.tumblr.com/previews/tumblr_nqz9zerY1A1r9wamz_filmstrip.jpg\",\"width\":\"200\",\"height\":\"357\"}}", "data-crt-video" => "", height: '889', muted: "", poster: 'https://66.media.tumblr.com/tumblr_nqz9zerY1A1r9wamz_frame1.jpg', preload: 'none', width: '500' }
  %source{ src: 'https://ve.media.tumblr.com/tumblr_nqz9zerY1A1r9wamz.mp4', type: 'video/mp4' }
%p Floppies flapping in the breeze.
