---
title: "Tumblr post from 2/11/2012 at 9:42:29 PM"
date: 2012/02/11 21:42:29
author: Casie
tumblr_id: 17447383752
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lnj4q40kOj1qindnxo1_400.gif' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_lnj4q40kOj1qindnxo1_400.gif', title: "" }/
