---
title: "Tumblr post from 5/28/2012 at 2:39:01 AM"
date: 2012/05/28 02:39:01
author: Casie
tumblr_id: 23905193293
tags: corgi, welsh corgi, dog, cute, paws, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m4pop1LNEK1r9wamzo1_1280.png' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_m4pop1LNEK1r9wamzo1_1280.png', title: "" }/
