---
title: "Tumblr post from 3/25/2015 at 2:30:35 AM"
date: 2015/03/25 02:30:35
author: Casie
tumblr_id: 114547988624
tags: corgi, welsh corgi, dog, cute, floppy ears, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nlqxmzK7hX1r9wamzo1_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nlqxmzK7hX1r9wamzo1_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nlqxmzK7hX1r9wamzo2_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nlqxmzK7hX1r9wamzo2_1280.jpg', title: "" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nlqxmzK7hX1r9wamzo3_1280.jpg' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_nlqxmzK7hX1r9wamzo3_1280.jpg', title: "" }/
