---
title: "Tumblr post from 6/27/2014 at 11:08:22 PM"
date: 2014/06/27 23:08:22
author: Casie
tumblr_id: 90101979289
tags: corgi, pembroke welsh corgi, welsh corgi, dog, nose, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n7uo9yzpzx1r9wamzo1_1280.png' }
    %img{ alt: "", src: '/uploads/pictures/medium_tumblr_n7uo9yzpzx1r9wamzo1_1280.png', title: "" }/
