---
title: Two long walks = one sleepy Conney.
date: 2015/01/20 04:13:04
author: Casie
tumblr_id: 108613582594
tags: corgi, welsh corgi, dog, cute, sleepy, bed time, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nigjps41Mj1r9wamzo1_1280.jpg' }
    %img{ alt: 'Two long walks = one sleepy Conney.', src: '/uploads/pictures/medium_tumblr_nigjps41Mj1r9wamzo1_1280.jpg', title: 'Two long walks = one sleepy Conney.' }/
%p Two long walks = one sleepy Conney.
