---
title: "Two strange dogs. #corgi #blueheeler"
date: 2015/03/02 01:22:31
author: Casie
tumblr_id: 112468110074
tags: corgi, blueheeler, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nkk95j6kAe1r9wamzo1_640.jpg' }
    %img{ alt: 'Two strange dogs. #corgi #blueheeler', src: '/uploads/pictures/medium_tumblr_nkk95j6kAe1r9wamzo1_640.jpg', title: 'Two strange dogs. #corgi #blueheeler' }/
%p Two strange dogs. #corgi #blueheeler
