---
title: "twosillycorgis asked:"
date: 2012/11/21 22:04:33
author: Casie
tumblr_id: 36236310277
tags: tumblr
---

.question
  %p.asker
    %strong twosillycorgis
    asked:
  %p.question-text I love Conney's ears! It makes me wish mine had floppy ears.
.answer
  %p If I had her as a puppy, I would have taped her ears up. They do stand up when there are treats!
