---
title: Typical conversation I have when walking my dog around my
date: 2013/02/12 02:02:58
author: Casie
tumblr_id: 42889558660
tags: dog, welsh corgi, corgi, pembroke welsh corgi, tumblr
---

%ul.conversation
  %li.chat-odd
    %span.label> Neighbor:
    "what kind of dog is that?"
  %li.chat-even
    %span.label> Me:
    "a Welsh Corgi"
  %li.chat-odd
    %span.label> Neighbor:
    "a what?"
  %li.chat-even
    %span.label> Me:
    "Welsh Corgi"
  %li.chat-odd
    %span.label> Neighbor:
    "what is that?"
  %li.chat-even
    %span.label> Me:
    "... A Welsh Corgi?"
