---
title: "Upside down pals #corgigram #corgi #dog #cute"
date: 2013/04/19 04:32:12
author: Casie
tumblr_id: 48336429190
tags: corgi, corgigram, dog, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mlhj9oIan41r9wamzo1_640.jpg' }
    %img{ alt: 'Upside down pals #corgigram #corgi #dog #cute', src: '/uploads/pictures/medium_tumblr_mlhj9oIan41r9wamzo1_640.jpg', title: 'Upside down pals #corgigram #corgi #dog #cute' }/
%p Upside down pals #corgigram #corgi #dog #cute
