---
title: Vicious stubby battle!
date: 2013/08/21 02:31:16
author: Casie
tumblr_id: 58842887106
tags: corgi, welsh corgi, corgi mix, blue heeler, tug of war, cute, play, stubby, short, silly, lucy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mrv0c4fh8p1r9wamzo1_1280.jpg' }
    %img{ alt: 'Vicious stubby battle!', src: '/uploads/pictures/medium_tumblr_mrv0c4fh8p1r9wamzo1_1280.jpg', title: 'Vicious stubby battle!' }/
%p Vicious stubby battle!
