---
title: View from the kitchen.
date: 2012/07/20 05:33:56
author: Casie
tumblr_id: 27610629931
tags: corgi, welsh corgi, dog, conney, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m7g24kx6ET1r9wamzo1_1280.jpg' }
    %img{ alt: 'View from the kitchen.', src: '/uploads/pictures/medium_tumblr_m7g24kx6ET1r9wamzo1_1280.jpg', title: 'View from the kitchen.' }/
%p View from the kitchen.
