---
title: Waiting to pounce on Conney.
date: 2012/08/27 00:37:49
author: Casie
tumblr_id: 30280875842
tags: corgi, welsh corgi, dog, blue heeler, play, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m9e1r1n3zR1r9wamzo1_1280.jpg' }
    %img{ alt: 'Waiting to pounce on Conney.', src: '/uploads/pictures/medium_tumblr_m9e1r1n3zR1r9wamzo1_1280.jpg', title: 'Waiting to pounce on Conney.' }/
%p Waiting to pounce on Conney.
