---
title: Waiting for the next Lucy attack.
date: 2012/10/08 00:43:38
author: Casie
tumblr_id: 33125972533
tags: corgi, welsh corgi, dog, cute, floppy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mbju0qgt9B1r9wamzo1_1280.jpg' }
    %img{ alt: 'Waiting for the next Lucy attack.', src: '/uploads/pictures/medium_tumblr_mbju0qgt9B1r9wamzo1_1280.jpg', title: 'Waiting for the next Lucy attack.' }/
%p Waiting for the next Lucy attack.
