---
title: Warm weather sun bathing.
date: 2015/01/20 01:48:52
author: Casie
tumblr_id: 108601106529
tags: corgi, welsh corgi, dog, warm weather, sunbathing, corgi patrol, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nigd1gVIg81r9wamzo1_1280.jpg' }
    %img{ alt: 'Warm weather sun bathing.', src: '/uploads/pictures/medium_tumblr_nigd1gVIg81r9wamzo1_1280.jpg', title: 'Warm weather sun bathing.' }/
%p Warm weather sun bathing.
