---
title: Ways to get your corgi to like the vacuum...
date: 2014/05/13 01:16:12
author: Casie
tumblr_id: 85579040354
tags: corgi, thunder, scared dog, tumblr
---

%p Use it while it's thundering. Lesser of two evils.
