---
title: We have a giant tree in our yard that produces these big nuts. I
date: 2013/09/01 20:25:47
author: Casie
tumblr_id: 60005132729
tags: corgi, welsh corgi, dog, squirrel, chase, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_msgnszosWa1r9wamzo1_1280.jpg' }
    %img{ alt: 'We have a giant tree in our yard that produces these big nuts. I have no idea what they are, but the squirrels love them. At any', src: '/uploads/pictures/medium_tumblr_msgnszosWa1r9wamzo1_1280.jpg', title: 'We have a giant tree in our yard that produces these big nuts. I have no idea what they are, but the squirrels love them. At any' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_msgnszosWa1r9wamzo2_1280.jpg' }
    %img{ alt: 'We have a giant tree in our yard that produces these big nuts. I have no idea what they are, but the squirrels love them. At any', src: '/uploads/pictures/medium_tumblr_msgnszosWa1r9wamzo2_1280.jpg', title: 'We have a giant tree in our yard that produces these big nuts. I have no idea what they are, but the squirrels love them. At any' }/
%p We have a giant tree in our yard that produces these big nuts. I have no idea what they are, but the squirrels love them. At any given time, there are at least 3-4 in our yard which drives Conney crazy!
