---
title: Weekend!
date: 2015/06/05 22:44:41
author: Casie
tumblr_id: 120807894409
tags: corgi, welsh corgi, dog, happy, cute, summer, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nphtuhWXVB1r9wamzo1_1280.jpg' }
    %img{ alt: 'Weekend!', src: '/uploads/pictures/medium_tumblr_nphtuhWXVB1r9wamzo1_1280.jpg', title: 'Weekend!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nphtuhWXVB1r9wamzo2_1280.jpg' }
    %img{ alt: 'Weekend!', src: '/uploads/pictures/medium_tumblr_nphtuhWXVB1r9wamzo2_1280.jpg', title: 'Weekend!' }/
%p Weekend!
