---
title: "Weekend!!! #miniheeler #acd"
date: 2016/02/20 00:02:32
author: Casie
tumblr_id: 139627950754
tags: miniheeler, acd, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_o2tk48y9gF1r9wamzo1_1280.jpg' }
    %img{ alt: 'Weekend!!! #miniheeler #acd', src: '/uploads/pictures/medium_tumblr_o2tk48y9gF1r9wamzo1_1280.jpg', title: 'Weekend!!! #miniheeler #acd' }/
%p Weekend!!! #miniheeler #acd
