---
title: Well, it's been 8 days since we said goodbye to Conney (see
date: 2015/09/02 02:45:18
author: Casie
tumblr_id: 128156145464
tags: corgi, sad, lonely, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nu13nizBZD1r9wamzo1_1280.jpg' }
    %img{ alt: "Well, it's been 8 days since we said goodbye to Conney (see Sean's excellent post here:", src: '/uploads/pictures/medium_tumblr_nu13nizBZD1r9wamzo1_1280.jpg', title: "Well, it's been 8 days since we said goodbye to Conney (see Sean's excellent post here:" }/
%p
  Well, it's been 8 days since we said goodbye to Conney (see Sean's excellent post here:
  = succeed ")." do
    %a{ href: 'http://conneythecorgi.com/posts/goodbye-wiggle-butt' } http://conneythecorgi.com/posts/goodbye-wiggle-butt
%p
  Things I've learned:
  %br/
  \- My house is really, really quiet.
  %br/
  \- It's really sad to not come home to a wiggle butt.
  %br/
  \- Every story about dogs makes me cry.
  %br/
  \- There's still so much dog hair. SO MUCH. DOG HAIR.
  %br/
  \- My kitchen floor is gross. I mean, I thoroughly underestimated how many crumbs Conney licked off the floor. Even if we haven't cooked anything all day. So dirty!!
  %br/
  \- My pantry will never not smell like dog treats.
  %br/
  \- I can close my closet door now. Conney always used my closet as her nap room so I felt guilty closing the door. Makes everything seem much more tidy LOL.
  %br/
  \- I have spare time in the morning before work? It's weird. I can actually fix my hair and not air dry it. (Dog walks &gt; looking nice for work).
%p My dad told me he thought we would have a new dog in 2 weeks. That's definitely not going to happen! But Sean and I have discussed probably adopting another dog sometime soon (my prediction is around Christmas).
%p It's been a pretty terrible last week, but we are making it through. It's hard, but I'm thankful I have Sean. Thank you to everyone for you kind comments and messages. They have meant a lot.
