---
title: Went to Three Dog Bakery for the first time.
date: 2012/05/06 01:40:19
author: Casie
tumblr_id: 22486342573
tags: dog, dog treats, cookies, three dog bakery, corgi, welsh corgi, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m3kvb8t40U1r9wamzo1_1280.png' }
    %img{ alt: 'Went to Three Dog Bakery for the first time.', src: '/uploads/pictures/medium_tumblr_m3kvb8t40U1r9wamzo1_1280.png', title: 'Went to Three Dog Bakery for the first time.' }/
%p Went to Three Dog Bakery for the first time.
