---
title: What usually happens when I try to get a photo of Conney when
date: 2012/04/20 21:56:40
author: Casie
tumblr_id: 21454271027
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2ssyhc19o1r9wamzo1_640.jpg' }
    %img{ alt: 'What usually happens when I try to get a photo of Conney when her ears are un-flopped. (Taken with Instagram at Carrollton, TX)', src: '/uploads/pictures/medium_tumblr_m2ssyhc19o1r9wamzo1_640.jpg', title: 'What usually happens when I try to get a photo of Conney when her ears are un-flopped. (Taken with Instagram at Carrollton, TX)' }/
%p
  What usually happens when I try to get a photo of Conney when her ears are un-flopped. (Taken with
  %a{ href: 'http://instagr.am' } Instagram
  at Carrollton, TX)
