---
title: "What? #corgimix #blueheeler"
date: 2014/11/29 02:35:12
author: Casie
tumblr_id: 103853382034
tags: blueheeler, corgimix, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nfs4ipPPLP1r9wamzo1_640.jpg' }
    %img{ alt: 'What? #corgimix #blueheeler', src: '/uploads/pictures/medium_tumblr_nfs4ipPPLP1r9wamzo1_640.jpg', title: 'What? #corgimix #blueheeler' }/
%p What? #corgimix #blueheeler
