---
title: What do you mean, I have to get up?
date: 2014/01/15 14:06:39
author: Casie
tumblr_id: 73408539157
tags: corgi, pembroke welsh corgi, welsh corgi, dog, sleepy, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mzg4j34NjD1r9wamzo1_1280.jpg' }
    %img{ alt: 'What do you mean, I have to get up?', src: '/uploads/pictures/medium_tumblr_mzg4j34NjD1r9wamzo1_1280.jpg', title: 'What do you mean, I have to get up?' }/
%p What do you mean, I have to get up?
