---
title: When is this rain gonna go away so we can go to the dog park?!
date: 2012/03/22 23:33:09
author: Casie
tumblr_id: 19754843029
tags: corgi, welsh corgi, belly up, zzzz, rain, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m1b839paPB1r9wamzo1_1280.png' }
    %img{ alt: 'When is this rain gonna go away so we can go to the dog park?!', src: '/uploads/pictures/medium_tumblr_m1b839paPB1r9wamzo1_1280.png', title: 'When is this rain gonna go away so we can go to the dog park?!' }/
%p When is this rain gonna go away so we can go to the dog park?!
