---
title: When my boyfriend makes me watch Game of Thrones
date: 2012/05/08 22:45:15
author: Casie
tumblr_id: 22676623855
tags: tumblr, reblogged
---

%p
  %a.tumblr_blog{ href: 'http://whatshouldwecallme.tumblr.com/post/22664913571/when-my-boyfriend-makes-me-watch-game-of-thrones' }> whatshouldwecallme
  \:
%blockquote
  %p
    %img{ height: '294', src: 'http://i.imgur.com/MLRMW.gif', width: '500' }/
%p True.
