---
title: When we put Conney to sleep a couple of months ago, Sean was all
date: 2015/10/10 22:10:26
author: Casie
tumblr_id: 130906073829
tags: pet adoption, corgi mix, heeler mix, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nw0yxeHUgd1r9wamzo1_640.jpg' }
    %img{ alt: "When we put Conney to sleep a couple of months ago, Sean was all - I don't think I'll want another dog for 6 months to a year.", src: '/uploads/pictures/medium_tumblr_nw0yxeHUgd1r9wamzo1_640.jpg', title: "When we put Conney to sleep a couple of months ago, Sean was all - I don't think I'll want another dog for 6 months to a year." }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nw0yxeHUgd1r9wamzo2_1280.jpg' }
    %img{ alt: "When we put Conney to sleep a couple of months ago, Sean was all - I don't think I'll want another dog for 6 months to a year.", src: '/uploads/pictures/medium_tumblr_nw0yxeHUgd1r9wamzo2_1280.jpg', title: "When we put Conney to sleep a couple of months ago, Sean was all - I don't think I'll want another dog for 6 months to a year." }/
%p
  When we put Conney to sleep a couple of months ago, Sean was all - I don't think I'll want another dog for 6 months to a year. (To which I thought, yeah right, we'll get another dog between October and Christmas). I talked to my dad on the day we put Conney to sleep, and he said he thought we would have another dog within 2 weeks. (To which I thought, yeah right, get another dog between October and Christmas).
  %br/
%p Well, here we are. In October. Looking at Petfinder every day for a new dog.
%p
  But…I forgot how frustrating it is to adopt a dog. Sean and I have applied for a few dogs (corgis, obviously), and have been unsuccessful. Corgis and corgi mixes go fast around here - usually gone after a day on Petfinder. But this afternoon we were approved to rescue Cowboy (seen above)! He's a corgi-heeler mix, and I am so excited!
  %br/
%p We should pick him up sometime this next week. So be on the lookout for a new tumblr to follow :)
