---
title: When will the rain stop? I miss the dog park. We've had close to
date: 2015/05/30 16:32:29
author: Casie
tumblr_id: 120276017544
tags: corgi, welsh corgi, constant wet belly, too much rain, make it stop, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_np68m51kNt1r9wamzo1_1280.jpg' }
    %img{ alt: "When will the rain stop? I miss the dog park. We've had close to 10 inches of rain since Thursday night. Getting a little", src: '/uploads/pictures/medium_tumblr_np68m51kNt1r9wamzo1_1280.jpg', title: "When will the rain stop? I miss the dog park. We've had close to 10 inches of rain since Thursday night. Getting a little" }/
%p When will the rain stop? I miss the dog park.
%p We've had close to 10 inches of rain since Thursday night. Getting a little insane.
