---
title: "White Christmas &#x26c4;&#x1f384; #corgigram #snow"
date: 2012/12/25 21:43:43
author: Casie
tumblr_id: 38814962054
tags: corgigram, snow, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mflwcwDKUg1r9wamzo1_640.jpg' }
    %img{ alt: 'White Christmas ⛄🎄 #corgigram #snow', src: '/uploads/pictures/medium_tumblr_mflwcwDKUg1r9wamzo1_640.jpg', title: 'White Christmas ⛄🎄 #corgigram #snow' }/
%p White Christmas ⛄🎄 #corgigram #snow
