---
title: Whoops!
date: 2012/02/10 01:24:24
author: Casie
tumblr_id: 17347669306
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lz41rb91DS1qz4te9o1_250.gif' }
    %img{ alt: 'ragdoll: Whoops!', src: '/uploads/pictures/medium_tumblr_lz41rb91DS1qz4te9o1_250.gif', title: 'ragdoll: Whoops!' }/
%p
  %a.tumblr_blog{ href: 'http://ragdoll.tumblr.com/post/17307247293/corgi-on-wheels-gotta-go' }> ragdoll
  \:
%blockquote
  %p Whoops!
