---
title: Why, yes. Conney is an exceptionally spoiled dog. (And, yes. I
date: 2014/06/03 01:18:58
author: Casie
tumblr_id: 87650158059
tags: corgi, pembroke welsh corgi, welsh corgi, dog, treats, dog treats, noms, organization, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n6kjnmJDAQ1r9wamzo1_1280.jpg' }
    %img{ alt: 'Why, yes. Conney is an exceptionally spoiled dog. (And, yes. I just cleaned and organized her food/treat/noms zone to give her', src: '/uploads/pictures/medium_tumblr_n6kjnmJDAQ1r9wamzo1_1280.jpg', title: 'Why, yes. Conney is an exceptionally spoiled dog. (And, yes. I just cleaned and organized her food/treat/noms zone to give her' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n6kjnmJDAQ1r9wamzo2_1280.jpg' }
    %img{ alt: 'Why, yes. Conney is an exceptionally spoiled dog. (And, yes. I just cleaned and organized her food/treat/noms zone to give her', src: '/uploads/pictures/medium_tumblr_n6kjnmJDAQ1r9wamzo2_1280.jpg', title: 'Why, yes. Conney is an exceptionally spoiled dog. (And, yes. I just cleaned and organized her food/treat/noms zone to give her' }/
%p Why, yes. Conney is an exceptionally spoiled dog. (And, yes. I just cleaned and organized her food/treat/noms zone to give her TWO shelves in the pantry.)
