---
title: Wiggly corgis with their medals after fungility class.
date: 2012/04/21 23:50:57
author: Casie
tumblr_id: 21532978880
tags: corgi, welsh corgi, fungility, agility, agility class, dogs, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m2uswxvb5M1r9wamzo1_1280.png' }
    %img{ alt: 'Wiggly corgis with their medals after fungility class.', src: '/uploads/pictures/medium_tumblr_m2uswxvb5M1r9wamzo1_1280.png', title: 'Wiggly corgis with their medals after fungility class.' }/
%p Wiggly corgis with their medals after fungility class.
