---
title: Will wear hat for noms.
date: 2014/09/07 19:54:21
author: Casie
tumblr_id: 96904917059
tags: corgi, welsh corgi, corgi party, pool party, corgi hat, party hat, cute, the cutest, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nbjral0ZAk1r9wamzo1_1280.jpg' }
    %img{ alt: 'Will wear hat for noms.', src: '/uploads/pictures/medium_tumblr_nbjral0ZAk1r9wamzo1_1280.jpg', title: 'Will wear hat for noms.' }/
%p Will wear hat for noms.
