---
title: World's best road trip doggy.
date: 2014/07/04 00:50:29
author: Casie
tumblr_id: 90708543209
tags: corgi, welsh corgi, pembroke welsh corgi, dog, road trip, fourth of july, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n85x05OrJd1r9wamzo1_1280.jpg' }
    %img{ alt: "World's best road trip doggy.", src: '/uploads/pictures/medium_tumblr_n85x05OrJd1r9wamzo1_1280.jpg', title: "World's best road trip doggy." }/
%p World's best road trip doggy.
