---
title: Yep.
date: 2012/11/21 04:10:19
author: Casie
tumblr_id: 36188738603
tags: corgi, welsh corgi, dog, licks, cute, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mdtkx7f0dU1r9wamzo1_1280.jpg' }
    %img{ alt: 'Yep.', src: '/uploads/pictures/medium_tumblr_mdtkx7f0dU1r9wamzo1_1280.jpg', title: 'Yep.' }/
%p Yep.
