---
title: Yes, that's right. We got Cowboy a dog tag that says Howdy
date: 2015/10/22 23:07:33
author: Casie
tumblr_id: 131712097439
tags: cute, heelermix, redheeler, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nwn9klZKEz1r9wamzo1_1280.jpg' }
    %img{ alt: "Yes, that's right. We got Cowboy a dog tag that says Howdy Partner! #redheeler #heelermix #cute", src: '/uploads/pictures/medium_tumblr_nwn9klZKEz1r9wamzo1_1280.jpg', title: "Yes, that's right. We got Cowboy a dog tag that says Howdy Partner! #redheeler #heelermix #cute" }/
%p Yes, that's right. We got Cowboy a dog tag that says Howdy Partner! #redheeler #heelermix #cute
