---
title: Yes, it's true. Thank you to my brother, we now have a CORGI
date: 2013/12/25 04:35:27
author: Casie
tumblr_id: 71075326529
tags: christmas, christmas tree, corgi, corgi angel, amazing, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_myci331TRk1r9wamzo1_1280.jpg' }
    %img{ alt: "Yes, it's true. Thank you to my brother, we now have a CORGI ANGEL (!!!!) on our tree!!", src: '/uploads/pictures/medium_tumblr_myci331TRk1r9wamzo1_1280.jpg', title: "Yes, it's true. Thank you to my brother, we now have a CORGI ANGEL (!!!!) on our tree!!" }/
%p Yes, it's true. Thank you to my brother, we now have a CORGI ANGEL (!!!!) on our tree!!
