---
title: YES
date: 2013/03/13 03:14:54
author: Casie
tumblr_id: 45242633110
tags: tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mjknve1Fg01qchdqno1_400.gif' }
    %img{ alt: 'corgiaddict: YES', src: '/uploads/pictures/medium_tumblr_mjknve1Fg01qchdqno1_400.gif', title: 'corgiaddict: YES' }/
%p
  %a.tumblr_blog{ href: 'http://corgiaddict.com/post/45236836712' }> corgiaddict
  \:
%blockquote
  %p YES
