---
title: Yesterday, we got to hang with some Corg friends for
date: 2014/09/07 18:23:26
author: Casie
tumblr_id: 96897288239
tags: corgi, welsh corgi, corgi meetup, pool party, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco1_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco1_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco8_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco8_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco2_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco2_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco3_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco3_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco4_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco4_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco5_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco5_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco6_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco6_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_nbj881OJEX1r4omsco7_1280.jpg' }
    %img{ alt: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a", src: '/uploads/pictures/medium_tumblr_nbj881OJEX1r4omsco7_1280.jpg', title: "emmathebean: Yesterday, we got to hang with some Corg friends for SiritheCorgi's birthday! She turns 1 this week :) Em had a" }/
%p
  %a.tumblr_blog{ href: 'http://emmathebean.com/post/96874155900/yesterday-we-got-to-hang-with-some-corg-friends' }> emmathebean
  \:
%blockquote
  %p
    Yesterday, we got to hang with some Corg friends for
    = succeed "'s" do
      %a{ href: 'http://instagram.com/sirithecorgi' } SiritheCorgi
  %p
    Em had a blast. She did some swimming, ate some Kake, had some Ice Cream (with tiny hats), and barked Mahm for saying
    = succeed "'s" do
      %a{ href: 'http://conneythecorgi.tumblr.com' } Conney
    %em How Dare I.
%p Little did Conney know, she would end up accidentally falling in the pool…
