---
title: You know warm weather is here when you find conney relaxing in
date: 2015/03/25 23:54:24
author: Casie
tumblr_id: 114623486424
tags: corgi, welsh corgi, dog, spring time, relaxin, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_nlr0t0E1Tz1r9wamzo1_1280.jpg' }
    %img{ alt: 'You know warm weather is here when you find conney relaxing in front of the AC vent.', src: '/uploads/pictures/medium_tumblr_nlr0t0E1Tz1r9wamzo1_1280.jpg', title: 'You know warm weather is here when you find conney relaxing in front of the AC vent.' }/
%p You know warm weather is here when you find conney relaxing in front of the AC vent.
