---
title: You still have one good hand. Give me belly rubs!!
date: 2014/02/04 00:39:13
author: Casie
tumblr_id: 75534672212
tags: corgi, pembroke welsh corgi, welsh corgi, dog, cute, broken hand, sean, sleep, sleepy, silly, growly, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_n0g4hdRsVl1r9wamzo1_1280.jpg' }
    %img{ alt: 'You still have one good hand. Give me belly rubs!!', src: '/uploads/pictures/medium_tumblr_n0g4hdRsVl1r9wamzo1_1280.jpg', title: 'You still have one good hand. Give me belly rubs!!' }/
%p.center
  %a{ href: '/uploads/pictures/tumblr_n0g4hdRsVl1r9wamzo2_1280.jpg' }
    %img{ alt: 'You still have one good hand. Give me belly rubs!!', src: '/uploads/pictures/medium_tumblr_n0g4hdRsVl1r9wamzo2_1280.jpg', title: 'You still have one good hand. Give me belly rubs!!' }/
%p You still have one good hand. Give me belly rubs!!
