---
title: Zombie dog!
date: 2012/06/11 14:16:43
author: Casie
tumblr_id: 24883671106
tags: corgi, welsh corgi, dog, zombie, sleepy, belly up, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m5giaqtsAY1r9wamzo1_1280.png' }
    %img{ alt: 'Zombie dog!', src: '/uploads/pictures/medium_tumblr_m5giaqtsAY1r9wamzo1_1280.png', title: 'Zombie dog!' }/
%p Zombie dog!
