---
title: Zzzz
date: 2012/01/29 02:54:50
author: Casie
tumblr_id: 16672981617
tags: welsh corgi, corgi, pembroke welsh corgi, dog, naps, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_lyjhfejXnY1r9wamzo1_500.png' }
    %img{ alt: 'Zzzz', src: '/uploads/pictures/medium_tumblr_lyjhfejXnY1r9wamzo1_500.png', title: 'Zzzz' }/
%p Zzzz
