---
title: "Zzzzz... #corgi #corgigram #dog"
date: 2013/01/06 05:02:47
author: Casie
tumblr_id: 39809920251
tags: corgi, corgigram, dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mg6u0nUPJf1r9wamzo1_640.jpg' }
    %img{ alt: 'Zzzzz… #corgi #corgigram #dog', src: '/uploads/pictures/medium_tumblr_mg6u0nUPJf1r9wamzo1_640.jpg', title: 'Zzzzz… #corgi #corgigram #dog' }/
%p Zzzzz… #corgi #corgigram #dog
