---
title: ZzzZzzZzz...
date: 2013/02/10 06:01:16
author: Casie
tumblr_id: 42732231224
tags: corgi, welsh corgi, pembroke welsh corgi, dog, sleepy, tongue, cute, sleepy dog, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mhzq25Mc5Z1r9wamzo1_1280.jpg' }
    %img{ alt: 'ZzzZzzZzz…', src: '/uploads/pictures/medium_tumblr_mhzq25Mc5Z1r9wamzo1_1280.jpg', title: 'ZzzZzzZzz…' }/
%p ZzzZzzZzz…
