---
title: Zzzzz 1
date: 2013/06/16 05:13:47
author: Casie
tumblr_id: 53080894533
tags: corgi, welsh corgi, dog, nap, sleepy time, zzzzz, tumblr
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_mogzv0iVKz1r9wamzo1_1280.jpg' }
    %img{ alt: 'Zzzzz', src: '/uploads/pictures/medium_tumblr_mogzv0iVKz1r9wamzo1_1280.jpg', title: 'Zzzzz' }/
%p Zzzzz
