---
title: Pictures - Conney the Corgi!
---

.pictures-page.page.col.s12
  %header.page-header
    %h1.page-title Pictures
  .page-body
    .pictures.grid
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325598657981905.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325598657981905.jpg', alt: "Here's Conney!", title: "Here's Conney!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325639053967959.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325639053967959.jpg', alt: 'Corgi Pals', title: 'Corgi Pals' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652818563638.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652818563638.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652818708442.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652818708442.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652818810233.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652818810233.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652818912930.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652818912930.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819174290.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819174290.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819175386.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819175386.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819277314.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819277314.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819396216.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819396216.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819497370.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819497370.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819650111.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819650111.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819749416.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819749416.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819847755.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819847755.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325652819947633.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325652819947633.jpg', alt: 'January 2nd', title: 'January 2nd' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325746724822021.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325746724822021.jpg', alt: 'Casie and Conney', title: 'Casie and Conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325746724925393.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325746724925393.jpg', alt: 'Corgi in the car!', title: 'Corgi in the car!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325746725241010.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325746725241010.jpg', alt: 'January 4th', title: 'January 4th' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325746725172014.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325746725172014.jpg', alt: 'January 4th', title: 'January 4th' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325746725271160.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325746725271160.jpg', alt: 'January 4th', title: 'January 4th' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1325746725368141.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1325746725368141.jpg', alt: 'January 4th', title: 'January 4th' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326008303509291.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326008303509291.jpg', alt: 'How can you say no to this face?', title: 'How can you say no to this face?' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066053542627.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066053542627.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066053644677.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066053644677.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066053794149.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066053794149.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066053895012.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066053895012.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066053997101.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066053997101.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066054987070.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066054987070.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066054266600.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066054266600.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066054366926.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066054366926.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326066054467344.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326066054467344.jpg', alt: "Conney's first bath!", title: "Conney's first bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326242384556247.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326242384556247.jpg', alt: 'Conney Searching for Cats', title: 'Conney Searching for Cats' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326242384665919.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326242384665919.jpg', alt: 'Conney Searching for Cats', title: 'Conney Searching for Cats' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326242384786208.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326242384786208.jpg', alt: 'Conney Searching for Cats', title: 'Conney Searching for Cats' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326762457513532.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326762457513532.jpg', alt: 'Conney at the Dog Park', title: 'Conney at the Dog Park' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326762458912410.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326762458912410.jpg', alt: 'Conney at the Dog Park', title: 'Conney at the Dog Park' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326762458250161.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326762458250161.jpg', alt: 'Conney at the Dog Park', title: 'Conney at the Dog Park' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326762458402314.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326762458402314.jpg', alt: 'Conney at the Dog Park', title: 'Conney at the Dog Park' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326762458596654.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326762458596654.jpg', alt: 'Conney at the Dog Park', title: 'Conney at the Dog Park' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326772524116094.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326772524116094.jpg', alt: 'Conney Butt', title: 'Conney Butt' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773395922411.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773395922411.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773396221660.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773396221660.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773396119575.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773396119575.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773396215411.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773396215411.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773396362966.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773396362966.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773396459841.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773396459841.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326773396556600.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326773396556600.jpg', alt: 'Conney the Corgi', title: 'Conney the Corgi' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947481659254.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947481659254.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947481812904.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947481812904.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947481914284.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947481914284.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482109040.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482109040.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482112606.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482112606.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482221176.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482221176.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482377331.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482377331.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482482553.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482482553.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482593129.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482593129.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482706461.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482706461.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482856248.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482856248.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947482956223.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947482956223.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1326947483553080.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1326947483553080.jpg', alt: 'January 18', title: 'January 18' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214374420.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214374420.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214138468.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214138468.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214237151.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214237151.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214342527.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214342527.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214446108.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214446108.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214598222.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214598222.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214702127.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214702127.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214811468.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214811468.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276214909202.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276214909202.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215683090.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215683090.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215167867.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215167867.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215269282.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215269282.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215375004.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215375004.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215525438.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215525438.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215626789.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215626789.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215728429.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215728429.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215829860.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215829860.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276215980552.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276215980552.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216832340.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216832340.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216185143.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216185143.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216284175.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216284175.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216440723.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216440723.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216560910.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216560910.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216672809.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216672809.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216775071.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216775071.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276216931359.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276216931359.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217369320.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217369320.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217140401.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217140401.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217290205.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217290205.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217399627.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217399627.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217519031.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217519031.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217622207.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217622207.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217773874.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217773874.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217885124.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217885124.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276217990681.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276217990681.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218129012.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218129012.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218281757.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218281757.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218383177.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218383177.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218497759.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218497759.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218598651.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218598651.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218760987.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218760987.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218859742.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218859742.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276218960851.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276218960851.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219583370.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219583370.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219171767.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219171767.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219324930.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219324930.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219427604.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219427604.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219529151.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219529151.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219629794.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219629794.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219782201.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219782201.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219881615.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219881615.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327276219977509.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327276219977509.jpg', alt: 'North Texas Corgi Meetup', title: 'North Texas Corgi Meetup' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709398475791.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709398475791.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709398602167.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709398602167.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709398758053.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709398758053.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709398867747.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709398867747.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709398981739.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709398981739.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709399155828.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709399155828.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709399274395.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709399274395.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709399398224.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709399398224.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709399564511.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709399564511.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709399682563.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709399682563.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1327709399798755.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1327709399798755.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329110618148826.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329110618148826.jpg', alt: 'Conney in Bed', title: 'Conney in Bed' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329110619826340.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329110619826340.jpg', alt: 'Conney in Bed', title: 'Conney in Bed' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329110620540490.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329110620540490.jpg', alt: 'Conney in Bed', title: 'Conney in Bed' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329110621217510.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329110621217510.jpg', alt: 'Conney in Bed', title: 'Conney in Bed' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226192329.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226192329.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226291460.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226291460.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226388653.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226388653.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226547865.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226547865.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226647331.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226647331.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226750694.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226750694.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365226850612.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365226850612.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329365227513800.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329365227513800.jpg', alt: 'IQ Ball', title: 'IQ Ball' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329542428589264.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329542428589264.jpg', alt: 'Conney Blue Blanket', title: 'Conney Blue Blanket' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329542444213884.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329542444213884.jpg', alt: 'Ginger Blue Blanket', title: 'Ginger Blue Blanket' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329609104845329.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329609104845329.jpg', alt: 'Conney Valentine', title: 'Conney Valentine' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610489201267.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610489201267.jpg', alt: 'Conney and Kyle', title: 'Conney and Kyle' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610489299406.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610489299406.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610490490335.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610490490335.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610490586291.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610490586291.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610490684000.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610490684000.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610490777314.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610490777314.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610490870580.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610490870580.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610491254740.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610491254740.jpg', alt: 'Conney at Dirty Dawgz', title: 'Conney at Dirty Dawgz' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610491121768.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610491121768.jpg', alt: 'Conney at Dirty Dawgz', title: 'Conney at Dirty Dawgz' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329610491216823.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329610491216823.jpg', alt: 'Conney at Dirty Dawgz', title: 'Conney at Dirty Dawgz' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329611890150376.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329611890150376.jpg', alt: 'Conney the Corgi!', title: 'Conney the Corgi!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329948522780133.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329948522780133.jpg', alt: 'Falling Asleep', title: 'Falling Asleep' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329948522847423.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329948522847423.jpg', alt: 'Falling Asleep', title: 'Falling Asleep' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1329948522974313.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1329948522974313.jpg', alt: 'Falling Asleep', title: 'Falling Asleep' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331746954318328.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331746954318328.jpg', alt: 'Conney Ears', title: 'Conney Ears' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778840175577.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778840175577.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778840740332.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778840740332.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778841499136.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778841499136.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778842290905.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778842290905.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778843245940.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778843245940.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778843817719.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778843817719.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778845685106.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778845685106.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778847506837.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778847506837.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778849601300.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778849601300.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778849854932.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778849854932.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778850593394.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778850593394.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778851373377.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778851373377.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331778852108110.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331778852108110.jpg', alt: 'Dog Park - March 12', title: 'Dog Park - March 12' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783078558264.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783078558264.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783078711982.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783078711982.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783078827205.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783078827205.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783078938781.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783078938781.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783079555220.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783079555220.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783081524212.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783081524212.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783081668275.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783081668275.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783081770920.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783081770920.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783081917240.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783081917240.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783082161220.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783082161220.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783082116368.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783082116368.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783082220868.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783082220868.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783082342659.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783082342659.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1331783564284956.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1331783564284956.jpg', alt: 'Conney playing with yarn', title: 'Conney playing with yarn' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332014903869660.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332014903869660.jpg', alt: 'Conney Fisheye', title: 'Conney Fisheye' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332029013594554.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332029013594554.jpg', alt: 'Dog Park - March 17', title: 'Dog Park - March 17' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111816248901.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111816248901.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111816450154.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111816450154.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111816561963.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111816561963.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111816725880.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111816725880.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111816900816.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111816900816.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817315740.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817315740.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817142983.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817142983.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817313226.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817313226.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817426798.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817426798.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817536396.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817536396.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817640069.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817640069.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817805023.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817805023.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111817915176.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111817915176.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818179530.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818179530.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818123190.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818123190.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818318892.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818318892.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818426030.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818426030.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818537427.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818537427.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818646299.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818646299.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818808289.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818808289.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111818914782.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111818914782.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111819284330.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111819284330.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332111819136061.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332111819136061.jpg', alt: 'Corgi Meetup - March 17 Part 1', title: 'Corgi Meetup - March 17 Part 1' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178197091.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178197091.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178305700.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178305700.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178410993.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178410993.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178623799.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178623799.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178765583.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178765583.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178883731.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178883731.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295178989326.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295178989326.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179146908.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179146908.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179257176.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179257176.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179363301.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179363301.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179518085.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179518085.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179621029.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179621029.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179727709.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179727709.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295179839478.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295179839478.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180310590.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180310590.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180138043.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180138043.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180253823.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180253823.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180360937.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180360937.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180518379.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180518379.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180629800.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180629800.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180736664.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180736664.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295180842813.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295180842813.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295181263100.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295181263100.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1332295181108922.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1332295181108922.jpg', alt: 'Corgi Meetup - March 17 Part 2', title: 'Corgi Meetup - March 17 Part 2' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322744578600.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322744578600.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322745942902.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322745942902.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322747529915.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322747529915.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322749132439.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322749132439.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322750899465.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322750899465.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322752621131.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322752621131.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322754207455.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322754207455.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322756161970.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322756161970.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1333322757684826.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1333322757684826.jpg', alt: 'March 17 - Corgi Meetup Part 3', title: 'March 17 - Corgi Meetup Part 3' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1334163144682186.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1334163144682186.jpg', alt: 'Conney - Dog Park April 10', title: 'Conney - Dog Park April 10' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1334163147322530.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1334163147322530.jpg', alt: 'Conney - Dog Park April 10', title: 'Conney - Dog Park April 10' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1334163149200421.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1334163149200421.jpg', alt: 'Conney - Dog Park April 10', title: 'Conney - Dog Park April 10' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1335239721672760.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1335239721672760.jpg', alt: "But I don't want a bath!", title: "But I don't want a bath!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1338108445705653.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1338108445705653.jpg', alt: "Conney Sleepin' on Sean's Lap", title: "Conney Sleepin' on Sean's Lap" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1338108601786481.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1338108601786481.jpg', alt: 'Conney looking sad =(', title: 'Conney looking sad =(' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1338109042252245.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1338109042252245.jpg', alt: 'L-Shaped Conney Sleping on the Couch', title: 'L-Shaped Conney Sleping on the Couch' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1338109042349192.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1338109042349192.jpg', alt: 'L-Shaped Conney Sleping on the Couch', title: 'L-Shaped Conney Sleping on the Couch' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1338109042447951.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1338109042447951.jpg', alt: 'L-Shaped Conney Sleping on the Couch', title: 'L-Shaped Conney Sleping on the Couch' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1356147012252257.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1356147012252257.jpg', alt: '', title: 'Conney Christmas 2012' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1356147015312886.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1356147015312886.jpg', alt: '', title: 'Conney Christmas 2012' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1357787982663675.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1357787982663675.jpg', alt: "Conney's First Snow!", title: "Conney's First Snow!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1357787983147393.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1357787983147393.jpg', alt: "Conney's First Snow!", title: "Conney's First Snow!" }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1362296499527633.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1362296499527633.jpg', alt: 'LOL Conney', title: 'LOL Conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1362296532507455.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1362296532507455.jpg', alt: 'LOL Conney', title: 'LOL Conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1362296559607260.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1362296559607260.jpg', alt: 'LOL Conney', title: 'LOL Conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1362600186130404.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1362600186130404.jpg', alt: 'Conney x 4', title: 'Conney x 4' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367095534641120.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367095534641120.jpg', alt: 'Tired Conney', title: 'Tired Conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367095541592375.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367095541592375.jpg', alt: 'Conney Before Strut Your Mutt', title: 'Conney Before Strut Your Mutt' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367095547497035.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367095547497035.jpg', alt: 'Conney at Strut Your Mutt', title: 'Conney at Strut Your Mutt' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367095553950614.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367095553950614.jpg', alt: 'Conney at Strut Your Mutt', title: 'Conney at Strut Your Mutt' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367096163542220.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367096163542220.jpg', alt: 'Corgi Crew', title: 'Corgi Crew' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367096183501284.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367096183501284.jpg', alt: 'Conney at Strut Your Mutt', title: 'Conney at Strut Your Mutt' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1367192557263953.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1367192557263953.jpg', alt: '', title: 'conneyontheprowl' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1368199086212230.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1368199086212230.jpg', alt: '', title: 'dc5aac0ab92911e2a49722000aaa05c4_7' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1381619682274770.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1381619682274770.jpg', alt: 'Conney on the new couch', title: 'Conney on the new couch' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1386217747664450.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1386217747664450.jpg', alt: 'Christmas Conney', title: 'Christmas Conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1402538088635540.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1402538088635540.jpg', alt: 'Conney on the porch!', title: 'Conney on the porch!' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1403877544663285.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1403877544663285.jpg', alt: '', title: 'image' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1403877569978739.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1403877569978739.jpg', alt: '', title: 'image' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1416094560312674.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1416094560312674.jpg', alt: 'One Up, One Down', title: 'One Up, One Down' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1425930117226858.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1425930117226858.jpg', alt: '', title: 'box' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440365547187860.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440365547187860.jpg', alt: '', title: 'IMG_3627' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440384385239154.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440384385239154.jpg', alt: '', title: 'sleepy-conney-sleepy-casie' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440452751891971.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440452751891971.jpg', alt: '', title: 'corgi-pros-and-cons-cropped-smaller' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440452753375297.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440452753375297.jpg', alt: '', title: 'corgi-pros-and-cons-cropped' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440457202935443.gif', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440457202935443.gif', alt: '', title: 'conney_butt_shake' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440457848825130.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440457848825130.jpg', alt: '', title: 'DSC08088' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440457849296207.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440457849296207.jpg', alt: '', title: 'conneys-first-walk' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440458648154154.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440458648154154.jpg', alt: '', title: 'conneys-last-walk' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440458650639636.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440458650639636.jpg', alt: '', title: 'DSC09339' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440469632306311.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440469632306311.jpg', alt: '', title: 'sean-and-conney-casie-and-conney' }
      .picture.item
        .content
          %a{ href: '/uploads/pictures/1440469712461889.jpg', target: '_blank' }
            %img{ src: '/uploads/pictures/medium_1440469712461889.jpg', alt: '', title: 'sean-and-conney-casie-and-conney-smaller' }
